.driver-map-modal-contents {
  padding: 0;
  height: 100%;

  .inner-container {
    margin: 0;
    height: 100%;

    .job-detail-and-map-container {
      height: 100%;
      padding: 0;
      position: relative;

      // google map
      .GMap {
        margin-top: 27px;
        height: calc(100% - 27px);

        @media only screen and (max-width: 995px) {
          height: 500px;
        }

        > div {
          height: 100%;
        }
        // google pop up (with our class name, info-window-container, added for control)
        .info-window-container {
          // // google pop up inner container
          .gm-style-iw {
            max-width: initial !important;
            overflow: visible;

            & > [style] {
              max-width: initial !important;
              overflow: visible !important;
              padding-bottom: 5px;
            }

            .main-section {
              .select-truck-container {
                .font-awesome-hover-bubble {
                  .bubble {
                    &::before {
                      bottom: -16px;
                      border-color: rgba(0, 0, 0, 0.25) transparent;
                    }
                  }

                  &:hover {
                    .error-bubble-container {
                      display: block !important;
                    }
                  }
                }
              }

              .last-history-item-container {
                &::-webkit-scrollbar {
                  width: 6px;
                }

                &::-webkit-scrollbar-thumb {
                  background-color: rgba(29, 28, 29, 0.52);
                  border-radius: 5px;
                }
              }
            }
          }
        }

        .main-section {
          padding: 0;

          .driver-and-truck-section {
            height: 30px;
            margin-top: -7px;
            border-bottom: 1px solid #f2f2f2;

            div {
              display: block;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding: 3px;
            }

            .driver-name-and-toggle {
              padding: 7px;
              display: flex;
              flex-direction: row;
              white-space: nowrap;
              font-weight: bold;
              border-right: 1px solid #f2f2f2;
              overflow: hidden;

              .name {
                text-overflow: ellipsis;
                overflow: hidden;
              }

              .on-off-circle {
                display: inline-block;
              }
            }

            .select-truck-container {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 7px;
              border-left: 1px solid #e2e2e2;
            }
          }

          .last-history-item-container {
            border-top: 1px solid #e2e2e2;
            min-height: 30px;
            max-height: 94px;
            overflow: auto;
            padding-top: 5px;

            &::-webkit-scrollbar {
              width: 6px;
            }

            &::-webkit-scrollbar-thumb {
              background-color: rgba(29, 28, 29, 0.52);
              border-radius: 5px;
            }

            .last-history-item {
              margin: 3px;

              .last-history-item-details {
                display: block;
                padding: 5px;
                border-radius: 5px;
                background-color: #f2f2f2;
              }
            }
          }
        }
      }
    }

    .driver-list-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      overflow: hidden;
      padding: 0;
    }
  }
}
