.drivers-list {
  .driver-search-container {
    height: 29px;
    border-bottom: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;

    .search-label {
      margin: 0;
      padding: 7px;
      float: left;
      background-color: white;
      width: 50%;
    }

    .input-container {
      border-left: 1px solid #e2e2e2;
      width: 50%;
      float: right;
      height: 29px;
      position: relative;

      i {
        position: absolute;
        font-size: 16px;
        display: block;

        &.fa-search {
          height: 29px;
          width: 29px;
          left: 0;
          top: 0;
          color: #e2e2e2;
          text-align: center;
          padding-top: 5px;
        }

        &.fa-times-circle {
          cursor: pointer;
          right: 10px;
          top: 5px;
          color: black;
          color: #aaa;
        }
      }

      input {
        height: 28px;
        border: 0;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }

  &.partner-fleet {
    .driver-search-container {
      width: 100%;
      height: 34px;
      margin-left: 8px;
      border-top: 1px solid #e2e2e2;

      .search-label {
        height: 100%;
        padding-top: 9px;
      }

      .input-container {
        border-right: 1px solid #e2e2e2;
        height: 100%;

        .fa-search {
          padding-top: 8px;
        }

        .fa-times-circle {
          top: 8px;
        }

        .form-control {
          height: 100%;
          border-radius: 0;
        }
      }
    }
  }
}
