
.DriverListModal-listBottom {
  background-color: white;
  border-top: 1px solid rgb(226, 226, 226);
  flex: 0 1 auto;
}

.DriverMapModal-classTypeField {
  text-align: left;
  margin: 10px;
}

.DriverMapModal-classTypeDisplay {
  color: #dc0300;
  display: block;
}

.DriverMapModal-classTypeLabel {
  display: block;
}

.driver-map-modal {
  text-align: left;

  .col-md-4 {
    background: #f2f2f2;
  }

  .fa-circle {
    padding: 0 5px 0 0;
  }

  .gray-mouseover:hover {
    background-color: #f2f2f2;
  }
  .gm-style-iw + div { display: none; }

  h2 {
    margin: 7px;
    padding: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
  }

  .fa.fa-chevron-down,
  .fa.fa-chevron-up {
    color: #cdcdcd;
  }

  .modal-header .job-id {
    color: #ccc;
    right: 40px;
    position: absolute;
    top: 8px;
    font-size: 16px;
  }
}
