.drivers-list .driver-list-element {
  background-color: #fff;
  border-radius: 4px;
  margin: 8px;
  margin-top: 0;
  padding: 0;
  cursor: pointer;
  border: 1px solid #e2e2e2;

  .number-of-jobs-section {
    text-align: center;
    width: 16%;

    .number {
      font-size: 24px;
    }

    .jobs-label {
      font-size: 10px;
    }
  }

  .main-section {
    padding: 0;

    .driver-and-truck-section {
      .driver-name-and-toggle {
        padding: 5px;
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        font-weight: 700;

        .name {
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .on-off-circle {
          display: none;
        }

        .truck-toggle {
          display: inline-block;
          margin-right: 5px;
          width: 34px;
          position: relative;

          .bubble {
            right: -28px;
            bottom: 35px;
            display: none;

            > span {
              position: absolute;
              top: -28px;
              right: 6px;
            }
          }

          &:hover {
            .bubble {
              display: block;
            }
          }

          &.flip-bubble {
            .bubble {
              bottom: -66px;

              > span {
                top: -51px;
                right: 7px;
              }
            }

            .bubble::before,
            .bubble::after {
              transform: rotate(180deg);
            }

            .bubble::before {
              bottom: 50px;
              right: 26px;
            }

            .bubble::after {
              bottom: 50px;
              right: 29px;
            }
          }
        }
      }

      .select-truck-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        border-left: 1px solid #e2e2e2;

        .fa-exclamation-triangle {
          margin-left: 10px;

          .alert-last-gps-update-bubble {
            color: black;

            .title {
              margin-bottom: 5px;
              font-weight: bold;
            }

            div {
              text-align: center;
            }
          }
        }
      }

      &.truck-info-only {
        .driver-name-and-toggle {
          font-weight: 400;
          color: #a5a5a5;
        }

        .select-truck-container {
          height: 34px;

          .truck-name {
            margin-left: 7px;
          }
        }
      }
    }
  }
}
