.drivers-list {
  flex: 0 1 auto;
  overflow-y: scroll;

  .off-duty-button {
    border-radius: 4px;
    margin: 8px;
    margin-top: 0;
    padding: 5px;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
  }

  .empty-driver-list {
    cursor: auto;
    padding: 10px;
    text-align: center;
  }

  ul {
    background-color: #f2f2f2;
    height: calc(100% - 26px);
    margin: 0;
    padding: 0;
    padding-top: 5px;
    max-height: calc(100vh - 155px);
  }

  &.accept-job,
  &.partner-fleet {
    ul {
      max-height: calc(100vh - 246px);

      .select-truck {
        width: 100%;
        margin: 0;
        border: 0;

        &.disable-for-accept {
          pointer-events: none;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          padding-left: 7px;
        }
      }
    }
  }
}
