.modal-content.driver-map-modal {
  .eta-input-container {
    background-color: white;
    border-top: 1px solid rgb(226, 226, 226);
    flex: 0 1 auto;
    padding: 10px;

    .information-timer-container {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      font-weight: bold;
      color: red;

      .no-job-eta-message,
      .accept-job-timer {
        margin: 3px 0 17px;
      }

      .accept-job-timer {
        max-width: 70px;
        width: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;

        .timer-icon {
          font-size: 14px;
          line-height: 18px;
        }

        .timer-counter {
          margin-left: 5px;
        }
      }
    }

    .scheduled-time {
      margin: auto 0;

      .title {
        font-weight: bold;
      }
    }

    .issc-priority-information {
      .priority-response-container {
        .fa-flag {
          font-size: 20px;
          color: red;
        }

        .message {
          display: inline-block;
          color: red;
          margin: 0 8px;
        }
      }

      .preferred-eta-container,
      .maximum-eta-container {
        .title {
          display: inline-block;
          margin-right: 8px;
          margin-top: 5px;
        }
      }
    }

    .best-eta-container {
      .target-eta {
        font-weight: bold;
      }
    }

    .eta-input-section {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      .input-and-label-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        .eta-label {
          margin: 4px 0;
        }

        .input-container {
          position: relative;

          input {
            width: 100px;
            border-color: #87bae6;

            &.error {
              border-color: red;
            }
          }

          .error_bubble {
            position: absolute;
            right: 5px;
            top: 7px;
            text-align: center;
            border: 1px solid #f00;
            color: #f00;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            font-weight: bold;

            .bubble span {
              margin-right: 7px;
            }
          }
        }
      }

      .explanation-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .explanation-label {
          margin: 4px 0;
        }

        select {
          width: 200px;
        }
      }
    }
  }
}
