.drivers-list .driver-list-element .last-history-item-container {
  border-top: 1px solid #e2e2e2;
  min-height: 30px;
  overflow-x: auto;
  padding-bottom: 8px;

  .last-history-item {
    padding: 8px 10px 0;

    .last-history-item-details {
      display: block;
      padding: 3px 7px;
      border-radius: 3px;
      background-color: #f2f2f2;

      &.selected {
        border: 2px solid #73bde3;
        box-shadow: inset 0 0 1px 0 #73bde3, 0 0 1px 0 #73bde3;
      }
    }
  }
}
