.PartnerOnBoarding {
  height: 100%;

  &-logos {
    text-align: center;

    .AgeroSwoopLogo {
      margin-bottom: 25px;
      width: 403px;
    }
  }

  .content-wrapper.reg {
    height: calc(100% - 50px);
  }

  .row {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .box-body.reg {
    height: initial;
    padding: 30px 100px;
  }

  .box-form.reg {
    flex: 1 0 auto;
    max-width: 600px;
  }

  .box-form.reg h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  .label-reg {
    font-weight: normal;
  }

  .user-mock-group {
    margin-top: 11px;
  }

  &-contactSupport {
    color: #aaa;
    flex-shrink: 0;
    margin: 100px 0;
    text-align: center;
  }

  .errorMark {
    position: absolute;
    right: 5px;
    bottom: 26px;
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-weight: bold;
  }

  .errorText {
    color: #e95337;
    font-size: 10px;
    margin-top: 5px;
  }

  .field {
    position: relative;
  }

  &-error {
    text-align: center;
    font-size: 25px;
    margin: 90px auto 0;
    width: 50%;
  }
}
