@import 'colors.scss';

.component-select {
  margin: 1.125rem 0;
}

div.component-select {
  border: 1px solid #aaa;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 0;
  padding: 0 32px 0 10px;
  position: relative;

  p.selection-label {
    cursor: text;
    font-size: 13px;
    left: 0;
    line-height: 32px;
    margin: 0;
    padding: 0 32px 0 10px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  input[type="text"] {
    border: none;
    border-radius: 3px;
    font-size: 13px;
    line-height: 32px;
    margin: 0 auto;
    padding: 0;

    &[disabled] {
      background-color: transparent;
      cursor: pointer;
    }
  }

  button.toggle-options {
    background-color: #fff;
    border: 0 solid #aaa;
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #ccc;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 32px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
  }

  &.searchable {
    p.selection-label,
    input[type="text"] {
      transition: 0.05s opacity ease-in-out;
    }

    button.toggle-options {
      border-width: 0 0 0 1px;
    }
  }

  button.clear-value {
    background: transparent;
    border-radius: 0;
    color: #aaa;
    font-size: 14px;
    line-height: 32px;
    padding: 0;
    transition: opacity ease-in-out 0.2s;
    vertical-align: top;
    width: 18px;
  }

  &.disabled {
    background-color: #f2f2f2 !important;
    border-color: #ccc !important;

    input[type="text"],
    button.toggle-options,
    button.clear-value {
      background-color: #f2f2f2 !important;
      border-color: #ccc !important;
      pointer-events: none;
    }

    input[disabled] {
      cursor: default;
    }
  }

  &.required {
    border: 2px solid $swoop-blue;

    input[type="text"],
    button.toggle-options,
    button.clear-value {
      line-height: 30px;
    }

    ul.component-select-options {
      left: -2px;
      width: calc(100% + 4px);
    }
  }

  &.input-has-focus {
    border-color: $swoop-blue;

    button.toggle-options {
      border-color: $swoop-blue;
    }
  }

  &.input-is-invalid {
    border-color: red;

    button.toggle-options {
      border-color: red;
    }

    button.clear-value {
      color: red;
    }
  }

  ul.component-select-options {
    background-color: #fff;
    border: 1px solid $swoop-blue;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    color: #333;
    font-size: 13px;
    left: -1px;
    margin: 0;
    min-height: 2em;
    padding: 0;
    position: absolute;
    top: 32px;
    width: calc(100% + 2px);
    z-index: 1;

    li {
      background: transparent;
      cursor: pointer;
      line-height: 2em;
      list-style: none;
      margin: 0;
      padding: 0 10px;
      transition: background-color ease-in-out 0.05s;

      &:hover,
      &.highlight {
        background-color: rgba(127, 188, 226, 0.25);
      }

      &.no-matches {
        color: #ccc;
      }
    }
  }
}
