.PhoneNumberInput-container {
  .component-select-simple {
    width: 92px;
    margin: 0;
    vertical-align: top;

    input {
      width: 100%;
    }

    .component-fabutton {
      width: 25px;
    }

    p.selection-label {
      border: none !important;
      min-height: initial;
      padding-right: 25px !important;

      .flag-icon {
        height: 15px;
        width: 25px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        background-repeat: no-repeat;
      }

      .flag-icon-de {
        background-image: url(../../../images/country-flags/de.svg);
      }

      .flag-icon-us {
        background-image: url(../../../images/country-flags/us.svg);
      }
    }

    ul.component-select-simple-options {
      top: 2px;
      width: auto;

      li {
        white-space: nowrap;
      }
    }
  }

  .form-control {
    display: inline-block;
    width: 119px;
  }
}
