@import 'colors.scss';
@import '~font-awesome/css/font-awesome';

button.component-fabutton {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  max-width: 100%;
  min-width: 18px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  width: auto;

  span {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-left: 4px;
    vertical-align: top;

    &:empty {
      display: none;
    }
  }

  &.small {
    font-size: 13px;
    line-height: 16px;
    min-width: 16px;
  }

  &.medium {
    font-size: 18px;
    line-height: 24px;
    min-width: 24px;
  }

  &.large {
    font-size: 18px;
    line-height: 34px;
    min-width: 34px;
  }

  &.has-label {
    padding: 0 4px;

    &.small {
      padding: 0 4px;
    }

    &.medium {
      padding: 0 6px;
    }

    &.large {
      padding: 0 10px;
    }
  }

  &.primary {
    background-color: $swoop-blue;
    color: #fff;

    &:hover {
      background-color: $swoop-blue-selected;
    }
  }

  &.primary-o {
    color: $swoop-blue;
  }

  &.secondary {
    background-color: #aaa;
    color: #fff;

    &:hover {
      background-color: #b5b5b5;
    }
  }

  &.secondary-o {
    color: #aaa;
  }

  &.light-grey {
    color: #ccc;

    &:hover {
      color: #aaa;
    }
  }

  &.red,
  &.alert {
    color: #dc0300;

    &:hover {
      color: #dc0300;
    }
  }
}
