.agero-connections {
  display: flex;
  flex-direction: column;

  .connection {
    margin-bottom: 5px;

    i {
      cursor: pointer;
      margin-right: 7px;
      color: #aaa;
      font-size: 15px;

      &:hover {
        color: #bbb;
      }
    }

    .vendor-id-label {
      margin-right: 5px;
      font-weight: 600;
    }

    .vendor-id {
      margin-right: 7px;
    }

    .message {
      color: green;
      margin-right: 7px;

      &.red {
        color: red;
      }

      &.orange {
        color: orange;
      }

      &.black {
        color: black;
      }
    }

    button {
      height: 22px;
      line-height: 0;
      background: white;
      color: #aaa;
      border-color: #aaa;

      &:hover {
        color: #bbb;
        border-color: #aaa;
      }
    }
  }
}
