.agero-integration-invalid-role {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px;);
  min-height: 250px;
  width: 100%;

  .fa-exclamation-triangle {
    font-size: 60px;
    color: #ffc300;
  }

  .title {
    font-size: 26px;
    text-align: center;
    margin: 20px 0;
  }

  .message {
    text-align: center;
    font-size: 16px;
    max-width: 350px;
  }

  .button-container {
    display: flex;
    margin: 20px 0;
    max-width: 350px;
    justify-content: space-between;
  }
}
