.modal {
  .modal-content.form.editmodal.account_form {
    .form_container {
      .agero-warning-section {
        display: flex;
        flex-direction: column;
        border: 1px solid #e2e2e2;
        background-color: #f2f2f2;
        border-radius: 3px;
        margin-top: 15px;
        padding: 15px 10px;

        .connect-message {
          color: #ffc300;
          font-weight: bold;

          .fa-exclamation-triangle {
            margin-right: 5px;
            font-size: 16px;
          }
        }

        .unused-locations {
          display: flex;
          flex-direction: column;

          .location {
            margin-top: 5px;
          }
        }
      }
    }
  }
}
