.agero-integration {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-and-content-container {
    display: flex;

    .logo {
      margin-right: 25px;
      align-self: baseline;
    }

    .content {
      display: flex;
      flex-direction: column;

      .label-and-add-button-container {
        margin-bottom: 5px;

        .agero-label {
          font-weight: 600;
          margin-right: 7px;
        }

        .add-button {
          color: white;
          background: #aaa;
          font-size: 10px;
          padding: 3px 4px;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            background: #bbb;
          }
        }
      }
    }
  }
}
