.site-content-container {
  display: flex;
  justify-content: space-between;

  .agero-locations-vendor-list {
    right: 0;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    width: 259px;

    .vender-label {
      font-size: 12px;
      font-weight: bold;
    }

    .vendor-id-message {
      margin-top: 5px;

      .vendor-id {
        margin-right: 10px;
      }

      .status {
        &.red {
          color: red;
        }

        &.green {
          color: green;
        }
      }
    }
  }
}
