.GMap {
  position: relative;

  .map_alternate {
    cursor: pointer;

    .background {
      background-image: url("https://s3-us-west-1.amazonaws.com/joinswoop.static/blurry_map.png");
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 3;
    }

    .steal-map-button {
      width: 150px;
      height: 40px;
      left: calc(50% - 75px);
      top: calc(50% - 40px);
      border: 1px solid #63b4e2;
      color: #63b4e2;
      padding: 10px;
      background: white;
      display: block;
      text-align: center;
      position: absolute;
      border-radius: 3;
    }
  }
}
