.MobileAppPrompt {
  &.simple_modal {
    max-width: 360px;
    padding-top: 15px;
  }

  &-image {
    width: 95%;
  }

  .modal-body {
    text-align: center;
  }

  .modal-footer {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;

    .component-button {
      font-size: 16px;
      line-height: 40px;
    }

    .primary {
      margin-bottom: 10px;
    }
  }
}

.FeedBackForm {
  &.simple_modal {
    max-width: 360px;
    padding-top: 15px;
  }

  .modal-body {
    text-align: center;
  }

  .modal-footer {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;

    .component-button {
      font-size: 16px;
      line-height: 40px;
    }

    .primary {
      margin-bottom: 10px;
    }
  }
}
