.geosuggest.backendSuggest {
  text-transform: none;
  position: relative;
  margin: 0;
  padding: 0;

  &:focus,
  &:hover,
  &:active {
    text-transform: none;
    margin: 0;
    padding: 0;
  }

  &::after {
    display: none;
  }

  .fa {
    position: absolute;
    right: 5px;
    top: 7px;
    color: #ccc;
    font-size: 18px;
    cursor: pointer;
  }

  .geosuggest__suggests {
    &:empty {
      border: 0;
    }

    li.geosuggest-item.info,
    li.geosuggest-item.info:hover {
      background-color: #eee;
      pointer: default;
    }
  }
}
