@import 'mobile_global.scss'; /* in assets/stylesheets */

.mobile-header {
  background-color: $nav-bg;
  box-sizing: border-box;
  color: #cfcfcf;
  font-size: 0;
  height: 50px;
  left: 0;
  overflow: hidden;
  padding: 4px 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 1;

  > button,
  > span {
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: normal;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    padding: 0 12px;
    vertical-align: top;
    width: 50%;

    &.mobile-logo {
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      float: left;
      font-size: 0;
      margin-left: 12px;
      max-width: 135px;
      text-align: left;
      width: calc(50% - 12px);
    }

    a {
      color: #fff;
      font-size: 1rem;
      text-decoration: none;
    }

    .job-id {
      margin-right: 12px;
    }
  }
}
