@import 'mobile_global.scss'; /* in assets/stylesheets */

html {
  font-family: 'Open Sans', Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -ms-touch-action: manipulation;
  touch-action: manipulation; /* remove 300ms delay in some browsers */
}

html,
body {
  background-color: $content-bg;
  height: 100%;
  overflow-y: scroll;
}

#root {
  height: 100%;

  .mobile-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: 50px;
    position: relative;
  }
}
