@import 'mobile_global.scss';

html {
  font-family: 'Open Sans', Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -ms-touch-action: manipulation;
  touch-action: manipulation; /* remove 300ms delay in some browsers */
}

html,
body {
  background-color: $content-bg;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

#root {
  height: 100%;
}

//HACK TO HIDE GOOGLE MAPS CONTROLS
//TODO: dive into react google maps to fix within there
div[controlheight="93"],
div[title="Show street map"],
div[title="Show satellite imagery"] {
  display: none;
}
