.LinkExpired {
  &-description {
    margin-bottom: 15px;
  }

  &-actions {
    margin-top: 15px;
  }

  &-success {
    margin-bottom: 23px;
  }
}

.SetPassword {
  &-username {
    color: #565353;
    font-size: 12px;
  }

  &-description {
    margin-bottom: 23px;
  }

  &-error {
    color: #e95337;
    margin-bottom: 18px;
  }

  .field {
    margin-bottom: 18px;
  }
}

.SetupBilling {
  &-description {
    margin-bottom: 30px;
  }
}
