.date_time_selector {
  display: inline-block;

  &.inside-history-form-section {
    width: 70%;
    margin-bottom: 5px;

    .time_selector .rdtPicker {
      right: 0;
    }
  }

  .rdt {
    display: inline-block;
    width: 50%;
    position: relative;
    height: 32px;

    &::after {
      font-family: FontAwesome;
      color: #555;
      position: absolute;
      right: 9px;
      top: 10px;
      cursor: pointer;
      pointer-events: none;
    }
  }

  &.error {
    .date_selector {
      input {
        border-left-color: red;
        border-left-width: 2px;
        border-bottom-color: red;
        border-bottom-width: 2px;
        border-top-color: red;
        border-top-width: 2px;
      }
    }

    .time_selector {
      input {
        border-right-color: red;
        border-right-width: 2px;
        border-bottom-color: red;
        border-bottom-width: 2px;
        border-top-color: red;
        border-top-width: 2px;
      }
    }
  }

  .date_selector {
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .time_selector {
    input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
    }
  }
}
