/* Requires react-datetime.scss for Date Selector styles */
.date_selector {
  &::after {
    content: '\f073';
  }

  &.date-of-birth {
    width: 100%;

    .rdtPicker {
      width: 100%;
    }
  }
}
