.date_time_selector_with_timezone {
  display: flex;

  .inside-scheduled-form-section,
  .inside-service-form-section {
    .time_selector input {
      padding-left: 6px;
    }

    .date_selector input {
      padding-left: 4px;
      padding-right: 2px;
    }
  }

  .timezone_selector {
    width: 110px;
  }

  .date_time_selector .rdt::after {
    right: 4px;
  }

  .date_time_selector .date_selector.rdt::after {
    display: none;
  }
}
