.swoop_datetime {
  display: inline-block;

  &.rdt {
    position: relative;
    height: 32px;

    &::after {
      font-family: FontAwesome;
      color: #555;
      position: absolute;
      right: 9px;
      top: 10px;
      cursor: pointer;
      pointer-events: none;
      content: '\f073';
    }
  }
}
