/* Requires react-datetime.scss for Time Selector styles */
.time_selector {
  &::after {
    content: '\f017' !important;
  }

  &.inside-edit-site {
    width: 120px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }
}
