<tr>
  <td valign="top">
    <h3 style="text-align: center; margin: 0px !important; font-size: 14px; color: #909090; text-transform: uppercase; font-weight: normal;"><%= subheader_title %></h3>
    <h2 style="text-align: center; margin: 5px 0px 20px !important; font-size: 20px; text-transform: uppercase;"><%= subheader_value %></h2>
  </td>
</tr>
