<!-- Begin Template Body -->
<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody" align="center">
  <tr>
    <td valign="top" align="center">
      <!-- Begin Email Content Header -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td valign="top" >
            <h1 style="text-align: center; margin: 30px 0 !important;">Agero Account Disconnected</h1>
          </td>
        </tr>
      </table>

      <p>Your Agero account with Vendor ID <%= @vendorid %> has been disconnected from Swoop. Reconnect your Agero account to receive Agero jobs in Swoop.</p>

      <p>Reconnect Agero in Swoop Settings &gt; Integrations.</p>

      <p>For support, contact <%= link_to "support@joinswoop.com", "mailto:support@joinswoop.com" %> or (866) 219-8136.</p>
    </td>
  </tr>
</table>
<!-- End Template Body -->
<% content_for :footer do %>
  <table align="center" width="90%" style="margin-bottom: 10px">
    <tr>
      <td>
        <div style="text-align: center; color: #262626; margin: 0; padding: 0; font-weight: 600; letter-spacing: .025em;">
          Get the Swoop Towing App on iOS and Android
        </div>
        <div style="text-align: center; margin-top: 15px">
          <a href="http://apple.co/2tPWLyi"><img width="142px" src="https://s3-us-west-1.amazonaws.com/joinswoop.static/app-store.png" /></a>
          <a href="http://bit.ly/2rDJAjr"><img width="142px" src="https://s3-us-west-1.amazonaws.com/joinswoop.static/google-play-badge.png" /></a>
        </div>
      </td>
    </tr>
  </table>
<% end %>
