
<!-- Begin Template Body -->
<table>
  <tr>
    <td valign="top" align="center">
      <!-- Begin Email Content Header -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td valign="top">
            <h1 style="text-align: center; margin: 10px 0 !important;">Site or RescueProvider marked as non-dispatchable</h1>
          </td>
        </tr>
        <tr>
          <td valign="top" id=" ">
            <div style="text-align: center; margin: 5px 0;">
              <% if @site %>
              Site: <strong><%=@site.id%></strong> - <%=@site.name%>
              <% end %>
              <% if @rescue_provider %>
              RescueProvider: <strong><%=@rescue_provider.id%></strong> - <%=@rescue_provider.name%>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- End Template Body -->
