
<!-- Begin Template Body -->
<table style="width: 100%">
  <tr>
    <td valign="top" align="center">
      <!-- Begin Email Content Header -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td valign="top">
            <h1 style="text-align: center; margin: 10px 0 !important;">
              <span style="text-transform: capitalize"><%= @company %></span> <span style="text-transform: uppercase; color: <%= @status == "up" ? "green" : "red"%>"><%= @status %></span>
            </h1>
          </td>
        </tr>
        <tr>
          <td valign="top" id=" ">
            <div style="text-align: left; margin: 5px 0;">
              Comment: <span style="font-style: oblique"><%= @comment %></span>
            </div>
            <div style="text-align: left; margin: 5px 0;">
              Since: <%= @since %>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- End Template Body -->
