<!-- Begin Template Body -->
<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody" align="center">
  <tr>
    <td valign="top" align="center">
      <!-- Begin Email Content Header -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom:25px">
        <tr>
          <td valign="top">
            <h1 style="text-align: center; margin: 10px 0 !important;">Alert</h1>
          </td>
        </tr>
      </table>
      <!-- End Email Content Header -->
      <!-- ///////////////////////// -->
      <!-- End Standard Content -->
      <!-- Job Details Content Tables Wrap -->
      <center style="padding:0 20px;">
        <div style="text-align: left;">
          <%= @msg %>
        </div>
        <div style="text-align: left;">
          "Target: " <%= @target %>
        </div>
        <div style="text-align: left; margin-bottom:25px;" >
          Swoop Team
        </div>
        
      </center>
      <!-- End Job Details Content Tables Wrap -->
    </td>
  </tr>
</table>
<!-- End Template Body -->

