<!-- Begin Template Body -->
<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody" align="center">
  <tr>
    <td valign="top" align="center">
      <!-- Begin Email Content Header -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom:25px">
        <tr>
          <td valign="top">
            <h1 style="text-align: center; margin: 10px 0 !important;">Job Request</h1>
          </td>
        </tr>
      </table>
      <!-- End Email Content Header -->
      <!-- ///////////////////////// -->
      <!-- End Standard Content -->
      <!-- Job Details Content Tables Wrap -->
      <center style="padding:0 20px;">
        <div style="text-align: left;">
          You have a new job request from Swoop. Please log in to app.joinswoop.com to accept the job and view details.
        </div>
        <table class="invoice-items" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 250px; margin: 20px auto 25px;">
          <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: center; border-top-color: #eee; width: 100%;" valign="top">
              <a href="<%=ENV["SITE_URL"]%>" style="font-size: 18px;margin: 10px auto; width: 100%; padding: 15px 0px; border-radius: 3px; text-align: center; color: white; background-color: #7FBBE4; display: block; text-decoration: none;">
                View Job <%= @job.id %>
              </a>
            </td>
          </tr>
        </table>
        <div style="text-align: left;" >
          Thank you!
        </div>
        <div style="text-align: left; margin-bottom:25px;" >
          Swoop Team
        </div>
        
      </center>
      <!-- End Job Details Content Tables Wrap -->
    </td>
  </tr>
</table>
<!-- End Template Body -->

