<!-- Begin Template Body -->
<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody"
  align="center">
  <tr>
    <td valign="top" align="center">
      <!-- Begin Email Content Header -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td valign="top">
            <h1 style="text-align: center; margin: 10px 0 !important;">
              Dispatch Site Added
            </h1
          </td>
        </tr>
        <tr>
          <td style="padding: 0 20px;">
            <p style="margin: 30px 0 15px">
              <%= @fleet_company.name %> has added <%= @rescue_provider.provider.name %> <%= @rescue_provider.site.name %> as a dispatchable site. The site was added by <%= @fleet_user.name %>.
            </p>
            <p style="margin: 30px 0 15px">
              Please contact <%= @fleet_company.name %> at <%= @fleet_company.support_email || 'their email' %> with any questions.
            </p>
            <p style="margin: 30px 0 15px">
              Thank you,
              <br>
              Swoop Team
            </p>
          </td>
        </tr>
      </table>
      <!-- End Email Content Header -->
    </td>
  </tr>
</table>
<!-- End Template Body -->
