<!-- Begin Template Body -->
<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody"
  align="center">
  <tr>
    <td valign="top" align="center">
      <!-- Begin Email Content Header -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td valign="top">
            <h1 style="text-align: center; margin: 10px 0 !important;">
              Invoice Rejected
            </h1>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="text-align: center; margin: 5px 0;">
              Job ID: <strong><%= @job.id %></strong>
            </div>
          </td>
        </tr>
        <tr>
          <td style="padding: 0 20px;">
            <p style="margin: 30px 0 15px">
              The invoice from Job #<%= @job.id %> has been rejected by
              <%= @fleet.name %>. <%= @partner.name %> should review, adjust,
              and resend the invoice in Swoop.
            </p>
            <p style="margin: 15px 0 15px">
              <strong>Reject Reason:</strong>
              <%= @invoice_rejection.reject_reason %>
            </p>
            <% unless @invoice_rejection.notes.blank? %>
              <p style="margin: 15px 0 15px">
                <strong>Notes:</strong>
                <%= @invoice_rejection.notes %>
              </p>
            <% end %>
            <p style="margin: 15px 0 15px">
              Please contact <%= @fleet.name %> at
              <a href="mailto:<%= @fleet.support_email %>">
                <%= @fleet.support_email %>
              </a>
              with any questions.
            </p>
            <p style="margin: 15px 0 15px">
              Thank you,
              <br>
              Swoop Team
            </p>
          </td>
        </tr>
      </table>
      <!-- End Email Content Header -->
    </td>
  </tr>
</table>
<!-- End Template Body -->
