<!-- Begin Template Body -->
<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody" align="center">
  <tr>
    <td valign="top" align="center">
      <!-- Begin Email Content Header -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td valign="top">
            <h1 style="text-align: center; margin: 10px 0 !important;"><% if @title %><%=@title%><% else %>Job Details<% end %></h1>
          </td>
        </tr>
        <tr>
          <td valign="top" id=" ">
            <div style="text-align: center; margin: 5px 0;">
              Job ID: <strong><%=@job.id%></strong>
            </div>
            <div style="font-size: 12px; color: #a3a3a3; text-transform: uppercase; text-align: center; margin: 0 0 10px;">Submitted at <%=@job.human_created(@tz)%></div>

          </td>
        </tr>
        <tr>
          <td valign="top">
            <div style="text-align: center; margin: 0;">
              <a href="<%=ENV["SITE_URL"]%>">Log in to view in Swoop: app.joinswoop.com</a>
            </div>
          </td>
        </tr>
      </table>
      <!-- End Email Content Header -->
      <!-- ///////////////////////// -->
      <!-- End Standard Content -->
      <!-- Job Details Content Tables Wrap -->
      <center>
        <table border="0" cellpadding="15" cellspacing="0" width="100%" align="center">
          <tr>
            <td>
              <!-- Begin Job Details Summary Table -->
              <table cellpadding="10" cellspacing="0" width="100%" align="center" style="border: 2px solid #f2f2f2; border-radius: 7px 7px 0 0 !important; table-layout: fixed;">
                <!-- Table Header -->
                <tr>
                  <td valign="top" style="background: #f2f2f2; color: #565656; border-radius: 0;">
                    <div style="color: #565656; margin: 0; padding: 4px; font-weight: 600; letter-spacing: .025em; text-transform: uppercase;">Job Details Summary</div>
                  </td>
                </tr>
                <!-- Table Contents -->
                <% if @job.account %>
                <tr>
                  <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                    <div><strong>Account:</strong>&nbsp;&nbsp; <%=@job.account.name%> </div>
                  </td>
                </tr>
                <% end %>

                <% if @job.fleet_company.is_enterprise? %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div>
                        <strong>Claim Number:</strong>&nbsp;&nbsp; <%= @job.ref_number %>
                      </div>
                    </td>
                  </tr>
                <% end %>

                <% if @job.customer_type %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div>
                        <strong>
                          <% if @job.fleet_company.is_enterprise? %>
                            Claim Type:
                          <% else %>
                            Payment Type:
                          <% end %>
                        </strong>&nbsp;&nbsp;
                        <% if @job.customer_type.name == "Customer Pay" %>
                          <strong style="color: #ff0000;" id=" ">
                          <%=@job.customer_type.name%>
                          </strong>
                        <% else %>
                          <%=@job.customer_type.name%>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>

                 <% if @job.unit_number %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div>
                        <strong>Unit Number:</strong>&nbsp;&nbsp; <%= @job.unit_number %>
                      </div>
                    </td>
                  </tr>
                <% end %>

                <% if @job.invoice_vehicle_category_id %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>Class Type:</strong>&nbsp;&nbsp; <%= @job.invoice_vehicle_category.name %> </div>
                    </td>
                  </tr>
                <% end %>

                <tr>
                  <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                    <div><strong>Service:</strong>&nbsp;&nbsp; <%=@job.service_code.try(:name)%> </div>
                  </td>
                </tr>
                <tr>
                  <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                    <div><strong>Vehicle:</strong>&nbsp;&nbsp; <%=@job.stranded_vehicle.try(:color).try(:capitalize) %> <%=@job.stranded_vehicle.try(:year) %> <%=@job.stranded_vehicle.make %> <%=@job.stranded_vehicle.try(:model) %> </div>
                  </td>
                </tr>
                <% if @job.tire_type %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>Tire size:</strong>&nbsp;&nbsp;  <%=@job.tire_type.human %> </div>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                    <div><strong><% if @job.scheduled_for %>Scheduled<% else %>Requested<%end%> Pick Up Time:</strong>&nbsp;&nbsp; <% if @job.scheduled_for %> <%=@job.human_scheduled(@tz) %> <% else %> <%=human_localdate(@job.created_at,@tz) %> ASAP <% end %></div>
                  </td>
                </tr>
                <% if @job.email_notes %>
                <tr>
                  <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                    <div><strong>Notes:</strong>&nbsp;&nbsp; <%=@job.email_notes %> </div>
                  </td>
                </tr>
                <% end %>
                <tr>
                  <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                    <div><strong>Customer</strong>&nbsp;&nbsp; <%=@job.customer.full_name %>, <a href="tel:<%=@job.customer.national_phone%>"><%=@job.customer.national_phone%></a> </div>
                  </td>
                </tr>
                <% if @job.email_dispatcher %>
                <tr>
                  <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                    <div><strong>Request Submitted By:</strong>&nbsp;&nbsp; <%=@job.email_dispatcher.full_name %>, <a href="mailto:<%=@job.email_dispatcher.email %>"><%=@job.email_dispatcher.email %></a>, <a href="tel:<%=@job.email_dispatcher.national_phone%>"><%=@job.email_dispatcher.national_phone%></a> </div>
                  </td>
                </tr>
                <% end%>
              </table>
              <!-- End Details Summary Table -->
              <!-- ///////////////////////// -->
              <br>
              <!-- Begin PICK UP Details Table -->
              <table cellpadding="10" cellspacing="0" width="100%" align="center" style="border: 2px solid #f2f2f2; border-radius: 7px 7px 0 0 !important; table-layout: fixed;">
                <!-- Table Header -->
                <tr>
                  <td valign="top" style="background: #f2f2f2; color: #565656; border-radius: 0;">
                    <div style="color: #565656; margin: 0; padding: 4px; font-weight: 600; letter-spacing: .025em; text-transform: uppercase;">Pick Up Details</div>
                  </td>
                </tr>
                <!-- Table Contents -->
                <% if @job.service_location %>
                <tr>
                  <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                    <div><strong>Address:</strong>&nbsp;&nbsp; <%=@job.service_location.address %> </div>
                  </td>
                </tr>
                <% end %>
                <% if @job.service_location && @job.service_location.location_type %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>Location Type:</strong>&nbsp;&nbsp; <%=@job.service_location.location_type.name %> </div>
                    </td>
                  </tr>
                <% end %>
                <% if @job.pickup_contact %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>Contact:</strong>&nbsp;&nbsp; <%=@job.pickup_contact.full_name %>, <a href="tel:<%=@job.pickup_contact.national_phone%>"><%=@job.pickup_contact.national_phone%></a> </div>
                    </td>
                  </tr>
                <% end %>
                <% if @job.stranded_vehicle.vin %>
                <tr>
                  <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                    <div><strong>VIN:</strong>&nbsp;&nbsp; <%=@job.stranded_vehicle.vin %> </div>
                  </td>
                </tr>
                <% end %>
                <% if @job.stranded_vehicle.license %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>License:</strong>&nbsp;&nbsp; <%=@job.stranded_vehicle.license %> </div>
                    </td>
                  </tr>
                <% end %>
                <% if @job.odometer %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>Odometer:</strong>&nbsp;&nbsp; <%=@job.odometer %> </div>
                    </td>
                  </tr>
                <% end %>
              </table>
              <!-- End PICK UP Details Table -->
              <!-- ///////////////////////// -->
              <br>
              <!-- Begin DROP OFF Details Table -->
              <% if @job.drop_location %>
                <table cellpadding="10" cellspacing="0" width="100%" align="center" style="border: 2px solid #f2f2f2; border-radius: 7px 7px 0 0 !important; table-layout: fixed;">
                  <!-- Table Header -->
                  <tr>
                    <td valign="top" style="background: #f2f2f2; color: #565656; border-radius: 0;">
                      <div style="color: #565656; margin: 0; padding: 4px; font-weight: 600; letter-spacing: .025em; text-transform: uppercase;">Drop Off Details</div>
                    </td>
                  </tr>
                  <!-- Table Contents -->
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>Address:</strong>&nbsp;&nbsp; <%=@job.drop_location.try(:address) %> </div>
                    </td>
                  </tr>
                  <% if @job.dropoff_contact %>
                    <tr>
                      <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                        <div><strong>Contact:</strong>&nbsp;&nbsp; <%=@job.dropoff_contact.try(:full_name) %>, <a href="tel:<%=@job.dropoff_contact.try(:national_phone)%>"><%=@job.dropoff_contact.try(:national_phone)%></a> </div>
                      </td>
                    </tr>
                  <% end %>
                </table>
              <% end %>
              <!-- End DROP OFF Details Table -->

              <% if @job.question_attributes.length > 0 %>
              <table cellpadding="10" cellspacing="0" width="100%" align="center" style="border: 2px solid #f2f2f2; border-radius: 7px 7px 0 0 !important; table-layout: fixed;">
                <!-- Table Header -->
                <tr>
                  <td valign="top" style="background: #f2f2f2; color: #565656; border-radius: 0;">
                    <div style="color: #565656; margin: 0; padding: 4px; font-weight: 600; letter-spacing: .025em; text-transform: uppercase;">Additional Information</div>
                  </td>
                </tr>
                <!-- Table Contents -->
                <% @job.question_attributes.each do |key, value| %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong><%=key%>:</strong>&nbsp;&nbsp; <%=value[:answer]%></div>
                    </td>
                  </tr>
                <% end %>

              </table>
              <%end%>
            </td>
          </tr>
        </table>
      </center>
      <!-- End Job Details Content Tables Wrap -->
    </td>
  </tr>
</table>
<!-- End Template Body -->
