<table cellspacing="0" style="-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif; padding: 8px 8px 0 8px; width: 100%; box-sizing: border-box; font-size: 14px; margin: 0">
  <tbody>
  <tr>
    <td style="padding: 0">
      <div style="font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif; margin-left: auto; margin-right: auto; padding: 0; max-width: 560px; border: 0px; background-color: #fff; padding: 0 20px">
        <div>
          <p style="padding-top: 50px; text-align: center; font-size: 24px">
            Reset Password
          </p>
        </div>
        <div style="color: #777777; padding-bottom: 1px; text-align: left; margin: 30px 0; max-width: 400px;">
          <p style="padding: 3px 0">
            Hello,
          </p>
          <p style="padding: 3px 0">
            Click the link below to reset your password.
          </p>
          <div style="padding: 3px 0;">
            <a href=<%= "#{ENV['SITE_URL']}/user/reset?uuid=#{@password_request.uuid}" %> target="_blank"
               style="text-decoration: none; color: #FFFFFF; display: block; width: 250px; height: 50px;
                   text-align: center; background-color: #7FBCE2; border-radius: 12px; margin: auto; line-height: 50px; vertical-align: center">
              Reset Password
            </a>
          </div>
          <p style="padding: 3px 0">
            If you did not request this password reset, please contact us at hello@joinswoop.com.
          </p>
          <br />
          <p style="padding: 3px 0">
            Thank you! <br />
            Swoop Team
          </p>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
