<!-- Begin Template Body -->
<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody" align="center">
  <tr>
    <td valign="top" align="center">
      <!-- Begin Email Content Header -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td valign="top">
            <h1 style="text-align: center; margin: 10px 0 !important;">New Review for ID #<%=@review.job_id%></h1>
          </td>
        </tr>
      </table>
      <!-- End Email Content Header -->
      <!-- ///////////////////////// -->
      <!-- End Standard Content -->
      <!-- Job Details Content Tables Wrap -->
      <center>
        <table border="0" cellpadding="15" cellspacing="0" width="100%" align="center">
          <tr>
            <td>
              <!-- Begin Job Details Summary Table -->
              <table cellpadding="10" cellspacing="0" width="100%" align="center" style="border: 2px solid #f2f2f2; border-radius: 7px 7px 0 0 !important; table-layout: fixed;">
                <!-- Table Header -->
                <!-- Table Contents -->
                <tr>
                  <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                    <% if @review.rating %>
                      <div><strong>Rating:</strong>&nbsp;&nbsp; <%=@review.rating %></div>
                    <% else %>
                      <div>
                        <strong>Review:</strong><br />
                          <ol>
                            <li>How well informed: &nbsp;&nbsp; <%= @review.nps_question1 || '-' %></li>
                            <li>How on time:  &nbsp;&nbsp; <%= @review.nps_question2 || '-' %></li>
                            <li>NPS:  &nbsp;&nbsp;  <%= @review.nps_question3 || '-' %></li>
                          </ol>
                      </div>
                    <% end %>
                  </td>
                </tr>

                <% if @review.nps_question1 %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>Feedback:</strong>&nbsp;&nbsp; <%=@review.nps_feedback %> </div>
                    </td>
                  </tr>
                <% end %>

                <% if @job.account %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>Account:</strong>&nbsp;&nbsp; <%= @job.account.name %> </div>
                    </td>
                  </tr>
                <% end %>
                <% if @job.rescue_driver %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>Driver:</strong>&nbsp;&nbsp; <%=@job.rescue_driver.full_name%> </div>
                    </td>
                  </tr>
                <% end %>
                <% if @job.send_sms_to_pickup %>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>Pickup Contact:</strong>&nbsp;&nbsp; <%=@job.pickup_contact.full_name%> </div>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>Pickup Number:</strong>&nbsp;&nbsp; <%=@job.pickup_contact.phone%> </div>
                    </td>
                  </tr>
                <% else%>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>Customer Contact:</strong>&nbsp;&nbsp; <%=@job.driver.user.full_name%> </div>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" style="border-top: 1px solid #f2f2f2;" id=" ">
                      <div><strong>Customer number:</strong>&nbsp;&nbsp; <%=@job.driver.user.phone%> </div>
                    </td>
                  </tr>
                <% end %>
              </table>
            </td>
          </tr>
        </table>
      </center>
      <!-- End Job Details Content Tables Wrap -->
    </td>
  </tr>
</table>
<!-- End Template Body -->
