<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody" align="center">
  <tr>
    <td valign="top" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom:25px">
        <tr>
          <td valign="top">
            <h1 style="text-align: center; margin: 10px 0 !important;">Swoop Refund Failed</h1>
          </td>
        </tr>
      </table>
      <center style="padding:0 20px;">
        <div style="text-align: left; margin-bottom: 20px;">
          We are reaching out to let you know that we were unable to credit your customer fee for the below refund because their bank returned the funds.
        </div>
        <div style="text-align: left;">
          <b>Company:</b><span style="padding-left: 5px;"><%= @company.name %></span>
        </div>
        <div style="text-align: left;">
          <b>Job ID:</b><span style="padding-left: 5px;"><%= @job_id %></span>
        </div>
        <div style="text-align: left; margin-bottom: 20px;">
          <b>Refund Date:</b><span style="padding-left: 5px;"><%= @refund_date.strftime("%m/%d/%Y %H:%M") %></span>
        </div>
        <div style="text-align: left; margin-bottom: 20px;">
          This tipically occurs if the card account you're refunding has been closed or for some reason the bank was unable to route the funds to the customer. Your account has been reimbursed for this refund.
        </div>
        <div style="text-align: left; margin-bottom: 20px;">
          We're sorry for the hassle. If you'd still like to complete this refund, you'll need to issue the refund outside of Swoop (for instance - via check, cash, or store credit). We know that's not ideal, and we're sorry this refund didn't succeed through normal means.
        </div>
        <div style="text-align: left;" >
          Thank you,
        </div>
        <div style="text-align: left; margin-bottom:25px;" >
          Swoop Team
        </div>
      </center>
    </td>
  </tr>
</table>
