<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody" align="center">
  <tr>
    <td valign="top" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom:25px">
        <tr>
          <td valign="top">
            <h1 style="text-align: center; margin: 10px 0 !important;">Swoop Payout Failed</h1>
          </td>
        </tr>
      </table>
      <center style="padding:0 20px;">
        <div style="text-align: left;">
          Payout to the bank account for <%= @company.name %> failed. Please update your bank account, ensuring that the Routing and Account numbers are correct.
        </div>
        <table class="invoice-items" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 250px; margin: 20px auto 25px;">
          <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: center; border-top-color: #eee; width: 100%;" valign="top">
              <a href="https://app.joinswoop.com/#user/settings" target='_blank' style="font-size: 14px; margin: 10px auto; width: 80%; padding: 10px 0px; border-radius: 3px; text-align: center; color: white; background-color: #7FBBE4; display: block; text-decoration: none;">
                Update Bank Account
              </a>
            </td>
          </tr>
        </table>
        <div style="text-align: left; margin-bottom:25px;">
          Please contact support@joinswoop.com with any questions.
        </div>
        <div style="text-align: left;" >
          Thank you,
        </div>
        <div style="text-align: left; margin-bottom:25px;" >
          Swoop Team
        </div>
      </center>
    </td>
  </tr>
</table>
