<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody" align="center">
  <tr>
    <td valign="top" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom:25px">
        <tr>
          <td valign="top">
            <h1 style="text-align: center; margin: 10px 0 !important;">Stripe Charge Issue - Job #<%= @charge.invoice.job_id %></h1>
          </td>
        </tr>
      </table>
      <center style="padding:0 20px;">
        <div style="text-align: left;">
          There is an issue with a charge on Stripe. Please check the Stripe dashboard to verify the status of this charge.
        </div>
        <div style="text-align: left; margin-top: 20px">
          <div>
            <b>Job ID:</b><%= " #{@charge.invoice.job_id}" %>
          </div>
          <div>
            <b>Charge Date:</b><%= " #{@charge.created_at.strftime("%m/%d/%Y %H:%M")}" %>
          </div>
        </div>
        <table class="invoice-items" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 250px; margin: 20px auto 25px;">
          <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: center; border-top-color: #eee; width: 100%;" valign="top">
              <a href="https://dashboard.stripe.com" target='_blank' style="font-size: 14px; margin: 10px auto; width: 80%; padding: 10px 0px; border-radius: 3px; text-align: center; color: white; background-color: #7FBBE4; display: block; text-decoration: none;">
                Stripe Dashboard
              </a>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
