#territoriesMap_in_companySettings {
  .territories-message,
  .territories-ui {
    display: none;
  }

  .territories-description {
    margin-bottom: 24px;

    i {
      color: inherit;
      font-size: inherit;
      margin: 0;
    }
  }

  #territories-map {
    height: 480px;
    width: 100%;

    .territories-message {
      background: rgba(255, 255, 255, 0.9);
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
      box-sizing: border-box;
      display: block;
      min-height: 40px;
      line-height: 20px;
      margin: 10px;
      max-width: 448px;
      min-width: 256px;
      padding: 10px 51px 10px 10px;

      #search-territories-map {
        background: transparent;
        border: none;
        display: none;
        height: 20px;
        line-height: 20px;
        margin: 0;
        opacity: 1;
        transition: 0.35s opacity ease-in-out;
        width: 100%;
      }

      .message {
        font-size: 12px;
        margin: 0;
        opacity: 1;
        transition: 0.35s opacity ease-in-out;
      }

      &.searchMap {
        .message {
          display: none;
        }

        #search-territories-map {
          display: block;
        }
      }

      .saving-message {
        font-size: 13px;
        left: 0px;
        line-height: 40px;
        margin: 0;
        opacity: 0;
        padding-left: 40px;
        position: absolute;
        transition: 0.35s opacity ease-in-out;
        top: 0;

        span {
          color: #4bbf61;
          font-size: 28px;
          font-weight: normal;
          height: 40px;
          left: 0;
          line-height: 40px;
          margin-right: 0;
          position: absolute;
          text-align: center;
          top: 0;
          width: 40px;
        }
      }

      &.saving {
        #search-territories-map,
        .message {
          opacity: 0;
        }

        .saving-message {
          opacity: 1;
        }
      }

      .vertical-divider {
        background-color: rgb(230, 230, 230);
        height: calc(100% - 10px);
        margin: 5px 0;
        position: absolute;
        right: 40px;
        top: 0;
        width: 1px;
      }

      .territories-search-button {
        color: #666;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
      }
    }

    .territories-ui {
      display: block;
      margin: 10px;
      text-align: center;
      width: 40px;

      button.component-fabutton {
        color: #666;
        height: 40px;
        line-height: 40px;
        width: 40px;

        &:hover {
          color: #000;
        }

        &.active {
          color: #7fbce2;
          cursor: default;
        }
      }

      .drawing-modes {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;

        div.divider {
          background-color: rgb(230, 230, 230);
          height: 1px;
          margin: 0 5px;
          position: relative;
          top: 0;
          width: 30px;
        }
      }

      .fit-bounds-on-markers,
      .delete-territories-button {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        margin-top: 10px;
      }
    }
  }

  .territories-controls {
    display: none;
    margin: 10px 0;

    button {
      margin-right: 10px;
    }
  }
}
