#territoriesMap_in_companySettings {
  .territories-description {
    margin-bottom: 12px;

    i {
      color: inherit;
      font-size: inherit;
      margin: 0;
    }
  }

  .GMap {
    height: auto;
    position: relative;
    width: 100%;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
      position: static;
    }
  }

  #territories-partner-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;

    .saving-territories {
      overflow: visible;
      position: absolute;
      top: 0 !important;
      right: 0 !important;
      width: 0;
      height: 0;

      > div {
        background-color: #42b756;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        color: #fff;
        line-height: 40px;
        opacity: 0;
        position: absolute;
        right: 60px;
        text-align: center;
        top: -50px;
        transition: opacity ease-in-out 0.25s, top ease-in-out 0.25s;
        user-select: none;
        width: 92px;

        &.saving {
          opacity: 0.85;
          top: 10px;
        }
      }
    }

    .territories-ui {
      display: block;
      margin: 10px;
      text-align: center;
      width: 40px;

      button.component-fabutton {
        color: #666;
        height: 40px;
        line-height: 40px;
        width: 40px;

        &:hover {
          color: #000;
        }

        &.active {
          color: #7fbce2;
          cursor: default;
        }

        &[disabled] {
          opacity: 0.25;
        }
      }

      .drawing-modes {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;

        div.divider {
          background-color: rgb(230, 230, 230);
          height: 1px;
          margin: 0 5px;
          position: relative;
          top: 0;
          width: 30px;
        }
      }
    }

    .territories-zoom-to-sites {
      .fit-bounds-on-markers {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        height: 40px;
        line-height: 40px;
        margin-right: 10px;
        width: 40px;
      }
    }
  }
}
