.job_info_window {
  line-height: 18px;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  .status {
    font-weight: bold;
  }
}

.truck_info_window {
  line-height: 18px;

  .company {
    font-weight: bold;
  }
}
