
.SettingsColor-colorSelector {
  width: 150px !important;
  margin: 5px !important;
  height: 30px !important;
}

.SettingsColor-colorLabel {
  width: 150px;
  display: 'inline-block';
  vertical-align: 'middle';
}

.SettingsColor-colorLabel--main {
  display: 'block';
  font-weight: 'bold';
}
