.search-box {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
  height: 40px;
  margin: 0 0 10px;
  padding: 0;
  position: relative;
  transition: 0.2s ease-in-out width;
  width: 40px;

  button {
    color: #666;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
  }

  input[type="text"] {
    border: none;
    border-radius: 2px;
    display: none;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 12px 50px 12px 10px;
    width: 100%;
  }

  &.expanded {
    width: 256px;

    button {
      border-left: 1px solid rgb(230, 230, 230);
      border-radius: 0 2px 2px 0;
    }

    input {
      display: block;
    }
  }
}
