<% content_for :head do %>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?client=<%= ENV['GOOGLE_PREMIUM_CLIENT_ID'] %>&v=<%= ENV['GOOGLE_RELEASE_CHANNEL'] || 'weekly' %>">
    </script>
    <script src="https://global.localizecdn.com/localize.js"></script>
    <script>!function(a){if(!a.Localize){a.Localize={};for(var e=["translate","untranslate","phrase","initialize","translatePage","setLanguage","getLanguage","detectLanguage","getAvailableLanguages","untranslatePage","bootstrap","prefetch","on","off"],t=0;t<e.length;t++)a.Localize[e[t]]=function(){}}}(window);</script>

    <script>
      Localize.initialize({
        key: '<%= ENV['LOCALIZE_KEY'] %>',
        rememberLanguage: true
      });
    </script>
<% end %>


<div class="wrapper">

  <!-- Main Header -->
  <header id="navbar" class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src=<%= asset_path("Swoop_Logo-white-transparent.png") %> alt="Swoop" width=110></span>
    </a>
  </header>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="row">

      <!-- Vehicle Location AUTO SHARE -->
      <div id="section-autoShareLocation">

        <!-- form start -->
        <form role="form" id="auto-form">
          <div class="col-md-12">
            <div id="map-canvas" class="share-location-map"></div>

            <div id="service-location-box">
              <p class="service-title"> ESTIMATED ARRIVAL TIME </p>
              <p id="address" class="service-location eta"> Finding Location... </p>
            </div>
          </div><!-- /.col -->
        </form>

      </div><!-- /.Vehicle location AUTO SHARE box-form -->

    </div> <!-- row -->
  </div><!-- /.content-wrapper -->

</div><!-- ./wrapper -->

