#content-wrapper {
  z-index: initial !important;

  @media only screen and (max-width: 580px) {
    margin: 0;
  }

  .rates {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    .action_header {
      border-bottom: 1px solid #e2e2e2;
      border-top: 1px solid #e2e2e2;
      text-align: center;
      padding: 5px;
      position: relative;
      height: 30px;
      background-color: white;

      .section_header {
        white-space: nowrap;
        font-size: 13px;
        font-family: "Open Sans";
        font-weight: bold;
        color: #7fbce2;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0;
        line-height: 20px;
        display: inline-block;
        vertical-align: middle;
      }

      .action {
        position: relative;
        float: right;
        color: #b4b4b4;
        font-size: 36px;
        vertical-align: middle;
        cursor: pointer;
        z-index: 999;

        &:not(.fa) {
          top: -4px;
        }

        &.fa {
          font-size: 20px;

          &.fa-star,
          &.fa-star-o {
            color: #ffdf4d;
            float: left;
          }

          &.fa-star-o {
            color: #e2e2e2;

            &:hover {
              color: #ffdf4d;
            }
          }

          &.fa-times {
            font-size: 24px;
            margin-top: -4px;
          }

          &.fa-pencil {
            margin: -1px 7px 0 7px;
          }
        }

        &:hover {
          color: #606060;
        }
      }
    }

    .storage_rate_options,
    .hourly_rate_options {
      border: 0 solid #e2e2e2;
      border-width: 1px 0 0;
      margin: 10px;

      h4 {
        color: #777;
        font-family: 'Open Sans';
        font-size: 11px;
        margin: 12px 0 12px;
        text-transform: uppercase;
      }

      > div {
        @media screen and (max-width: 675px) {
          padding: 0.5em 0;
        }

        div.inputWrapper,
        input,
        select,
        textarea {
          display: inline-block;
          vertical-align: middle;
        }

        input,
        select,
        textarea {
          margin: 5px;
          max-width: 100%;
          width: 256px;
        }

        div.inputWrapper {
          margin: 5px;

          input {
            margin: 0;
          }
        }
      }

      label,
      label + span {
        display: inline-block;
        line-height: 3;
        margin: 0;
        width: auto;

        @media screen and (max-width: 675px) {
          display: block;
          line-height: 1.5;
        }
      }

      label {
        font-family: 'Open Sans';
        font-weight: bold;
        max-width: 100%;
        min-width: 256px;
      }
    }

    .additional_items_container {
      border-top: 1px solid #e2e2e2;
      margin: 10px;

      h4 {
        color: #777;
        font-size: 11px;
        margin-left: 6px;
        text-transform: uppercase;
        font-family: "Open Sans";
        margin-top: 25px;
      }

      .additional_items {
        margin-bottom: 5px;
        white-space: nowrap;

        > i.fa.fa-times-circle {
          margin-top: 8px;
          display: inline-block;
        }

        > span {
          margin: 5px;
          margin-top: 10px;
          display: inline-block;
        }

        .form-group:not(.editing) {
          display: inline;
        }

        .form-group.bold {
          span {
            font-weight: bold;
          }
        }
      }
    }

    .rate_table {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;

      .fa.fa-times-circle {
        display: inline;
        font-size: 15px;
        float: left;
        color: #d2d2d2;
        margin-right: 5px;
        margin-top: -4px;
      }

      .default {
        margin-left: 18px;
      }

      .rate_row {
        display: inline-block;
        margin: 10px 0 5px;
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;

        &:first-child {
          > div {
            font-family: 'Open Sans';
            font-size: 12px;
            font-weight: bold;
            line-height: 1.25;
            text-align: center;
            vertical-align: bottom;
          }
        }

        > div {
          &:first-child {
            font-family: 'Open Sans';
            font-size: 12px;
            font-weight: bold;
            padding-left: 5px;
            text-align: left;
            width: 120px;
          }

          display: inline-block;
          text-align: center;
          vertical-align: middle;
          white-space: normal;
          width: 96px;

          @media screen and (max-width: 675px) {
            width: 70px;
          }
        }

        .value_container {
          padding: 0 3px;

          span {
            line-height: 1.5;
          }

          .form-control {
            text-align: center;
          }
        }
      }
    }

    .group_title {
      font-size: 13px;
      font-family: "Open Sans";
      font-weight: bold;
      color: #7fbce2;
      text-align: center;
      border-bottom: 1px solid #e2e2e2;
      border-top: 1px solid #e2e2e2;
      padding: 10px;
      margin: 0;
    }

    .topmargin {
      margin-top: 20px;
    }

    h2 {
      color: black;
      font-family: "Open Sans";
      border-bottom: none;
      text-transform: none;
    }

    .money {
      .inputWrapper {
        position: relative;

        input {
          padding-left: 16px;
        }

        &::before {
          pointer-events: none;
          top: 50%;
          color: #aaa;
          margin-top: -8px;
          vertical-align: middle;
          left: 7px;
          font-size: 13px;
          position: absolute;
        }
      }
    }

    .percent {
      span::after {
        content: "%";
      }

      .inputWrapper {
        position: relative;

        input {
          padding-left: 16px;
          text-align: left;
        }

        &::after {
          content: "%";
          pointer-events: none;
          top: 50%;
          color: #aaa;
          margin-top: -8px;
          vertical-align: middle;
          left: 5px;
          font-size: 13px;
          position: absolute;
        }
      }
    }

    .ratesWidget {
      border: 1px solid #ccc;
      border-radius: 4px;
      overflow: hidden;

      .row_container .row {
        &:hover {
          background-color: transparent;
        }

        .cell {
          padding: 0;
          border-top-color: #ccc;
          border-right-color: #ccc;

          &:last-child {
            border-right: 0;
          }

          .rate_col {
            height: 100%;
            overflow-y: auto;
            width: 100%;
            white-space: normal;
            overflow-x: wrap;
          }

          &.header {
            line-height: 40px;
            text-align: center;
            font-family: "Open Sans";
            font-weight: bold;
            font-size: 15px;
            border-top: 0;
          }

          .rates_type_container {
            background-color: #f2f2f2;
            overflow-y: auto;
            height: 100%;
            height: -webkit-calc(100% - 30px); /** Safari 6, Chrome 19-25 **/
            height: -moz-calc(100% - 30px); /** FF 4-15  **/
            height: calc(100% - 30px);
            padding-top: 10px;

            ul {
              margin: 0;
              padding: 0;

              li {
                background-color: white;
                margin: 10px;
                border-radius: 3px;
                border: 1px solid #ececec;
                width: auto;
                padding: 0;
                padding-bottom: 35px;
                line-height: normal;
                border-top: 0;

                &:first-child {
                  margin-top: 0;
                }

                .buttons {
                  margin-top: -15px;
                  padding: 0;
                  clear: both;
                }
              }
            }
          }
        }
      }

      &.fleet {
        .form-group {
          &:not(.rateType) {
            span {
              margin-left: 15px;
            }
          }
        }
      }

      .right {
        float: right;
      }

      .form_container {
        .form-group {
          vertical-align: top;
          margin: 1% 2%;

          &.rightSide {
            margin-left: 0;
          }

          &.rateType {
            width: 96%;
          }

          width: 47%;
          display: inline-block;

          @media only screen and (max-width: 500px) {
            width: 100% !important;
          }

          label {
            font-family: "Open Sans";
            font-weight: bold;
          }
        }

        label.error {
          font-family: "Open Sans";

          &.main {
            display: none;
          }
        }

        .buttons {
          float: right;
          margin: 0 20px 0;

          .error {
            margin-top: 15px;
          }
        }
      }

      ul.key_list {
        margin: 0;
        padding: 0;
        width: 100%;

        li {
          list-style: none;
          padding: 10px 20px;
          margin: 0;
          position: relative;
          width: 100%;
          overflow-x: hidden;
          text-overflow: ellipsis;

          .fa.fa-times-circle {
            float: right;
            color: #d2d2d2;
            display: none;
          }

          &:hover {
            .fa.fa-times-circle {
              display: inline-block;
            }

            &.selected {
              .fa.fa-times-circle {
                color: white;
              }
            }

            background-color: #f2f2f2;
          }

          &::after {
            content: "\f0da";
            font-family: FontAwesome;
            position: absolute;
            color: #565656;
            right: 8px;
            top: 50%;
            margin-top: -12px;
            font-size: 18px;
            font-weight: normal;
          }

          &.selected {
            background-color: #aaa;
            color: white;

            &::after {
              color: white;
            }
          }
        }
      }
    }
  }
}
