.NotificationSettings {
  &-container {
    .inputWrapper {
      align-items: center;
      display: flex;

      .control-label {
        flex: 1 1 0;
        font-size: 13px;
        font-weight: normal;
      }

      > div {
        flex: 1 1 0;
      }
    }
  }
}
