@import 'stylesheets/colors.scss';
@import 'stylesheets/_mixins.scss';

.modal-content.charge-card-modal {
  max-width: 420px;

  .modal-footer {
    display: none;
  }

  .StripeElement--focus {
    border: 1px solid $swoop-blue;
  }

  .StripeElement--invalid {
    border-color: red;
  }

  .disabled {
    .form-group {
      &.money {
        .inputWrapper::before {
          display: none;
        }
      }
    }
  }

  .error {
    color: red;
    font-size: 10px;
    white-space: nowrap;
    font-weight: 600;

    &.card_error {
      white-space: initial;
    }

    &.general_error {
      display: inline-block;
      margin-bottom: 10px;
    }
  }

  .form-group {
    &.money {
      position: relative;

      input {
        padding-left: 15px;
      }

      .inputWrapper::before {
        position: absolute;
        left: 8px;
        top: 28px;
      }
    }

    &.half_width {
      vertical-align: top;
      width: calc(50% - 10px);

      &.left {
        margin-right: 10px;
      }

      &.right {
        margin-left: 10px;
      }
    }
  }

  .btn {
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
    background-color: #a0a0a0 !important;

    &.green {
      background-color: #42b756 !important;
    }

    &.disabled {
      background-color: #dadada !important;
    }
  }

  @include keyframes(heightExpand) {
    0% {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    100% {
      max-height: 38px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .success {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-top: -15px;
    margin-bottom: 15px;
    color: white;
    display: block;
    background-color: #42b756;
    text-align: center;
    padding: 10px;
    max-height: 38px;

    @include animation(heightExpand 0.3s linear);
  }
}
