@import 'stylesheets/colors.scss';
@import 'stylesheets/_mixins.scss';

.modal-content.setup-card-modal {
  .setup-card-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .title {
      font-size: 22px;
    }

    .credit-card-icon {
      margin: 30px 0 30px 12px;
      width: 45%;
    }

    .main-text {
      margin-bottom: 15px;
      font-size: 16px;
    }

    .questions {
      font-size: 16px;
    }
  }

  h3 {
    display: none;
  }

  .close {
    margin-top: -15px;
    margin-right: -2px;
    font-size: 48px;
    font-weight: 400;
  }

  .modal-footer {
    display: flex;
    justify-content: center;

    & > div {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
