.loadingContainer {
  font-size: 0;
  text-align: center;
  vertical-align: middle;

  span {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    margin: 0.5em 0.625em;
    vertical-align: middle;

    &.loadingTitle {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .loading {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    vertical-align: middle;

    > div {
      padding-top: 100%;
      position: relative;
      width: 100%;

      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }

    svg {
      height: auto;
      width: 100%;
    }
  }
}

.charge-card-modal {
  .loadingContainer {
    background-color: rgba(255, 255, 255, 0.95);
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    .loading {
      margin: 36px auto;
    }
  }
}

.refund_popup {
  .loadingContainer {
    background-color: rgba(255, 255, 255, 0.95);
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    .loading {
      margin: 12px auto;
    }
  }
}
