@import 'colors.scss';

.component-select-simple {
  margin: 1.125rem 0;
}

div.component-select-simple {
  border: 1px solid #aaa;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 0;
  padding: 0 32px 0 10px;
  position: relative;

  p.selection-label {
    font-size: 13px;
    left: 0;
    line-height: 32px;
    margin: 0;
    padding: 0 32px 0 10px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  input[type="text"] {
    border: none;
    border-radius: 3px;
    font-size: 13px;
    line-height: 32px;
    margin: 0 auto;
    padding: 0;

    &[disabled] {
      background-color: transparent;
      cursor: pointer;
    }
  }

  button.toggle-options {
    color: #cfcfcf;
    cursor: pointer;
    display: block;
    font-size: 25px;
    line-height: 32px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
  }

  &.disabled {
    background-color: #f2f2f2 !important;
    border-color: #ccc !important;

    input[type="text"],
    button.toggle-options {
      background-color: #f2f2f2 !important;
      border-color: #ccc !important;
      pointer-events: none;
    }

    input[disabled] {
      cursor: default;
    }
  }

  &.required {
    border: 2px solid $swoop-blue;

    input[type="text"],
    button.toggle-options {
      line-height: 30px;
    }

    ul.component-select-simple-options {
      left: -2px;
      width: calc(100% + 4px);
    }
  }

  &.input-has-focus {
    border-color: $swoop-blue;

    button.toggle-options {
      border-color: $swoop-blue;
    }
  }

  &.input-is-invalid {
    border-color: red;

    button.toggle-options {
      border-color: red;
    }
  }

  ul.component-select-simple-options {
    background-color: #fff;
    border: 1px solid $swoop-blue;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    color: #333;
    font-size: 13px;
    left: -1px;
    margin: 0;
    min-height: 2em;
    padding: 0;
    position: absolute;
    top: 32px;
    width: calc(100% + 2px);
    z-index: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(29, 28, 29, 0.52);
      border-radius: 5px;
    }

    li {
      background: transparent;
      cursor: pointer;
      line-height: 2em;
      list-style: none;
      margin: 0;
      padding: 0 10px;
      transition: background-color ease-in-out 0.15s;

      &:hover,
      &.highlight {
        background-color: rgba(127, 188, 226, 0.25);
      }

      &.no-matches {
        color: #ccc;
      }
    }
  }
}
