.CheckboxSetting- {
  &component {
    margin: 10px 0;

    input {
      display: inline-block;
    }

    label {
      display: inline-block;
      width: auto;
      margin-left: 5px;
    }
  }

  &subtext {
    color: #aaa;
    padding-left: 4px;
    font-size: 11px;
    font-weight: normal;
  }
}
