#settings-configure-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  margin-top: 20px;
  max-width: 914px;
  position: relative;

  #settings-configure {
    border-left: 1px solid #ccc;
    flex: 1 1 auto;
    padding: 0 40px;
    position: relative;

    h3.configure-section-heading {
      background-color: #f2f2f2;
      font-size: 14px;
      font-weight: normal;
      line-height: 1em;
      margin: 0 -40px 40px;
      padding: 13px 40px;
    }

    .configure-component {
      box-sizing: border-box;
      margin: 0;
      padding-bottom: 40px;

      h4 {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: bold;
        margin: 10px 0;
      }

      .description {
        font-size: 12px;
        margin: 10px 0;
      }

      input,
      label,
      select {
        cursor: pointer;
      }

      &.NotificationSettings-container {
        border-bottom: 1px solid #ccc;
        margin-bottom: 40px;
        padding-bottom: 30px;

        .dropdown-container {
          height: 73px;
        }
      }

      &#email_settings {
        font-size: 12px;
        padding-bottom: 30px;

        &::after {
          clear: both;
          content: "";
          display: block;
        }

        #Containerjob_status_email_frequency {
          margin-bottom: 10px;
        }

        #Inputjob_status_email_frequency {
          display: inline-block;
          margin: 0 10px 0 0;
          width: auto;
        }

        .checkbox_control {
          float: left;
          margin: 0 10px 10px 0;
          width: 256px;

          input,
          label {
            margin: 0 !important;
          }

          label {
            font-size: 12px;
            padding-left: 10px;
          }
        }
      }

      &#timezone_settings {
        span {
          font-size: 12px;
        }

        span,
        select {
          display: inline-block;
          margin-right: 10px;
        }
      }

      &#dashboardcolumns_settings {
        .swoopTable .row_container .row .cell {
          padding: 10px;
        }

        .noselect {
          display: inline-block;
          margin-right: 10px;
          position: relative;
          vertical-align: top;
          width: 256px;

          .dashboard_tab_option {
            span {
              display: inline-block;
              line-height: 20px;
              max-width: 100%;
              overflow: hidden;
              padding-right: 30px;
              text-overflow: ellipsis;
            }

            &:hover {
              .remove {
                display: block;
              }
            }

            .remove {
              display: none;
            }
          }

          .row-text {
            height: 20px;
            line-height: 20px;
            padding-right: 30px;
            position: relative;
            width: 100%;

            span {
              padding-right: 0;
            }

            i.fa-bars {
              cursor: ns-resize;
              font-size: 16px;
              height: auto;
              line-height: 20px;
              margin: 0 10px 0 0;
              text-align: center;
              vertical-align: top;
              width: auto;
            }

            .remove {
              color: #aaa;
              cursor: pointer;
              font-size: 24px;
              font-weight: bold;
              height: 20px;
              line-height: 20px;
              position: absolute;
              right: 0;
              text-align: center;
              top: 0;
              width: 20px;
            }
          }
        }
      }

      &#notifications_in_companySettings {
        padding-bottom: 30px;

        > div {
          margin: 0 0 10px !important;

          > input,
          > label {
            margin: 0 !important;
          }

          > label {
            font-size: 12px;
            padding-left: 10px;
          }
        }
      }

      &#logo_in_companySettings {
        border-bottom: 1px solid #ccc;
        margin-bottom: 40px;

        .logo-uploader {
          margin: 10px 0 0;

          img {
            display: inline-block;
            max-height: 75px;
            vertical-align: top;
            width: auto;
          }
        }
      }

      &#dashboardTabs_in_companySettings,
      &#dashboardFilters_in_companySettings {
        border-bottom: 1px solid #ccc;
        margin-bottom: 40px;
        padding-bottom: 30px;

        input,
        label {
          margin: 0 !important;
        }

        label {
          font-size: 12px;
          padding-left: 10px;

          span {
            display: inline-block;
          }
        }
      }

      &#dashboardColors_in_companySettings {
        padding-bottom: 30px;

        > div > div {
          margin-bottom: 10px;
        }

        .color-label {
          display: inline-block;
          font-size: 12px;

          span + span {
            font-size: 11px;
          }
        }

        .geosuggest {
          margin: 0 !important;

          .geosuggest-item:first-child {
            padding: 3px 0 0 0 !important;
          }
        }
      }

      &#bankinformation_in_companySettings {
        border-bottom: 1px solid #ccc;
        margin-bottom: 40px;
        padding-bottom: 30px;

        button.link-bank {
          display: block;
          margin: 10px 0;
        }

        > div {
          font-size: 12px;
          margin-bottom: 10px;
        }
      }

      &#paymentPermissions_in_companySettings {
        padding-bottom: 30px;

        > div {
          margin-bottom: 10px;

          > * {
            display: inline-block;
            vertical-align: top;
          }

          > span {
            font-weight: bold;
            margin-right: 10px;
          }
        }
      }

      &.object_section {
        padding-bottom: 30px;

        div + h4 {
          font-size: 12px;
        }

        .object_table_wrapper {
          margin: 10px 0;
          max-width: 100%;
          width: 100%;

          .object_table {
            border: 1px solid #ccc;
            font-size: 12px;
            margin: 0;
            table-layout: fixed;
            width: 100%;

            thead {
              > tr > th {
                font-weight: normal;
              }

              .object_table_header {
                font-weight: normal;
                background-color: #f0f0f0;
                border-bottom: 1px solid #ccc;
                padding: 10px;
              }
            }

            .object_table_body {
              span.empty_state {
                color: #ccc;
                margin: 10px;
              }

              tr {
                border-bottom: 1px solid #ccc;
                background-color: white;

                &:last-child {
                  border-bottom: 0;
                }

                & > td {
                  width: 33.333333%;
                  border-right: 1px solid #ccc;
                  background-color: white;
                  padding: 10px;

                  &:last-child:not(.force_bottom) {
                    border-right: 0;
                  }
                }
              }
            }
          }
        }
      }

      &#commissions_in_companySettings {
        .object_table_wrapper {
          display: inline-block;
          margin-right: 10px;
          vertical-align: top;
          width: 256px;

          th {
            position: relative;
          }
        }
      }

      &#networkStatuses_in_companySettings {
        div {
          overflow: visible;
        }

        .generalTable {
          margin: 10px 0;
        }

        .geosuggest {
          height: 27px;
          padding-top: 0 !important;
          margin: 0;
          max-width: 150px;

          .geosuggest-item {
            padding-top: 0 !important;
          }
        }
      }

      &#waivers_in_companySettings {
        padding-bottom: 0;

        > div {
          border-bottom: 1px solid #ccc;
          font-size: 12px;
          margin-bottom: 40px;
          padding-bottom: 40px;

          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
          }
        }
      }

      &#quickbooks_in_companySettings,
      &#generalSettings_in_companySettings {
        padding-bottom: 30px;

        > div {
          font-size: 12px;
          margin: 0 0 10px !important;

          input,
          label {
            margin: 0 !important;
          }

          label {
            padding-left: 10px;
          }
        }
      }
    }
  }

  .resizableCell {
    background-color: transparent !important;
  }

  .resize_handle {
    display: none;
  }

  .settings.user_form {
    max-width: 100%;
    width: auto;

    .form-group {
      float: none;
      margin: 0 0 10px;
    }

    .checkbox_control {
      margin: 0;
    }
  }
}
