.settings--configure--navigation {
  align-self: flex-start;
  flex: 0 0 25%;
  padding: 0;
  position: sticky;
  top: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    strong {
      display: block;
      line-height: 3em;
      padding: 0 10px;
      text-align: left;
      width: 100%;
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      display: block;
      line-height: 3em;
      padding: 0 10px;
      text-align: left;
      width: 100%;

      &:hover {
        background-color: #f2f2f2;
      }
    }

    .current {
      color: #7fbce2;
    }
  }
}
