.settings_container_class {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

  h3 {
    font-size: 12px;
    color: #42b756;
    display: block;
    margin: 10px;
    padding: 0;
  }

  h4 {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    font-family: "Open Sans";
    font-weight: bold;
  }
}
