.tools_list {
  .inputWrapper {
    position: relative;
    width: 300px;
    margin: 10px 0 0 20px;
    display: block;
  }

  .tool_wrapper {
    border-top: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
  }

  .form-group {
    width: initial;

    .geosuggest {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  #new-request {
    display: block;
    margin: 0 0 20px 20px;
  }
}
