header.app-header {
  .app-nav-container {
    ul.app-nav {
      li.after-hours {
        display: none;
        float: right;
        margin: 0;

        &:empty {
          display: none !important;
        }

        .after-hours-widget {
          border-radius: 10px;
          box-sizing: border-box;
          line-height: initial;
          position: relative;

          .after-hours-icon,
          .after-hours-status {
            border-left: 1px solid #676767;
            cursor: pointer;
            display: inline-block;
            height: 50px;
            margin: 0;
            padding: 0 15px;
            vertical-align: middle;
          }

          .after-hours-icon {
            @media screen and (min-width: 1280px) {
              display: none;
            }
          }

          .after-hours-status {
            padding-right: 10px;

            &:hover {
              background-color: rgba(255, 255, 255, 0.1);
            }

            @media screen and (max-width: 1279px) {
              display: none;
            }

            > div {
              display: inline-block;
              height: 100%;
              padding: 9px 0;
              vertical-align: middle;

              span {
                display: block;
                font-size: 12px;
                line-height: 14px;
                text-transform: capitalize;

                + span {
                  display: inline-block;
                  font-size: 10px;
                  text-transform: uppercase;
                  vertical-align: middle;

                  + span {
                    border-radius: 3px;
                    color: #fff;
                    display: inline-block;
                    font-weight: bold;
                    line-height: 12px;
                    margin-left: 1ch;
                    padding: 0 4px;
                    vertical-align: middle;
                  }
                }
              }
            }

            .component-fabutton {
              display: inline-block;
              font-size: 14px;
              margin-left: 10px;
              vertical-align: middle;
            }
          }

          .after-hours-options {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
            color: #565656;
            font-size: 11px;
            height: auto;
            margin: 0;
            padding: 0;
            position: absolute;
            right: -1px;
            top: 53px;

            p {
              margin: 0;
              padding: 10px 0 0 15px;
              text-align: center;
              text-transform: uppercase;
              white-space: nowrap;

              .component-fabutton {
                color: #565656;
                padding-left: 15px;
                padding-right: 10px;
              }
            }

            ul.override-sites {
              margin: 0;
              padding: 0 15px;

              li {
                display: block;
                line-height: initial;
                margin: 10px 0;
                padding: 0;
                position: relative;

                > div {
                  left: 0;
                  position: absolute !important;
                  top: 2px;
                }

                span {
                  color: #565656;
                  line-height: 24px;
                  padding-left: 62px;
                }
              }
            }
          }
        }
      }
    }
  }
}
