header.app-header {
  .logo-container {
    display: inline-block;
    flex: 0 0 auto;
    font-size: 0;
    height: 50px;
    line-height: 50px;
    vertical-align: top;

    .custom-logo {
      font-size: 0;
      height: 50px;
      padding: 0 15px;

      img {
        display: inline-block;
        height: 36px;
        margin: 0;
        max-height: 100%;
        vertical-align: middle;
        width: auto;
      }
    }

    .logo {
      span {
        display: inline-block;

        &.logo-lg {
          display: block;
          margin: 0 15px;

          img {
            height: 16px;
            width: auto;
          }
        }

        &.logo-mini {
          display: none;
        }

        @media screen and (max-width: 400px) {
          &.logo-lg {
            display: none;
          }

          &.logo-mini {
            display: block;
            margin: 0 10px;

            img {
              height: 16px;
              width: auto;
            }
          }
        }
      }
    }
  }
}
