header.app-header {
  .app-nav-container {
    ul.app-nav {
      li.issc-status {
        border-left: 1px solid #676767;
        float: right;
        margin: 0;
        position: relative;
        text-align: center;

        &:empty {
          display: none;
        }

        > .component-fabutton {
          line-height: 50px;
          padding: 0 15px;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }

        > div {
          margin: 0;
          padding: 0;
        }

        .issc_wrapper {
          text-align: left;

          ul {
            li {
              display: block;
              line-height: 20px;
              list-style: none;
              margin: 0;
            }
          }
        }

        div.issc-container {
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 10px;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
          color: #565656;
          font-size: 11px;
          height: auto;
          line-height: 18px;
          margin: 0;
          padding: 0;
          position: absolute;
          right: -1px;
          top: 53px;

          .component-fabutton {
            color: #565656;
            padding: 10px;
            position: absolute;
            right: 0;
            top: 0;
          }

          ul.motorclubs {
            margin: 0;
            padding: 0 30px 0 15px;
            text-align: left;

            > li {
              border-bottom: 1px solid #ccc;
              color: #565656;
              display: block;
              line-height: 16px;
              margin: 10px 0;

              &:last-child {
                border: none;
              }

              span {
                color: #565656;
                text-transform: none;
                white-space: nowrap;

                &.account-name {
                  font-weight: bold;
                }
              }

              ul.site-list {
                padding: 0 0 0 10px;

                &:empty {
                  display: none;
                }

                > li {
                  display: block;
                  font-size: 12px;
                  line-height: 16px;
                  margin: 0.5em 0;

                  span.site-name {
                    font-weight: bold;
                  }

                  ul.vendors-list {
                    padding: 0 0 0 10px;

                    &:empty {
                      display: none;
                    }

                    > li {
                      display: block;
                      font-size: 12px;
                      line-height: 18px;
                      margin: 0.5em 0;

                      span.gcoapi {
                        font-size: 10px;
                        vertical-align: middle;
                      }

                      span.vendors-list-status {
                        float: right;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
