header.app-header {
  background-color: #565656;
  color: #fff;
  display: flex;
  font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0;
  z-index: 1030;

  .app-nav-container {
    display: inline-block;
    flex: 1 1 auto;
    position: relative;
    text-align: left;
    vertical-align: top;

    &::before {
      content: "";
      display: inline-block;
      display: none;
      height: 100%;
      vertical-align: middle;
      width: 0;
    }

    ul.app-nav,
    ul.app-drop-nav {
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: top;

      li {
        font-size: 13px;
        list-style: none;
        margin: 0;
        padding: 0;

        a,
        span,
        .component-fabutton {
          color: #fff;
          text-transform: uppercase;
        }

        a {
          display: block;
          height: 100%;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }

    ul.app-nav {
      height: 100%;
      width: calc(100% - 200px);

      &.no-user-logged-in {
        width: 100%;
      }

      &::before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        width: 0;
      }

      > li {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        margin: 0;
        vertical-align: middle;

        a {
          padding: 0 15px;
        }

        @media screen and (max-width: 1024px) {
          display: none;
        }

        &.settings-cog,
        &.swoop-help {
          border-left: 1px solid #676767;
          float: right;
          margin: 0;

          @media screen and (max-width: 1140px) {
            display: none;
          }

          button {
            line-height: 50px;
            opacity: 0.75;
            padding: 0 15px;

            &:hover {
              background-color: rgba(255, 255, 255, 0.1);
              opacity: 1;
            }
          }

          &.active {
            button {
              opacity: 1;
            }
          }
        }

        &.issc-status,
        &.after-hours {
          display: inline-block !important;
        }

        &.active {
          font-weight: bold;
        }
      }
    }

    ul.app-drop-nav {
      position: absolute;
      right: 0;
      top: 0;

      li.swoop-user {
        border: 0 solid #676767;
        border-width: 0 0 0 1px;
        cursor: pointer;
        text-align: left;
        width: 200px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        @media screen and (max-width: 400px) {
          width: auto;
        }

        .swoop-user-container {
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          height: 50px;
          margin: 0;
          padding: 0 15px;
          vertical-align: middle;
          width: 100%;

          .swoop-user-names {
            height: 50px;
            text-align: left;
            vertical-align: middle;

            @media screen and (max-width: 400px) {
              display: none;
            }

            &::before {
              content: "";
              display: inline-block;
              height: 100%;
              vertical-align: middle;
              width: 0;
            }

            > div {
              display: inline-block;
              height: auto;
              vertical-align: middle;
            }

            span {
              display: block;
              font-size: 12px;
              text-transform: capitalize;

              &.companyName {
                font-size: 10px;
              }
            }

            + .component-fabutton {
              flex: 0 0 auto;
              line-height: 50px;
              margin-left: 15px;
            }
          }
        }
      }

      .toggled-menu {
        background-color: #565656;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
        display: none;
        position: absolute;
        right: 0;
        top: 50px;
        text-align: left;
        width: 200px;

        ul {
          border: 0 solid #676767;
          border-width: 1px 0 0 1px;
          margin: 0;
          padding: 0;

          li {
            border-bottom: 1px solid #676767;
            line-height: 44px;
            list-style: none;
            margin: 0;
            padding: 0;

            &.active {
              font-weight: bold;
            }

            &:hover {
              background-color: rgba(255, 255, 255, 0.1);
            }

            a {
              display: block;
            }

            button.component-fabutton {
              display: block;
              line-height: 45px;
              padding-left: 0;
              text-align: left;
              width: 100%;

              span {
                margin-left: 1ch;
              }
            }

            &.responsive-nav-item {
              display: none;

              @media screen and (max-width: 1024px) {
                display: block;
              }

              &.settings-cog,
              &.swoop-help {
                @media screen and (max-width: 1140px) {
                  display: block;
                }
              }
            }

            &.swoop-version {
              span {
                display: block;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: capitalize;
                white-space: nowrap;
              }

              &:hover {
                background-color: transparent;
              }
            }
          }
        }

        > ul {
          > li {
            padding: 0 15px;
          }
        }
      }

      &.menu-open {
        .toggled-menu {
          display: block;
        }
      }
    }
  }
}
