.ColorSelector {
  &.geosuggest {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 5px;
  }

  &-list {
    box-shadow: -5px 5px 16px -3px rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
    position: absolute;
    z-index: 999;

    li {
      border: 5px solid white;
      height: 30px;
      padding: 2px !important;

      &:hover {
        border: 5px solid #ccc;
      }
    }
  }
}
