.info-bubble,
.swoopTable .row_container .row .cell i.fa.info-bubble,
.swoopTable .row_container .row .cell i.fa.info-bubble,
.swoop_table .row_container .row .cell i.fa.info-bubble {
  display: inline-block;
  cursor: auto;

  &.error {
    color: $label-error;
  }

  &.disabled {
    color: $disabled;
  }

  &.pointer {
    cursor: pointer;
  }
}
