.LandingPage {
  &-description {
    margin-bottom: 37px;
  }

  &-actions {
    margin-top: 15px;
  }

  &-termsOfService {
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 37px;
  }

  &-contactSupport {
    border-top: 2px solid #f2f2f2;
    font-size: 11px;
    padding-top: 28px;
  }

  &-confirmationMessage {
    margin-bottom: 23px;
  }

  &-error {
    font-size: 20px;
  }
}
