$arrowSize: 10px;
$backgroundColor: #fff;

.google-maps-overlay-view {
  background-color: $backgroundColor;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
  padding: 10px 20px;
  position: relative;

  &::before {
    border-color: $backgroundColor transparent transparent transparent;
    border-style: solid;
    border-width: $arrowSize;
    bottom: -($arrowSize * 2);
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    margin-left: -$arrowSize;
    position: absolute;
    width: 0;
  }
}
