.component-territories-network-map {
  display: flex;
  height: calc(100vh - 50px); // full viewport, minus header height: 50px

  main {
    background-color: #fafafa;
    flex: 1 0 auto;
  }

  aside {
    background-color: #fff;
    border-left: 1px solid #ccc;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    flex: 0 0 256px;

    input#search-territories-map {
      border: 0 solid #ccc;
      border-width: 0 0 1px;
      line-height: 50px;
      outline: none;
      padding: 0 12px;
      width: 100%;
    }
  }
}