@import '../../colors';

.add_invoice_attachments {
  .instructions {
    margin-bottom: 10px;
  }

  ul {
    margin: 0;
    padding: 0;
    font-size: 15px;

    li {
      margin: 0;
      margin-top: 8px;
      margin-left: 8px;

      a {
        margin-left: 5px;
        color: #3900ff;
        text-decoration: "underline";
      }
    }
  }
}
