@import '../../colors';
@import 'mixins';

.modal-content.add_additional_site {
  @include modals();
  @include disabled-button();

  .instructions {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
