.add_on_site_status {
  .on_site-row {
    margin-bottom: 5px;
  }

  .on_site-field {
    display: inline-block;
    width: 130px;
    font-weight: bold;
  }

  .prompt {
    display: inline-block;
  }

  .form-inline {
    margin-top: 33px;
  }

  .date_time_selector {
    width: 250px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  > div > label {
    margin-top: 15px;
  }

  label.error {
    font-size: 12px;
  }

  .component-select-simple {
    margin-top: 8px;
  }
}
