
.ChoosePartner-classTypeField {
  text-align: left;
  margin: 10px;
}

.ChoosePartner-classTypeDisplay {
  color: #dc0300;
  display: block;
}

.ChoosePartner-classTypeLabel {
  display: block;
}

.add_company_button {
  background-color: #aaa;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-left: 5px;
  position: relative;
  text-align: center;
  top: -3px;
  vertical-align: middle;
  width: 20px;

  span {
    color: #fff;
    font-size: 23px;
    position: relative;
    top: -3px;
  }
}

.modal-content.besteta {
  max-width: 700px;
}

.choose_partner_map {
  $map_width: 75%;
  $top_section: 29px;

  overflow: visible !important;

  .tire_info {
    text-align: left;

    .tire_count {
      font-weight: bold;
    }
  }

  .panelContainer {
    width: 100%;
    height: 100%;

    .leftPanel,
    .rightPanel {
      display: inline-block;
    }

    .leftPanel {
      width: $map_width;
      height: 100%;
      position: relative;

      .GMap {
        width: 100%;
        margin-top: #{$top_section};
        height: calc(100% - #{$top_section});

        .provider_content {
          padding: 0;
        }
      }
    }

    .rightPanel {
      width: #{100 - $map_width};
      height: 100%;
      vertical-align: top;
      border-left: 1px solid #e6e6e6;
      display: inline-flex;
      flex-direction: column;
      background-color: #f2f2f2;

      .select_partner_title {
        text-transform: uppercase;
        background-color: #fff;
        font-weight: bold;
        border-bottom: 1px solid #e6e6e6;
        height: $top_section;
        text-align: left;
        padding: 6px;

        .add_company_button {
          float: right;
          margin-top: 1px;

          span {
            top: -7px;
          }
        }
      }

      > .geosuggest {
        border: 0;
        border-radius: 0 !important;
        border-bottom: 1px solid #e6e6e6;
        position: relative;

        &::after {
          background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.2));
          content: "";
          display: block;
          height: 4px;
          left: 0;
          margin: 0 !important;
          position: absolute;
          right: 0;
          top: 32px !important;
        }
      }

      > ul {
        flex: 1;
      }
    }
  }

  .input_container {
    background-color: white;
    border-top: 1px solid #e6e6e6;
    padding: 0;
    position: relative;

    &::before {
      background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2));
      content: "";
      display: block;
      height: 4px;
      left: 0;
      position: absolute;
      right: 0;
      top: -4px;
    }

    &:empty {
      display: none;
    }

    > div {
      position: relative;
    }

    > div > div {
      clear: both;
      margin: 5px auto;
      padding: 0 10px;

      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 10px;
      }

      .inputWrapper {
        display: flex;
        text-align: right;

        label,
        input,
        select {
          display: inline-block;
          flex: 1 1 auto;
          margin: 0;
          text-align: left;
          vertical-align: top;
        }

        label {
          flex: 0 0 auto;
          float: left;
          font-weight: initial;
          line-height: 34px;
          margin-bottom: 0 !important;
          max-width: 80px;
          text-align: left;
          white-space: nowrap;
        }
      }

      &#Containerbilling_type {
        .inputWrapper {
          position: relative;

          select {
            max-width: 60px;
            position: absolute;
            right: 0;
          }
        }
      }

      &#Containerach_description {
        padding-left: 0;
        position: absolute !important;
        top: 5px;
        left: 90px;
        width: auto;

        .inputWrapper {
          display: inline-block;

          span {
            font-size: 12px;
            line-height: 15px;
            margin: 2px 0;
            padding: 0;
            text-align: center;
          }
        }
      }

      &#Containervcc_amount {
        padding-left: 0;
        position: absolute !important;
        top: 5px;
        left: 90px;
        width: auto;

        .inputWrapper {
          display: inline-block;

          &::before {
            content: "$";
            line-height: 34px;
            position: absolute;
            top: 0;
            left: 6px;
          }

          input {
            max-width: 80px;
            text-align: right;
          }
        }
      }

      .error_bubble {
        right: 10px !important;
        bottom: 6px !important;
      }
    }
  }

  .choose-partner-timer {
    margin-top: 6px;
    color: #fff;

    .choose-partner-timer-message {
      color: #fff !important;

      span {
        color: #fff !important;
      }
    }
  }

  .modal-header .job-id {
    color: #ccc;
    right: 40px;
    position: absolute;
    top: 8px;
    font-size: 16px;
  }
}
