@import 'mixins';

.modal-content.commission_percentage_form {
  @include form-fields();
  @include modals();

  max-width: 470px;
}

.percentage_field {
  input {
    width: 54px;
    margin-top: 10px;
  }

  div::after {
    content: '%';
    position: absolute;
    top: 74%;
    left: 32px;
    transform: translateY(-50%);
  }
}
