@import 'mixins';

.modal-content.company_form {
  @include form-fields();
  @include modals();

  .distance-or-currency-changed {
    clear: both;
    color: #f00;
  }

  .form-group {
    &#Containertype,
    &#Containerin_house {
      margin-bottom: 20px;
    }

    &#Containername,
    &#Containercurrency + * {
      clear: left;
    }

    &.percent {
      position: relative;

      &::before {
        position: absolute;
        bottom: 7px;
        left: 5px;
        content: '%';
      }

      input {
        padding-left: 16px;
      }
    }

    &.money {
      position: relative;

      &::before {
        position: absolute;
        bottom: 7px;
        left: 5px;
        content: '$';
      }

      input {
        padding-left: 13px;
      }
    }

    &.half_width {
      width: calc(25% - 20px);
    }

    &.sixth_width {
      width: calc(17% - 15px);
      margin-right: 0;
    }

    .bottom_error {
      min-width: 290px;
      padding-top: 10px;
      color: red;
    }

    &#Containerdistance_unit {
      .bottom_error {
        min-width: 580px;
      }
    }
  }

  .checkbox_control {
    &.half_width {
      margin-top: 26px;
      width: calc(25% - 20px);
    }
  }
}
