.delete_modal {
  text-align: left;

  .error_bubble {
    position: absolute;
    right: 200px;
    bottom: 36px;
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-weight: bold;
  }

  .form-group {
    width: 240px;
  }
}
