@mixin form-fields {
  .form-group,
  .checkbox_control {
    margin: 0 10px 10px;
    vertical-align: top;
    position: relative;

    /* HALF IS ASSUMED
    &.half {
    */
    width: calc(50% - 20px);
    text-align: left;
    float: left;
    //}

    &.checkbox_control {
      label {
        display: inline;
        padding-left: 10px;
      }
    }

    &.full {
      width: calc(100% - 20px);
      text-align: left;
    }

    .geosuggest {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

@mixin modals {
  max-width: 650px;
  text-align: left;

  .modal-header {
    h3 {
      color: #333;
      font-size: 16px;
    }
  }

  .modal-body {
    p:first-child {
      margin: 0 0 30px 10px;
    }
  }

  .modal-footer {
    clear: both;
  }
}

@mixin disabled-button {
  .btn.disabled {
    background-color: $disabled_btn_background !important;
    cursor: not-allowed;
  }
}

@mixin bullet-steps {
  .step-bullet {
    font-size: 0.7em;
    padding: 3px;

    &.last {
      padding-right: 10px;
    }
  }

  .bullet-step-blue {
    @extend .step-bullet;

    color: #7fbce2;
  }

  .bullet-step-gray {
    @extend .step-bullet;

    color: #aaa;
  }
}
