.modal-content.obj_form {
  max-width: 700px;

  .modal-header {
    padding-bottom: 5px;
  }

  .add_custom_object_btn {
    cursor: pointer;
    padding-top: 2px;
  }

  h4 {
    font-size: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    div {
      display: inline-block;
      background-color: #a0a0a0;
      border-radius: 3px;
      width: 16px;
      height: 16px;
      margin-left: 9px;
      color: white;
      vertical-align: middle;
      text-align: center;
      font-size: 16px;
      position: relative;

      span {
        position: relative;
        top: -2px;
      }
    }
  }

  .custom_objects {
    h4 {
      border-top: 1px solid #e2e2e2;
      padding-top: 15px;
    }
  }

  .custom_object_columns {
    display: flex;
    flex-direction: row;

    > div {
      width: 33.3%;

      div {
        width: 100%;

        i {
          display: inline-block;
        }

        span {
          margin-left: 10px;
          display: inline-block;
        }
      }
    }
  }

  .custom_object {
    width: 33.3%;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;

    .fa-times-circle {
      color: #ccc;
      cursor: pointer;
      font-size: 20px;
      position: relative;
      top: 0;
      vertical-align: top;
      width: 6%;
    }

    &.new_add {
      .fa-times-circle {
        vertical-align: middle;
      }
    }

    > span {
      width: 90%;
      white-space: initial;
      vertical-align: top;
    }

    .inputWrapper {
      vertical-align: middle;
      position: relative;
      display: inline-block;
      margin-left: 10px;
      width: calc(100% - 35px);
    }
  }

  .standard_obj_list {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;

    > div {
      width: 33.3%;

      > div {
        padding: 5px 0;

        label {
          display: inline;
          font-weight: normal;
          margin-left: 8px;
        }
      }
    }
  }

  .AllObjectsForm-helper-text {
    margin-top: 10px;
  }
}
