@import '../../colors';
@import 'mixins';

@mixin message-styles {
  text-align: center;
  margin: 40px auto;
}

.modal-content.partner_search {
  @include modals();

  .instructions {
    margin-top: 30px;
    margin-bottom: 45px;
  }

  #Containerphone {
    width: 160px;
    margin: 20px 10px 20px 0;
  }

  .error {
    color: $error_red;

    @include message-styles();
  }

  .message {
    @include message-styles();
  }

  @include disabled-button();

  .modal-footer {
    .btn {
      min-width: 120px;
    }
  }
}
