.request_phone_call_back {
  text-align: left;
  width: 100%;

  span {
    display: block;
    padding-bottom: 15px;
  }

  #Containerdispatch_number {
    position: relative;
    width: 180px;
  }

  #Containersecondary_number {
    position: relative;
    width: 180px;
    margin-left: 46px;
  }
}
