.modal-content.review_email_form {
  #Containerreview_email_recipient_key {
    width: 40%;
  }

  #Containerreview_email {
    width: 50%;
    position: fixed !important;

    .error_bubble {
      right: 0;
      left: 220px;
    }
  }

  width: 600px;
  max-width: 600px;
}
