@import 'mixins';

@mixin stripe-business-form {
  #Containeraddress_line1 {
    width: calc(100% - 20px);
  }

  #Containeraddress_city {
    width: calc(50% - 20px);
  }

  #Containeraddress_state {
    width: calc(25% - 20px);
  }

  #Containeraddress_postal_code {
    width: calc(25% - 20px);
  }

  #Containerpersonal_address_line1 {
    width: calc(100% - 20px);
  }

  #Containerpersonal_address_city {
    width: calc(50% - 20px);
  }

  #Containerpersonal_address_state {
    width: calc(25% - 20px);
  }

  #Containerpersonal_address_postal_code {
    width: calc(25% - 20px);
  }
}

@mixin stripe-modal-footer($padding-top) {
  .modal-footer {
    padding-right: 26px;
    padding-top: $padding-top;
    padding-bottom: 20px;

    .btn {
      width: 120px;
    }
  }
}

@mixin stripe-modal-header {
  .modal-header {
    h3 {
      margin-top: 3px;
      padding-bottom: 10px;
    }

    .close {
      margin-top: -3px;
      margin-right: 9px;
    }
  }
}

@mixin stripe-form($footer-padding-top) {
  @include stripe-modal-header();
  @include form-fields();
  @include modals();
  @include bullet-steps();
  @include stripe-modal-footer($footer-padding-top);
}

.modal-content.stripe-form {
  @include stripe-form(30px);
}

.modal-content.stripe-business-form {
  @include stripe-form(30px);
  @include stripe-business-form();
}

.modal-content.stripe-bank-form {
  @include stripe-form(20px);

  .stripe-bank-account-confidential {
    padding-left: 10px;
    color: #aaa;
  }

  .how-to {
    text-align: center;
    padding-bottom: 30px;

    > img {
      max-width: 400px;
    }
  }
}

.stripe-bank-account-field {
  border: 1px solid #b3e3a0;
}

.stripe-bank-account-field:focus {
  border-color: #b3e3a0 !important;
}

.stripe-bank-routing-number-field {
  border: 1px solid #7fbce2;
}
