@import 'mixins';
@import '../../colors';

@mixin user_form {
  .divider {
    font-weight: bold;
    float: left;
    width: calc(100%);
    border-top: 1px solid $form_split;
    padding: 10px;
  }

  #Containerjob_status_email_frequency {
    width: 100%;

    .inputWrapper {
      select {
        width: 55%;
        display: inline-block;
      }

      span {
        padding-left: 10px;
      }
    }
  }

  #Containersystem_email_filtered_companies {
    width: 100%;

    .inputWrapper {
      > div > div {
        width: 300px;
        display: inline-block;
      }

      span {
        padding-right: 10px;
      }
    }
  }

  .UserForm-Notifications {
    float: left;
    margin-bottom: 10px;
    width: 100%;

    .form-group {
      width: 100%;
      margin: 0;
      padding: 0 10px 10px;

      .inputWrapper {
        align-items: center;
        display: flex;

        .control-label {
          flex: 1 1 0;
          font-size: 13px;
          font-weight: normal;
        }

        > div {
          flex: 1 1 0;

          .multi_select_control {
            .dropdown-container {
              height: 72px;
            }
          }
        }
      }
    }
  }
}

.modal-content.user_form {
  @include form-fields();
  @include modals();
  @include user_form();
}

.settings.user_form {
  @include form-fields();
  @include user_form();

  width: 560px;
  display: inline-block;
  vertical-align: top;
}
