.component-job-details-dropdown {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10000;
  max-height: 50%;
  overflow-y: auto;

  .job-details-toggle {
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    font-size: 0;
    height: auto;
    text-align: center;
    user-select: none;
    position: sticky;
    top: 0;

    h2, i {
      display: inline-block;
      font-size: 13px;
      line-height: 28px;
      margin: 0 6px;
      text-transform: uppercase;
      vertical-align: top;
    }

    i {
      color: #cdcdcd;
    }
  }

  .message {
    background-color: #fff;
    color: red;
    font-weight: bold;
    padding: 12px 12px 0;
    text-align: center;
    width: 100%;
  }

  .job-details {
    background-color: #fff;
    display: flex;
    text-align: left;
    width: 100%;
    height: 100%;

    .attributes-column {
      box-sizing: border-box;
      padding: 12px;
      width: 50%;

      .attribute {
        display: flex;

        span {
          line-height: 1.75em;

          &.attribute-name {
            font-weight: bold;
            margin-right: 1ch;
            // width: 140px;
          }
        }

        ul {
          margin: 0;
          padding: 0;
        }
      }

      .exceptions {
        .attribute-value {
          color: red;
          font-weight: bold;
          line-height: 1.25;
          padding: 0.25em 0;
        }
      }
    }
  }
}
