<!DOCTYPE html>
<html>
<head>
  <% @css.each do |css| %>
    <link as="style" href="<%= css %>" rel="preload" />
  <% end %>
  <% @js.each do |js| %>
    <link as="script" href="<%= js %>" rel="preload" />
  <% end %>
  <title>Swoop</title>
  <%= Gon::Base.render_data %>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0' name='viewport'>
  <% @css.each do |css| %>
    <link rel="stylesheet" media="all" href="<%= css %>" />
  <% end %>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <!--[if lt IE 9]>
  <script>
  (function(){
      var ef = function(){};
      window.console = window.console || {log:ef,warn:ef,error:ef,dir:ef};
    }());
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-sham.js"></script>
  <![endif]-->

  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
  <script>
    window['_fs_debug'] = false;
    window['_fs_host'] = 'fullstory.com';
    window['_fs_org'] = '1ND1D';
    window['_fs_namespace'] = 'FS';
    (function(m,n,e,t,l,o,g,y){
      if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
      g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
      o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
      y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
      g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};g.event=function(i,v){g('event',{n:i,p:v})};
      g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
      g.consent=function(a){g("consent",!arguments.length||a)};
      g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
      g.clearUserCookie=function(){};
    })(window,document,window['_fs_namespace'],'script','user');

    FS.identify(gon.customer_id, {
      template: "swoop_gamified",
    });
  </script>
  <style>
    body {
      background-attachment: fixed;
      background-image: url(<%= Setting.get_setting(@company, "Survey Background") || "https://s3-us-west-1.amazonaws.com/joinswoop.static/Tow_Hookup.jpg" %>);
      background-size: cover;
    }
  </style>
</head>
<body>
  <div id="root"></div>
  <% @js.each do |js| %>
    <script src="<%= js %>"></script>
  <% end %>
</body>
</html>
