.component-notifications {
  &.notification_list {
    display: block;
    font-size: 12px;
    left: 50%;
    margin: 0 0 0 -275px;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 35px;
    width: 550px;
    z-index: 99999999;

    li {
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
      height: auto;
      line-height: 30px;
      list-style-type: none;
      margin-bottom: 10px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;

      span.message {
        display: inline-block;
        margin: 0 50px;
        white-space: normal;

        &::before {
          font-family: FontAwesome;
          font-size: 18px;
          font-weight: normal;
          margin-left: -30px;
          margin-top: -2px;
          position: absolute;
          vertical-align: middle;
        }
      }

      span {
        vertical-align: middle;
      }

      &.error {
        background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, #f55e07  0%, #ffa114  100%);
        background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, #f55e07  0%, #ffa114  100%);
        background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, #f55e07  0%, #ffa114  100%);
        background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 572, color-stop(0, #f55e07), color-stop(100, #ffa114));
        background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, #f55e07  0%, #ffa114  100%);
        background-image: radial-gradient(ellipse farthest-corner at right bottom, #f55e07  0%, #ffa114  100%);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);

        * {
          color: #565656;
        }

        span.message::before {
          content: "\f071";
          margin-top: 0;
        }
      }

      &.warning {
        background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, #ebda00  0%, #faf200  100%);
        background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, #ebda00  0%, #faf200  100%);
        background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, #ebda00  0%, #faf200  100%);
        background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 572, color-stop(0, #ebda00), color-stop(100, #faf200));
        background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, #ebda00  0%, #faf200  100%);
        background-image: radial-gradient(ellipse farthest-corner at right bottom, #ebda00  0%, #faf200  100%);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);

        * {
          color: #565656;
        }

        span.message::before {
          content: "\f071";
          margin-top: 0;
        }
      }

      &.info {
        background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, #ebda00  0%, #faf200  100%);
        background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, #ebda00  0%, #faf200  100%);
        background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, #ebda00  0%, #faf200  100%);
        background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 572, color-stop(0, #ebda00), color-stop(100, #faf200));
        background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, #ebda00  0%, #faf200  100%);
        background-image: radial-gradient(ellipse farthest-corner at right bottom, #ebda00  0%, #faf200  100%);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);

        * {
          color: #565656;
        }
      }

      &.success {
        background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, #00ab06  0%, #70d943  100%);
        background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, #00ab06  0%, #70d943  100%);
        background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, #00ab06  0%, #70d943  100%);
        background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 572, color-stop(0, #00ab06), color-stop(100, #70d943));
        background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, #00ab06  0%, #70d943  100%);
        background-image: radial-gradient(ellipse farthest-corner at right bottom, #00ab06  0%, #70d943  100%);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);

        * {
          color: white;
        }

        span.message::before {
          content: "\f00c";
        }
      }

      .close_notification {
        cursor: pointer;
        margin-right: 10px;
        position: absolute;
        right: 0;
        text-decoration: underline;
        vertical-align: middle;
      }
    }
  }
}
