@import '../../colors';

.accept_modal {
  ul.equipment {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: $important_red;
    font-weight: bold;
  }

  .accept-job-timer {
    .timer-icon {
      font-size: 14px;
      line-height: 18px;
      vertical-align: top;
    }

    .timer-counter {
      font-size: 13px;
      line-height: 18px;
      width: 5ch;
    }
  }
}
