.detail_history {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 0 0 3px 3px;
  padding: 10px;
  padding-top: 0;

  ul.history_list {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 6px;

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 20px;
      left: 8px;
      width: 2px;
      height: calc(100% - 45px);
      background-color: #c2c2c2;
    }
  }

  li {
    cursor: pointer;
    display: flex;
    white-space: nowrap;
    text-overflow: elipses;

    /* &:last-child {
      &>.info {
        border-bottom: 0px;
      }
    } */
    & > .icon {
      flex: 0;

      & > span {
        margin: 8px 0;
        margin-right: 10px;
        position: relative;

        &.circle {
          width: 18px;
          height: 18px;
          display: inline-block;
          border-radius: 9px;
          text-align: center;

          &.green {
            background-color: #42b756;
          }

          &.gray {
            background-color: #aaa;
          }

          i {
            display: inline-block;
            color: white;
            width: 10px;
            height: 10px;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;

            &.check {
              background-image: url('~images/detail-history/check.svg');
            }

            &.pencil {
              background-image: url('~images/detail-history/pencil.svg');
              left: 1px;
            }

            &.calendar {
              background-image: url('~images/detail-history/calendar.svg');
              left: 1px;
              top: -1px;
            }

            &.comment {
              background-image: url('~images/detail-history/comment.svg');
              top: 1px;
            }

            &.phone {
              background-image: url('~images/detail-history/phone.svg');
            }
          }
        }
      }
    }

    &.expander {
      cursor: pointer;

      & > .info {
        margin-left: 28px;

        span {
          color: #7fbce2;
        }
      }
    }

    &.wrap {
      & > .info > span {
        white-space: initial;
      }
    }

    & > .info {
      padding: 8px 0;
      border-bottom: 1px solid #c2c2c2;
      width: 100%;

      & > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #8c8c8c;
        width: 34%;
        display: inline-block;
        vertical-align: top;

        &.name {
          color: #333;
          width: calc(40%);
          font-weight: bold;
        }

        &.right {
          text-align: right;
          width: 25%;
        }
      }
    }
  }
}
