.details-header {
  &.documents-header {
    line-height: 28px;
  }
}

.documents-dropzone {
  border: 2px dashed transparent;
  box-sizing: border-box;
  margin-left: -4px;
  min-height: 28px;

  .add-list {
    padding: 3px 0;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: block;
        line-height: 18px;
        margin: 0 0 5px !important;
      }
    }
  }

  section {
    padding: 0 10px 10px 0;
  }
}
