.GoaRateModal {
  &-partner {
    margin: 20px 0;
  }

  &-rate {
    margin-bottom: 20px;

    .form-group {
      margin-bottom: 0;
      margin-right: 20px;
      width: 117px;
    }

    .fa {
      font-size: 22px;
      vertical-align: sub;
    }

    .inputWrapper::before {
      content: "$";
      line-height: 34px;
      position: absolute;
      top: 18px;
    }

    .inputWrapper.editable::before {
      content: "$";
      left: 6px;
      line-height: 34px;
      position: absolute;
      top: 19px;
    }

    .control-label {
      font-size: 13px !important;
    }

    .form-control {
      padding: 8px 14px;
    }

    .field-span {
      margin-left: 8px;
    }
  }

  &-red {
    color: red;
  }
}
