.issue-list {
  &.add-list {
    .issues-headings {
      border-bottom: 1px solid #aaa;
      margin-bottom: 5px;

      > span {
        display: inline-block;
        font-weight: bold;
        vertical-align: top;
        width: 50%;
      }
    }

    ul {
      margin: 0 0 5px;
      padding: 0;

      li {
        line-height: 18px;
        list-style: none;
        margin: 0;
        padding: 3px 0;

        &:nth-child(even) {
          background-color: #fafafa;
        }

        span {
          display: inline-block;
          vertical-align: top;
          width: 50%;
        }
      }
    }
  }
}
