//TODO: move clear somewhere sensable
.clear {
  clear: both;
}

.dashboard_container {
  nav {
    margin-bottom: 10px;
  }

  .sideComponents {
    float: right;
  }

  .bottomComponents {
    margin-bottom: 10px;

    .filter_container {
      display: inline-block;
      float: left;

      .dispatch_sites {
        margin-right: 5px;
      }

      .filter_services {
        margin-right: 5px;
      }

      .filter_states {
        margin-right: 5px;
      }

      .filter_fleet_company {
        margin-right: 5px;
      }

      .dispatcher_filter {
        margin-right: 5px;
      }
    }

    .search-container {
      clear: initial;
    }
  }

  .blinker {
    clear: both;
  }

  .callToAction {
    background-color: #fff;
    border: 0 solid #ccc;
    border-width: 0 1px 1px;
    padding: 24px 12px;
    position: relative;
    text-align: center;

    div {
      display: inline;
    }

    button {
      background: transparent;
      border: none;
      color: #7fbce2;
      padding: 0;
      text-decoration: underline;
    }

    button:hover {
      color: #91c4e9 !important;
    }
  }

  .section-header-container {
    padding-bottom: 5px !important;
    padding-top: 15px !important;

    &.pending {
      padding-top: 5px !important;
    }
  }

  .geosuggest.backendSuggest {
    ul {
      min-width: 150px;
      box-shadow: rgba(0, 0, 0, 0.23) 0 2px 4px 0;
    }

    &::after {
      display: inherit;
    }
  }
}
