
.component-auto-assign-results {
  font-size: 13px;
  padding: 0 10px;
  border: 1px solid #e2e2e2;

  > div {
    margin: 32px 0;
    min-height: 24px;
    position: relative;
    overflow-x: auto;

    p {
      line-height: 1.5em;
      margin: 0 0 12px;
      max-width: 75ch;
      padding: 0 0 0 3px;
      white-space: normal;

      &.section-title {
        font-weight: bold;
        line-height: 25px;
        margin: 0;
      }

      .auction-countdown {
        background-color: rgba(255, 165, 0, 0.2);
        float: right;
        line-height: 25px;
        padding: 0 12px;

        .CountdownSeconds {
          display: inline;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      &.auto-assign-rules {
        border-bottom: 1px solid #ccc;
        font-size: 0;
        padding: 0 0 32px 3px;

        li {
          ul {
            li {
              display: inline-block;
              font-size: 12px;
              line-height: 24px;
              margin-right: 4ch;
              vertical-align: top;

              strong {
                font-size: 13px;
              }
            }
          }
        }
      }
    }

    table {
      width: 100%;
      table-layout: fixed;

      thead {
        border: 0 solid #ccc;
        border-width: 1px 0;
        font-weight: bold;
        line-height: 24px;
        width: 100%;

        th {
          overflow: hidden;
          padding: 0 3px;
          text-overflow: ellipsis;
          width: 10%;
          white-space: nowrap;

          &:nth-child(1), &:nth-child(2) {
            width: 25%;
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #ccc;
          line-height: 24px;

          td {
            padding: 0 3px;

            &:nth-child(1),
            &:nth-child(2) {
              width: 25%;
            }

            &:nth-child(1),
            &:nth-child(2),
            &:last-child {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            i {
              margin-right: 1px;
            }
          }
        }
      }
    }

    &.auction-winner {
      > p {
        background-color: #42b756;
        border: 0 solid #333;
        border-width: 1px 0;
        color: #fff;
        margin: 34px 0;
        max-width: 100%;
        padding: 6px 12px;
        text-align: center;
      }
    }
  }
}
