@import 'mobile_global.scss'; /* in assets/stylesheets */
@import 'geosuggest.scss';
@import '../Mobile.scss';

.wrapper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 0 auto;
  max-width: 640px;
  text-align: center;

  > div {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 0 12px;

    h2 {
      color: #000;
      margin: 2.5rem 0 1.25rem;
      text-transform: uppercase;
    }

    p {
      color: #666;
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin: 1rem 0;
    }

    &.thankyou {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: 150px;

      h2 {
        margin-top: 0;
      }

      p {
        flex: 0 0 auto;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }

  > button {
    background-color: $swoop_blue;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    justify-self: end;
    letter-spacing: 0.05rem;
    line-height: 3.5rem;
    margin: 12px 12px 72px;
    text-transform: uppercase;
  }
}

#footer {
  background-color: white;
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  left: 0;
  padding: 0 12px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 999;

  .send_information {
    color: #565656;
    font-size: 0.875rem;
    font-weight: 100;
    margin: 12px;
  }

  > button {
    background-color: $swoop_blue;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    flex: 0 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    justify-self: end;
    letter-spacing: 0.05rem;
    line-height: 3.5rem;
    margin: 12px auto;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
  }
}

.map-wrapper {
  .row.map-row {
    height: 100%;
    margin: 0;

    .share-location-map {
      width: 100%;
    }

    #service-location-box {
      background-color: #fff;
      border: 1px solid #e2e2e2;
      border-radius: 2px;
      box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.2);
      display: block;
      height: 52px;
      left: 12px;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 12px;
      top: 62px;
      text-align: center;
      z-index: 2001;

      p {
        line-height: 1rem;
        margin: 0;
        padding: 0;

        &.service-title {
          color: #7fbce2;
          font-size: 0.75rem;
          margin: 6px;
          text-transform: uppercase;
        }

        &.service-location {
          font-size: 0.875rem;
          margin: 0 auto;
          overflow: hidden;
          margin: 6px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .fa-search,
      .fa-times {
        color: #aaa;
        cursor: pointer;
        font-size: 1.125rem;
        padding: 6px;
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
      }

      .search_box {
        height: 100%;

        .geosuggest {
          border: 1px solid #e2e2e2 !important;
          border-radius: 2px !important;
          height: 100% !important;
          margin: 0;
          padding: 0;
          width: 100%;

          input {
            border: 0;
            box-sizing: border-box;
            font-size: 1rem;
            height: 100%;
            margin: 0;
            padding: 0 40px 0 12px !important;
          }
        }
      }
    }

    .Absolute-Center {
      background-image: url('~public/marker.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      color: $button_blue;
      display: block;
      font-size: 0;
      margin: 0;
      position: absolute;
      text-align: center;
      z-index: 999;
      width: (183px / 4);
      height: (249px / 4);
      top: calc(50% - (249px / 8));
      left: calc(50% - (183px / 8));
      margin-top: -24px;
      margin-left: 12px;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .GMap {
    height: 768px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .GMap {
    height: 1024px;
  }
}

/* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .GMap {
    height: 320px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .GMap {
    height: 568px;
  }
}

/* iPhone 4 */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .GMap {
    height: 320px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .GMap {
    height: 480px;
  }
}

.GMap {
  width: 100vw;
  height: 100vh;
}

.eta_wrapper {
  .GMap {
    height: calc(100vh - 50px);
    margin-top: 50px;
  }
}

.GMap > div {
  width: 100%;
  height: 100%;
}

#section-autoShareLocation {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* MAP */

#map-canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 320px;

  .map_canvas > div {
    width: 100%;
    height: 100%;
  }
}

#center {
  background-color: transparent;
  bottom: 120px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  height: 52px !important;
  left: 10px;
  position: absolute;
  width: 52px !important;
  z-index: 2000;

  &.lower {
    bottom: 10px;
  }

  /**** Hack to get user and truck to show up on dev *****/
  background-image: url('~public/user.png');
  background-image: url('~public/truck.png');
  background-image: url('~public/marker_blue.png');
  background-image: url('~public/marker_blue_site.png');
  background-image: url('~public/marker_yellow.png');
  background-image: url('~public/marker_green.png');
  background-image: url('~public/marker_red.png');
  background-image: url('~public/marker_a.png');
  background-image: url('~public/marker_b.png');
  background-image: url('~public/marker_green_faded.png');
  background-image: url('~public/marker_red_faded.png');
  background-image: url('~public/marker_grey.png');

  /*****************************************************   */
  background-image: url('~public/mapcenterbutton.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: em(160);
  width: em(160);
}
