<table class="job-photos">

  <thead>
    <tr>
      <th><%= title %></th>
      <th>Date &amp; Time</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>

    <% for image, i in images %>
      <tr>
        <td>
          <a href="<%= image.url %>">
            <%= url_for_external_image_resized(url: image.url, height: 100) %>
          </a>
        </td>
        <td>
          <%= image.created_at.in_time_zone(job.timezone).strftime("%m/%d/%Y %H:%M %Z") %>
        </td>
        <td>
          <% if image.location %>
            <a href="http://maps.google.com/?q=<%= image.location.lat %>,<%= image.location.lng %>"><%= image.location.lat %>, <%= image.location.lng %></a>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>

</table>
