<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>

      html {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        line-height: 1.25;
        -webkit-text-size-adjust: 100%;
      }

      body {
        margin: 0;
        padding: 0;
      }

      img {
        border-style: none;
      }

      p {
        margin: 0;
      }

      #footer {
        font-size: 0.75rem;
        line-height: 2rem;
        padding: 1.5rem 4px 0;
      }

      #footer p {
        text-align: right;
      }

      #footer span {
        display: block;
        float: left;
        white-space: nowrap;
      }

    </style>
  </head>
  <body>

    <div id="footer"></div>

    <script>
      function subst() {
        var vars = {};
        var x = document.location.search.substring(1).split('&');
        for (var i in x) {
          var z = x[i].split('=', 2);
          vars[z[0]] = unescape(z[1]);
        }
        var x = ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection'];
        for (var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for (var j = 0; j < y.length; ++j) y[j].textContent = vars[x[i]];
          if ( !(vars['topage'] === vars['page']) ) {
            // document.getElementById("signatures").innerHTML = ''
          }
        }
        document.getElementById("footer").innerHTML = '<p><span>Powered by Swoop</span> Page ' + vars.page + ' of ' + vars.topage + '</p>'
      }
      subst()
    </script>

  </body>
</html>
