<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= wicked_pdf_stylesheet_link_tag "pdf_invoice" -%>
    <%= wicked_pdf_javascript_include_tag "jquery.min.js" %>
    <% currency_unit = invoice.currency == 'EUR' ? '€' : '$' %>

    <script>

      function addLineItem(container, item){
        postfix = ""
        if(item.calc_type == "percent"){
          postfix = "%"
        }
        $(container).append("\
          <tr>\
            <td class='itemCol'>\
              "+item.description+"\
            </td>\
            <td>\
                "+item.quantity+postfix+"\
            </td>\
            <td>\
                <%= currency_unit %>"+item.net_amount+"\
            </td>\
          </tr>"
        )
      }

      $(document).ready( function() {

        var line_items = []
        <% for item in invoice.ticket_line_items %>
          line_items.push(<%= item.to_json.html_safe %>)
        <% end %>
        for ( var i = 0; i < line_items.length; i++ ) {
          addLineItem('#invoice_items tbody', line_items[i])
        }

        function formatTelephoneNumber(num) {
          var tel = num.split('')
          if ( tel[0] === '+' ) return num
          return '(' + tel.splice(0, 3).join('') + ') ' + tel.splice(0, 3).join('') + '-' + tel.join('')
        }

        $('.recipient').find('.recipient--address:contains(Phone:)').each(function(i) {
          var num = $(this).text().split(' ')[1]
          $(this).text( 'Phone: ' + formatTelephoneNumber( num ) )
        })
        $('.sender').find('.sender--address:contains(Phone:)').each(function(i) {
          var num = $(this).text().split(' ')[1]
          $(this).text( 'Phone: ' + formatTelephoneNumber( num ) )
        })
        $('.telephone-number').text( formatTelephoneNumber( $('.telephone-number').text() ) )

        $('.job-notes, .fine-print, .waiver_text dd').each(function(i) {
          var notes = $(this).text()
          $(this).html(
            '<p>' +
              notes.split('\n').join('</p><p>') +
            '</p>'
          )
        })

      })
    </script>

  </head>
  <body class='<%= if defined? content_type then content_type else "pdf" end %>'>
    <div class="page_container">

      <div class="sender">
        <% if invoice.sender.logo_url? %>
          <div class="sender--logo">
              <%= url_for_external_image_resized(url: invoice.sender.logo_url, height: 100) %>
          </div>
        <% end %>
        <% if invoice.sender_name %>
          <p class="sender--name"><%= invoice.sender_name %></p>
        <% end %>
        <% for addr in invoice.from_address %>
          <p class="sender--address"><%= addr %></p>
        <% end %>
      </div><!-- .sender -->

      <div class="billing_summary">

        <div class="recipient">
          <p class="label">BILL TO:</p>
          <p><%= invoice.bill_to_name %></p>
          <% if invoice.is_enterprise? and job.fleet_site_name %>
            <p class="recipient--name"><%= job.fleet_site_name %></p>
          <% end %>
          <% for addr in invoice.send_address %>
            <p class="recipient--address"><%= addr %></p>
          <% end %>
        </div><!-- .recipient" -->

        <div class="invoice_number">
          <p>Invoice #<%= invoice.job_id %></p>
          <p><%= job.last_status_date_time.in_time_zone(job.timezone).strftime("%m/%d/%Y") %></p>
        </div><!-- .invoice_number -->

        <div class='balance_due'>
          <% if (invoice.sender_id == Company.swoop_id and job.fleet_company and job.fleet_company.try(:name) == Company::FLEET_RESPONSE) %>
            <p><%= number_to_currency(invoice.subtotal+invoice.tax_amount,unit:currency_unit) %></p>
            <p>Invoice Total</p>
          <% else %>
            <% if invoice.balance == 0 %>
              <p><%= currency_unit %>0.00</p>
              <p>Balance Due</p>
              <div class='paid_stamp'>
                <%= url_for_external_image_resized(url: 'https://s3-us-west-1.amazonaws.com/joinswoop.static/PAID_Stamp.png', class: 'paid_stamp_image', height: 62) %>
              </div>
            <% else %>
              <p><%= number_to_currency(invoice.balance,unit:currency_unit) %></p>
              <p>Balance Due</p>
            <% end %>
          <% end %>
        </div><!-- .balance_due -->

      </div><!-- .billing_summary -->

      <div class="job_info grid_12">

        <dl class="col_3">
          <dt>Pickup</dt>
          <dd><% if job.service_location %><%= job.service_location.address %><% else %>N/A<% end %></dd>
        </dl>

        <dl class="col_3">
          <dt>Drop Off</dt>
          <dd><% if job.drop_location %><%= job.drop_location.address %><% else %>N/A<% end %></dd>
        </dl>

        <dl class="col_2">
          <dt>Service</dt>
          <dd><%= job.service_name %></dd>
        </dl>

        <% if invoice.sender_id != Company.swoop_id %>
          <dl class="col_2">
            <dt>Truck</dt>
            <dd>
              <% if !job.rescue_vehicle_name.blank? %>
                <%= job.rescue_vehicle_name %>
              <% else %>
                N/A
              <% end %>
            </dd>
          </dl>
        <% end %>

        <% if invoice.add_driver_name_to_pdf? %>
          <dl class="col_2">
            <dt>Driver</dt>
            <dd>
              <% if !job.rescue_driver_name.blank? %>
                <%= job.rescue_driver_name %>
              <% else %>
                N/A
              <% end %>
            </dd>
          </dl>
        <% end %>

        <!-- //// -->

        <dl class="row col_3">
          <dt>Vehicle</dt>
          <dd><%= job.stranded_vehicle.year %> <%= job.stranded_vehicle.make %> <%= job.stranded_vehicle.model %></dd>
        </dl>

        <dl class="col_3">
          <dt>VIN</dt>
          <dd><% if job.stranded_vehicle.vin %><%= job.stranded_vehicle.vin %><% else %>N/A<% end %></dd>
        </dl>

        <dl class="col_2">
          <dt>License Plate</dt>
          <dd>
            <% if job.stranded_vehicle.license? %>
              <%= job.stranded_vehicle.license %>
            <% else %>
              N/A
            <% end %>
          </dd>
        </dl>

        <dl class="col_2">
          <dt>Odometer</dt>
          <dd>
            <% if job.odometer? %>
              <%= job.odometer.round %>
            <% else %>
              N/A
            <% end %>
          </dd>
        </dl>

        <% if job.unit_number? %>
          <dl class="col_2">
            <dt>Unit</dt>
            <dd><%= job.unit_number %></dd>
          </dl>
        <% end %>

        <!-- //// -->

        <dl class="row col_3">
          <% if job.customer and job.customer.full_name and job.customer.full_name.length > 0 %>
            <dt>Customer Name</dt>
            <dd><%= job.customer.full_name %></dd>
          <% end %>
        </dl>

        <dl class="col_3">
          <dt>Customer Phone</dt>
          <dd class="telephone-number"><%= job.customer.phone.sub('+1', '') if job.customer.phone %></dd>
        </dl>

        <% if job.ref_number? %>
          <dl class="col_2">
            <dt>
              <% if invoice.is_enterprise? %>
                Claim Number
              <% elsif invoice.is_turo? %>
                RES
              <% else %>
                Reference
              <% end %>
            </dt>
            <dd><%= job.ref_number %></dd>
          </dl>
        <% end %>

        <% if job.po_number? %>
          <dl class="col_2">
            <dt>
              <% if job.fleet_company and job.fleet_company.is_enterprise? %>
                PO/Branch
              <% else %>
                PO
              <% end %>
            </dt>
            <dd><%= job.po_number %></dd>
          </dl>
        <% end %>

        <% if job.issc_dispatch_request.present? and job.issc_dispatch_request.issc %>
          <dl class="col_2">
            <dt>Vendor ID</dt>
            <dd><%= job.issc_dispatch_request.issc.contractorid %></dd>
          </dl>
        <% end %>

        <% if invoice.is_enterprise? %>
          <dl class="col_2">
            <dt>Claim Type</dt>
            <dd class="truncate"><%= job.customer_type.try(:name) %></dd>
          </dl>
        <% end %>

        <!-- //// -->

        <div class="row col_12 alpha omega">

          <% if job.account.hide_timestamps_on_invoice != true %>
            <dl class="col_6 grid_12">
              <dt class="col_12">History</dt>
              <% for ajs in job.invoice_history_array %>
                <dd class="col_6"><%= ajs.status_name %></dd>
                <dd class="col_6"><%= ajs.adjusted_created_at.in_time_zone(job.timezone).strftime("%m/%d %l:%M %p") %></dd>
              <% end %>
            </dl>
          <% end %>

          <% if job.notes? and invoice.sender_id != Company.swoop_id %>
            <dl class="col_<% if job.account.hide_timestamps_on_invoice != true %>6<% else %>12<% end %> grid_12">
              <% if job.notes? %>
                <dt class="col_12">Job Details</dt>
                <dd class="col_12 job-notes"><%= job.notes %></dd>
              <% end %>
            </dl>
          <% end %>

        </div>

      </div><!-- .job_info -->

      <% if job.driver_notes? %>
        <div class="grid_12" id="invoice_notes">
          <dl>
            <dt class="col_12">Invoice Notes</dt>
            <dd class="col_12 notes"><%= job.driver_notes %></dd>
          </dl>
        </div><!-- .invoice_notes -->
      <% end %>

      <table class="table-striped" id="invoice_items">
        <thead>
          <tr>
            <th class="itemCol">
              Item
            </th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

      <div class="grid_12 waiver-and-totals nobreak">
        <div class="fine-print col_7 alpha">
          <% if invoice.sender_id != Company.swoop_id %>
            <%= job.rescue_company.inherited_invoice_waiver %>
          <% end %>
        </div>

        <div class="totals col_5 grid_12">

          <div class="col_custom1">Subtotal</div>
          <div class="col_custom2">
            <%= number_to_currency(invoice.subtotal,unit:currency_unit) %>
          </div>

          <div class="col_custom1">Tax</div>
          <div class="col_custom2">
            <%= number_to_currency(invoice.tax_amount,unit:currency_unit) %>
          </div>

          <div class="col_custom1 totals-bold">Invoice Total</div>
          <div class="col_custom2 totals-bold">
            <%= number_to_currency(invoice.subtotal+invoice.tax_amount,unit:currency_unit) %>
          </div>

          <% if !(invoice.sender_id == Company.swoop_id and job.fleet_company and job.fleet_company.try(:name) == Company::FLEET_RESPONSE) %>
            <% for payment, i in invoice.payments_or_credits %>
              <% if !payment.deleted_at %>
                <div class="col_custom1 invoice-history">
                  <% if payment.type == "WriteOff" %>Write Off<% else %><%= payment.type %><% end %>
                  (<%= payment.mark_paid_at.in_time_zone(job.timezone).strftime("%m/%d/%Y") %>)
                </div>
                <div class="col_custom2 invoice-history">
                  <%= number_to_currency(payment.total_amount,unit:currency_unit) %>
                </div>
              <% end %>
            <% end %>
            <div class="col_custom1 totals-bold">Balance Due</div>
            <div class="col_custom2 totals-bold">
              <%= number_to_currency(invoice.balance,unit:currency_unit) %>
            </div>
          <% end %>
        </div><!-- .totals -->
      </div>

      <div class="page-break" id="page-break">

        <div class="grid_12" id="signatures">

          <div class="<% if job.storage %>col_3<% else %>col_4<% end %>">
            <div class="signature-img">
              <% if job.pickup_signatures.length > 0 %>
                <%= url_for_external_image_resized(url: job.pickup_signatures.first.url, height: 50) %>
              <% end %>
            </div>
            <p><%= url_for_external_image_resized(url: "https://s3-us-west-1.amazonaws.com/joinswoop.static/pencil.png", height: 11) %> Pickup Signature</p>
          </div>
          <div class="<% if job.storage %>col_1<% else %>col_2<% end %>">
            <div class="signature-date">
              <% if job.pickup_signatures.length > 0 %>
                <span>
                    <%= job.pickup_signatures.first.created_at.in_time_zone(job.timezone).strftime("%m/%d/%Y") %>
                </span>
              <% end %>
            </div>
            <p>Date</p>
          </div>

          <div class="<% if job.storage %>col_3<% else %>col_4<% end %>">
            <div class="signature-img">
              <% if job.dropoff_signatures.length > 0 %>
                <%= url_for_external_image_resized(url: job.dropoff_signatures.first.url, height: 50) %>
              <% end %>
            </div>
            <p><%= url_for_external_image_resized(url: "https://s3-us-west-1.amazonaws.com/joinswoop.static/pencil.png", height: 11) %> Drop Off Signature</p>
          </div>
          <div class="<% if job.storage %>col_1<% else %>col_2<% end %>">
            <div class="signature-date">
              <% if job.dropoff_signatures.length > 0 %>
                <span>
                    <%= job.dropoff_signatures.first.created_at.in_time_zone(job.timezone).strftime("%m/%d/%Y") %>
                </span>
              <% end %>
            </div>
            <p>Date</p>
          </div>

          <% if job.storage %>
            <div class="col_3">
              <div class="signature-img">
                <% if job.release_signatures.length > 0 %>
                  <%= url_for_external_image_resized(url: job.release_signatures.first.url, height: 50) %>
                <% end %>
              </div>
              <p><%= url_for_external_image_resized(url: "https://s3-us-west-1.amazonaws.com/joinswoop.static/pencil.png", height: 11) %> Release Signature</p>
            </div>
            <div class="col_1">
              <div class="signature-date">
                <% if job.release_signatures.length > 0 %>
                  <span>
                    <%= job.release_signatures.first.created_at.in_time_zone(job.timezone).strftime("%m/%d/%Y") %>
                  </span>
                <% end %>
              </div>
              <p>Date</p>
            </div>
          <% end %>

        </div><!-- #signatures -->

        <% if job.pickup_images.length > 0 %>
          <%= render partial: "pdfs/images.pdf", :locals => {
            title: "Pickup Photos",
            images: job.pickup_images,
            job: job
          } %>
        <% end %>

        <% if job.has_signatures_or_images? and invoice.sender_id != Company.swoop_id and job.rescue_company.inherited_pickup_waiver %>
          <dl class="waiver_text grid_12">
            <dt class="col_12">Pickup Waiver</dt>
            <dd class="col_12"><%= job.rescue_company.inherited_pickup_waiver %></dd>
          </dl>
        <% end %>

        <% if job.dropoff_images.length > 0 %>
          <%= render partial: "pdfs/images.pdf", :locals => {
              title: "Drop Off Photos",
              images: job.dropoff_images,
              job: job
            } %>
        <% end %>

        <% if job.has_signatures_or_images? and invoice.sender_id != Company.swoop_id and job.rescue_company.inherited_dropoff_waiver%>
          <dl class="waiver_text grid_12">
            <dt class="col_12">Drop Off Waiver</dt>
            <dd class="col_12"><%= job.rescue_company.inherited_dropoff_waiver %></dd>
          </dl>
        <% end %>

        <% if job.images.length > 0 %>
          <table class="job-photos">

            <thead>
              <tr>
                <th>Photos</th>
                <th>Date &amp; Time</th>
                <th>Location</th>
              </tr>
            </thead>

            <tbody>

              <% for image, i in job.images %>
                <tr>
                  <td><%= url_for_external_image_resized(url: image.url, height: 100) %><br /><a href='<%= image.url %>' class='link'>Photo<%= i %>.jpeg</a></td>
                  <td><%= image.created_at.in_time_zone(job.timezone).strftime("%m/%d/%Y %H:%M %Z") %></td>
                  <td><a class='link' href='http://maps.google.com/?q=<%= image.lat %>,<%= image.lng %>'>http://maps.google.com/?q=<%= image.lat %>,<%= image.lng %></a></td>
                </tr>
              <% end %>

            </tbody>

          </table>
        <% end %>

        <% if job.invoice_documents.any? %>
        <table class="job-documents">
            <thead>
              <tr>
                <th>Documents</th>
              </tr>
            </thead>
            <tbody>
              <% job.invoice_documents.each do |doc| %>
                <tr>
                  <td><a href='<%= doc.url %>' class='link'><%= doc.original_filename %></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>

      </div><!-- .page-break -->

    </div><!-- .page_container" -->
  </body>
 </html>
