.app-versions-select {
  margin: 20px 0 10px;

  select {
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    vertical-align: middle;
  }

  .component-fabutton {
    margin-left: 5px;
    vertical-align: middle;
  }
}

.version-list {
  margin-top: 20px;

  .resize_handle {
    display: none;
  }
}
