.api-integration {
  align-items: center;
  display: flex;
  font-size: 13px;
  justify-content: space-between;

  .api-display {
    display: flex;
    align-items: center;

    img {
      border-radius: 5px;
      display: block;
      flex: 0 0 auto;
      margin-right: 20px;
      height: 64px;
      width: 64px;
    }

    .api-credentials {
      display: flex;
      flex-direction: column;

      p {
        line-height: 1.25;
        margin: 0 0 0.25em;

        &.api-credentials-heading {
          font-weight: bold;
        }
      }

      ul {
        line-height: 1.25;
        margin: 0;
        padding: 0;

        li {
          span {
            font-weight: 600;
          }
        }
      }
    }
  }

  .api-actions {
    display: flex;
    flex-direction: column;
    min-width: 164px;
    width: 20%;

    a,
    button {
      background-color: #7fbce2;
      border: none;
      border-radius: 4px;
      color: white;
      display: block;
      font-size: 14px;
      line-height: 2;
      padding: 0 12px;
      text-align: center;
      width: 100%;

      &.revoke {
        background-color: #aaa;
        margin-top: 6px;
      }
    }
  }
}
