.modal {
  .modal-content.form.editmodal.account_form {
    .form_container {
      .form-group.disable_qb {
        margin-left: 0 !important;
        background-color: rgb(242, 242, 242);
        border: rgb(238, 238, 238);
        padding: 15px;
        margin-bottom: 15px !important;
        border-radius: 3px;
        border: 1px solid rgb(226, 226, 226);
      }

      .short-select {
        min-width: 170px;
        width: fit-content;
      }
    }

    .group_title:empty {
      display: none;
    }
  }
}
