.item-container {
  .delete-photo {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.65);
    cursor: pointer;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    position: absolute;
    right: 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: 0.2s opacity ease-in-out;
    top: 0;
    visibility: hidden;
    width: 24px;
  }

  &:hover {
    .delete-photo {
      opacity: 1;
      visibility: visible;

      &:hover {
        color: white;
      }
    }
  }
}
