.carousel-modal {
  .carousel-title {
    font-size: 14px;
    font-weight: normal;
    left: calc(50% - 47px);
    line-height: 40px;
    margin: 0;
    position: absolute;
    text-transform: capitalize;
    top: 0;
  }

  .carousel-container .carousel {
    .scrollbar-mask .mask {
      background: transparent;
    }

    .image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .image-container {
        height: 562px;
        position: relative;

        img {
          height: 100%;
          object-fit: contain;
          object-position: center;
          opacity: 1;
          transition: 0.2s opacity ease-in-out;

          &.hidden {
            opacity: 0;
          }
        }

        .loadingContainer {
          left: 0;
          position: absolute;
          top: calc(50% - 70px);
          width: 100%;
        }
      }

      .date-time {
        font-size: 12px;
        line-height: 40px;
        z-index: 2;

        > * {
          display: inline-block;
        }

        .maps-link a {
          color: #fff;
          text-decoration: underline;
        }

        .full-image-link a {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
}
