.carousel-container {
  left: -10px;
  position: relative;

  .carousel {
    display: inline-block;

    .items-container-outer {
      position: relative;

      .slider-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        position: absolute;
        cursor: pointer;
        z-index: 200;
        outline: 0;
        color: grey;

        &:hover {
          color: black;
        }
      }

      .items-container-middle {
        flex-flow: row;
        overflow-x: scroll;
        padding-bottom: 17px;

        &.hide-scrollbar {
          &::-webkit-scrollbar {
            display: none;
          }
        }

        .items-container-inner {
          display: flex;
          margin: auto;

          .item-container {
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            position: relative;
          }
        }
      }
    }

    .scrollbar-mask {
      display: flex;
      justify-content: center;
      height: 17px;
      width: 100%;
      position: absolute;
      bottom: 0;

      .mask {
        height: 100%;
        width: 100%;
        z-index: 1;
        -webkit-transform: translate3d(0, 0, 0);
        background: white;
      }
    }
  }
}
