
.modal.modal-new.carousel-modal-dialog {
  background: rgba(0, 0, 0, 0.8);

  .modal-dialog {
    max-width: 100%;
  }
}

.modal.modal-new > .modal-dialog > .modal-content.carousel-modal-wrapper {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 0;
  padding: 0 40px;
  position: relative;

  > .modal-header {
    background-color: transparent;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    button.close {
      color: #fff;
    }
  }

  > .modal-body {
    background-color: transparent;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    position: static;

    .carousel-modal {
      .carousel-container {
        left: 0;
        position: static;

        .carousel {
          .items-container-outer {
            .items-container-middle {
              padding: 0;

              .items-container-inner {
                .item-container {
                  padding: 0;
                }
              }
            }

            .slider-button {
              color: #fff;
              text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }

  .modal-footer {
    display: none;
  }
}
