/* This was imported in from partner_fleet an old component that was polluting this one but may not be needed */
.fleet-map {
  //max-width: 600px;
  min-width: 250px;
  width: 100%;
  height: 630px;
  background-color: transparent !important;

  @media (max-width: 900px) {
    height: 400px;
  }
}

.fleet-map {
  $expandedWidth: 350px;
  $collapsedWidth: 15px;
  $tabHeight: 40px;

  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;

  &.leftCollapsed {
    .left-side-bar {
      transform: translateX($collapsedWidth - $expandedWidth);

      .expander {
        &::before {
          content: "\f054" !important;
        }
      }
    }
  }

  .GMap {
    width: 100%;
    height: -webkit-calc(100%); /** Safari 6, Chrome 19-25 **/
    height: -moz-calc(100%); /** FF 4-15  **/
    height: calc(100%);
    position: absolute;
    transition: width 0.5s;
    transition: left 0.5s;
  }

  .left-side-bar {
    width: $expandedWidth;
    background-color: #f0f0f0;
    transform: translateX(0);
    height: -webkit-calc(100% - 50px); /** Safari 6, Chrome 19-25 **/
    height: -moz-calc(100% - 50px); /** FF 4-15  **/
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
    z-index: 999;
    transition: transform 0.5s;
    border-right: 1px solid #d8d8d8;

    .exanderContainer {
      position: absolute;
      right: 0;
      width: 10px;
      cursor: pointer;
      top: 0;
      height: 100%;

      &:hover {
        border-right: 2px solid #73bde3;

        .expander {
          border-color: #73bde3;
          border-width: 2px;

          &::before {
            color: #73bde3;
            left: 9px;
          }
        }
      }

      .expander {
        position: absolute;
        right: -30px;
        width: 30px;
        top: calc(50% - 50px);
        height: 100px;
        background-color: #f0f0f0;
        text-align: center;
        font-size: 18px;
        color: #ccc;
        border: 1px solid #d8d8d8;
        border-left: 0;
        cursor: pointer;

        &::before {
          position: absolute;
          top: 39%;
          left: 7px;
          content: "\f053";
          font-family: FontAwesome;
        }
      }
    }

    .content {
      height: 100%;

      > div {
        height: 100%;
        display: flex;
        flex-direction: column;

        nav {
          flex-grow: 0;
        }

        .job_list {
          flex-grow: 1;
        }
      }

      .job_list {
        margin: 0;
        padding: 0;
        overflow-y: scroll;

        .job_card {
          margin: 10px;
          background-color: #fff;
          cursor: pointer;
          border-radius: 4px;
          border: 1px solid #e2e2e2;

          &.selected {
            border: 2px solid #73bde3;
          }

          .top_section {
            padding: 0 15px;

            > div {
              margin: 10px 0;
            }

            .job_info {
              font-weight: 700;
            }

            .job_card_address {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: #aaa;

              .letter {
                display: inline-block;
                color: #aaa;
                font-weight: bold;
                margin-right: 5px;
              }

              .address {
                color: #aaa;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }

          .bottom_section {
            border-top: 1px solid #e2e2e2;

            .status,
            .tower {
              display: inline-block;
              padding: 10px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              vertical-align: middle;
            }

            .status {
              border-right: 1px solid #e2e2e2;
              width: 50%;
            }

            .tower {
              width: 50%;
            }
          }
        }
      }
    }
  }

  .qnav.qnav-tabs {
    display: flex;
    border: 0;
    border-bottom: 1px solid #e2e2e2;
    background-color: #fff;

    > li {
      flex: 1 0 0;
      width: inherit;
      height: inherit;
      height: $tabHeight;
      padding-top: 5px;

      &.active {
        padding-top: 8px;
      }
    }
  }
}
