.invoice_container {
  .between_dates > div .dropdown-menu {
    right: -175px !important;
  }

  padding-top: 10px !important;

  nav {
    margin-bottom: 10px;
  }

  .bottomComponents {
    margin-bottom: 10px;
  }

  .search-container {
    clear: inherit;
  }

  .swoopTable {
    padding-top: 10px;
  }
}
