#reporting_container {
  .invoice_filter {
    .selector.dates {
      position: relative;
      top: -1px;

      .between_date_selector {
        .swoop_datetime.rdt {
          &::after {
            top: 6px;
          }
        }
      }
    }
  }

  .jobs-report,
  .po-required,
  .eta-ata-report {
    .invoice_filter .selector.dates {
      top: 0;
    }
  }
}

.invoice_container {
  .invoice_filter .selector.dates {
    margin-top: 1px;
  }
}
