.issc_status {
  display: inline-block;
  position: relative;
  margin-right: 15px;

  &.active,
  &:hover {
    .fa-podcast {
      opacity: 0.5;
    }
  }

  .fa-podcast {
    vertical-align: middle;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    top: -2px;
  }

  .issc_wrapper {
    display: block;
    position: absolute;
    min-width: 350px;
    right: 0;
    top: 35px;
    padding: 5px 10px;
    z-index: 999;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  }

  .server_down {
    text-transform: uppercase;
    font-size: 12px;
    color: red;
  }

  .motorclub_list {
    margin: 0;
    padding: 0;

    .account_item {
      display-type: none;
      margin: 0;
      padding: 10px 5px 0 5px;
      border-bottom: 1px solid #e2e2e2;

      .account_name {
        color: black;
        font-weight: bold;
      }

      .account_status {
        margin-left: 5px;
      }
    }

    .site_list {
      padding: 5px;

      .site_row {
        display-type: none;
        margin: 0;
        padding: 0;

        .site_name {
          color: black;
          font-weight: bold;
        }

        .vendor_list {
          padding: 5px;
        }
      }
    }
  }

  .support_label {
    color: #828282;
    font-size: 11px;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

    .email {
      color: "#7FBCE2";
      text-decoration: "underline";
    }
  }

  .no_vendors {
    color: black;
    margin: 5px 10px;
  }
}
