.job_form {
  .customer-lookup-field {
    width: calc(50% - 10px);
  }

  #Containerscheduled_for {
    border: 0 !important;

    .date_time_selector_with_timezone {
      // not sure why border box isnt working here on stopping border jump so have to do this
      // box-sizing: border-box;
      padding: 2px;
      margin: -2px 0 0 -2px;
    }

    .field-error .date_time_selector_with_timezone {
      border: 2px solid #f00;
      border-radius: 5px;
      padding: 0;
    }

    .error_bubble {
      right: 102px !important;
      bottom: 40px !important;

      .bubble {
        right: -105px;

        &::before {
          right: 97px;
        }

        &::after {
          right: 99px;
        }

        span {
          text-align: center;
        }
      }
    }
  }

  #Containerpolicy_location {
    .geosuggest {
      margin: 0;
    }
  }

  .geosuggest-item {
    .loadingContainer {
      margin-left: 20px;
    }
  }

  #Containerpartner_dispatcher_id,
  #Containerroot_dispatcher_id,
  #Containerfleet_dispatcher_id {
    position: relative;

    &::after {
      content: "\f0d7";
      position: absolute;
      color: #7f7f7f;
      top: 50%;
      right: 5px;
      margin-top: -11px;
      font-size: 18px;
      pointer-events: none;
      font-family: FontAwesome;
      font-weight: normal;
    }

    .geosuggest__suggests {
      position: absolute;
      top: initial;
      bottom: 22px;
    }
  }

  .modal-header .job-id {
    color: #ccc;
    right: 40px;
    position: absolute;
    top: 8px;
    font-size: 16px;
  }
}

.coverage_section {
  box-sizing: border-box;

  &.covered {
    border: 2px solid #00b40f !important;
  }

  &.not_covered {
    border: 2px solid #ff8b00 !important;
  }

  .coverage,
  .covered_miles {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0 !important;

    i {
      font-size: 18px;
      vertical-align: middle;
      margin-right: 3px;
      position: relative;
      top: -2px;

      &.fa-question-circle {
        color: #9b9b9b;
        margin-left: 3px;
      }
    }

    .control-label {
      margin-left: 3px;
      position: relative;
      top: -2px;
    }
  }

  label {
    display: inline;
    margin-right: 4px;
  }
}

.add_all_sites_and_places_pin {
  position: absolute;
  top: 245px;
  left: 20px;
  z-index: 1;
  border-radius: 4px;
  padding: 3px;
  background-color: rgb(170, 170, 170);
  width: 29px;
  height: 29px;
  text-align: center;

  > div:first-child {
    visibility: hidden;
    top: -37px;
    position: absolute;
    left: -42px;
    width: 130px;
    background-color: white;
    padding: 2px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

    &::before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 17px 17px 0;
      border-color: #ccc transparent;
      display: block;
      width: 0;
      top: 22px;
      z-index: 1;
      margin-left: 39px;
    }

    &::after {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 15px 15px 0;
      border-color: #fff transparent;
      display: block;
      width: 0;
      z-index: 1;
      margin-left: 39px;
      top: 22px;
    }
  }
}

.confirm_job_details {
  max-width: 600px !important;

  .confirmation_details {
    h2 {
      font-size: 13px;
      font-family: 'Open Sans';
      font-weight: bold;
      margin: 5px 0 20px;
    }

    > div {
      white-space: wrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 10px;

      label {
        display: inline-block;
        width: 225px;
        margin-right: 5px;
      }

      span,
      label {
        vertical-align: bottom;
        line-height: 18px;
        margin-bottom: 0;
      }
    }

    a {
      font-weight: bold;
      line-height: 25px;
      cursor: pointer;
    }

    font-size: 13px;
  }
}

.add_all_sites_and_places_pin:hover > div:first-child {
  visibility: visible;
}
