@import '../colors';

body.mobile {
  .job_details {
    .detail_tabs {
      max-width: 100%;
    }
  }
}

.job_details {
  .GMap {
    flex-basis: 600px;
  }

  .equipment {
    li {
      font-weight: bold;
      color: $important_red;
    }
  }

  .detail_tabs {
    background-color: white;
    flex: 1;
    flex-basis: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 50%;
    min-height: 450px;

    div.table-details {
      margin: 0;
      width: 100%;

      .invoice-amounts {
        > span {
          margin-right: 2px;
        }
      }
    }

    nav {
      margin-bottom: 0;

      ul {
        width: 100%;
        border-radius: 3px 3px 0 0;

        li {
          width: 33.333333%;

          .history_tab {
            position: relative;

            .add_item {
              position: absolute;
              right: 5px;
              border-radius: 8px;
              width: 16px;
              height: 16px;
              background-color: #aaa;
              margin-top: 5px;
              cursor: pointer;

              &.active {
                background-color: #7fbce2;
              }

              &::before {
                content: '+';
                position: relative;
                top: -6px;
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .detail_history,
  .table-details {
    min-height: 450px;
  }

  div.table-details {
    position: relative;
    margin: 0;
    border-radius: 0 0 3px 3px;
    margin: 10px;
    margin-left: 3px;

    .top_right {
      position: absolute;
      right: 22px;
      top: 10px;
      color: #ccc;
      margin-top: 2px;
    }

    .details_row {
      .details-status {
        &.candidates > div > div,
        &.bids > div > div {
          margin-bottom: 5px;
        }
      }
    }
  }

  .carousel-container {
    @media (min-width: 1000px) {
      width: 140px;
    }

    @media (min-width: 1054px) {
      width: 280px;
    }

    @media (min-width: 1194px) {
      width: 420px;
    }

    @media (min-width: 1334px) {
      min-width: 560px;
    }
  }
}
