.job-detail-carousel-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .image-container {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    -webkit-filter: brightness(95%);
    filter: brightness(95%);

    &:hover {
      -webkit-filter: brightness(105%);
      filter: brightness(105%);
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE hack
        height: auto;
      }
    }

    .loadingContainer {
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  .date-time {
    margin-top: 5px;
  }
}
