.modalPopup {
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 99999;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 4px;

  .arrow {
    position: absolute;
    z-index: -1;
    content: '';
    left: -12px;
    top: 42.5%;
    border-style: solid;
    border-width: 11px 11px 11px 0;
    border-color: transparent #e0e0e0 transparent transparent;
  }

  .arrow::before {
    position: absolute;
    z-index: -1;
    content: '';
    right: -12px;
    top: -10px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
  }

  div {
    .modal-header {
      height: 32px;
      padding: 7px 5px 5px 15px;
      margin-top: 2px;
      border-bottom: 1px solid #e2e2e2;

      h3 {
        display: inline;
        color: #90c4e4;
        font-size: 16px;
        font-weight: bold;
        font-family: "Open Sans", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }

      span {
        float: right;
        color: #ccc;
        font-size: 24px;
        font-weight: bold;
        margin-top: -9px;
        padding-right: 5px;
        cursor: pointer;
      }
    }

    .body {
      padding-top: 12px;
    }

    .modal-bottom {
      padding: 15px;
      float: right;
    }
  }
}
