.quickbook_popup {
  width: 240px;
  text-align: center;

  span {
    font-weight: 700;
  }

  div.modal-bottom {
    width: 100%;
    padding-top: 0;

    .btn {
      width: 100% !important;
      padding: 3px;
      height: 26px;
      color: white;
    }
  }
}

.modal_invoice {
  background-color: #f4f4f4;
  height: 100%;
  overflow-y: auto;
  padding: 10px;

  .invoice-view-types {
    margin: 0 auto;

    .BillingTypeField {
      option {
        color: #555;
      }
    }
  }

  .invoice-item-list {
    .table_headers,
    .line-item,
    .storageLineItem {
      > div {
        box-sizing: border-box;
        display: inline-block;
        padding-right: 10px;
        vertical-align: top;
        width: 25%;

        &.LineItemNameFactory {
          width: 35%;
        }

        &.LineItemQtyFactory {
          width: 15%;
        }

        &.LineItemPriceFactory {
          margin-left: 10%;
          width: 15%;
        }

        &.LineItemTotalFactory {
          margin-left: 10%;
          width: 15%;
        }
      }
    }

    .storageLineItem {
      > div {
        &.LineItemNameFactory {
          width: 13%;
        }

        &.LineItemEstimatedFactory {
          width: 22%;

          .inputWrapper {
            > span {
              float: left;
              line-height: 34px;
              margin-right: 5px;
            }

            > div {
              margin: 0;
              top: 8px;
            }
          }
        }
      }
    }

    .table_headers {
      border-bottom: 1px solid #ccc;
      font-weight: bold;

      > div {
        padding-bottom: 5px;
      }
    }

    .line-item,
    .storageLineItem {
      line-height: 34px;
      margin: 10px auto;
      position: relative;

      > div {
        margin-bottom: 0;

        &.delete-line-item {
          box-sizing: content-box;
          left: 0;
          position: absolute;
          text-align: left;
          top: 0;
          width: auto;
          z-index: 1;

          button {
            cursor: pointer;

            &.disabled {
              display: none;
            }
          }
        }

        &.LineItemNameFactory {
          padding-left: 20px;
        }

        &.LineItemPriceFactory {
          &::before {
            left: 10px;
            position: absolute;
            top: 0;
          }

          .inputWrapper {
            text-align: right;

            input {
              display: inline-block;
              padding-left: 20px;
              text-align: right;
            }
          }
        }

        &.LineItemTotalFactory {
          text-align: right;

          &::before {
            left: 10px;
            position: absolute;
            top: 0;
          }
        }

        > *,
        .field-span {
          margin: 0;
        }
      }
    }

    .addon-selector-container {
      margin: 10px 0 20px 20px;
      min-height: 34px;

      .addon_selector {
        max-width: 185px;
      }
    }

    .invoice_bottom {
      margin: 10px auto;
      position: relative;
      text-align: left;

      .additional-items-warning {
        color: red;
        font-weight: bold;
        margin: 0 0 20px 20px;
        text-align: left;
      }

      .invoice-notes-wrapper {
        display: inline-block;
        padding-right: 10px;
        padding-left: 20px;
        vertical-align: top;
        width: 50%;

        .invoice_notes {
          margin: 0;
          max-width: 478px;
          position: relative;
          text-align: left;

          label {
            line-height: 34px;
            margin-bottom: 0 !important;
          }

          textarea {
            max-width: 100%;
            min-height: 80px;
          }
        }

        .documents-label {
          font-size: 12px;
          line-height: 34px;
          margin-bottom: 0;
          margin-top: 20px;
        }

        > div {
          &:not(.invoice_notes) {
            display: block !important;
          }
        }

        .error_bubble {
          .bubble {
            line-height: 1.5em;
            max-width: 185px;
            text-align: center;
          }
        }
      }

      .totalsList {
        display: inline-block;
        line-height: 34px;
        vertical-align: top;
        width: 50%;

        .subtotal,
        .tax,
        .total {
          > div {
            display: inline-block;
            margin-right: 0;
            margin-left: 0%;
            max-height: 34px;
            padding-right: 10px;
            position: relative;
            vertical-align: top;
            width: 50%;

            &:nth-child(1) {
              font-weight: bold;
              margin-left: 20%;
              width: 30%;
            }

            &:nth-child(2) {
              margin-bottom: 0;
              text-align: right;
              margin-left: 20%;
              width: 30%;

              .inputWrapper {
                display: inline-block;
                padding-right: 0;
                position: relative;
                width: 100%;

                &::before {
                  left: 10px;
                  position: absolute;
                  top: 0;
                }

                label {
                  display: none;
                }

                .field-span {
                  margin-top: 0;
                  max-width: 100%;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }

                .form-control {
                  display: inline-block;
                  padding-right: 10px;
                  padding-left: 10px;
                  text-align: right;
                }
              }
            }

            .quickbook_button {
              background-repeat: no-repeat;
              background-size: contain;
              cursor: pointer;
              height: 28px;
              position: absolute;
              top: 3px;
              left: -34px;
              width: 28px;

              &.gray {
                background-image: url("https://s3-us-west-1.amazonaws.com/joinswoop.static/QB_Gray.png");
              }

              &.green {
                background-image: url("https://s3-us-west-1.amazonaws.com/joinswoop.static/QB_Green.png");
              }
            }
          }
        }

        .tax {
          > div {
            &:nth-child(2) {
              padding-right: 0;
            }
          }
        }

        .percentItem {
          > div {
            display: inline-block;
            margin-left: 20%;
            padding-right: 10px;
            text-align: right;
            vertical-align: top;
            width: 30%;

            &.form-group {
              margin-bottom: 0;
            }

            &:nth-child(1) {
              font-weight: bold;
              text-align: left;
            }

            &:nth-child(2) {
              margin-bottom: 0;
              margin-left: 0;
              text-align: right;
              width: 20%;

              &::before {
                content: "%";
                left: 10px;
                position: absolute;
                top: 0;
              }

              input {
                display: inline-block;
              }
            }

            &:nth-child(3) {
              margin-left: 0;

              .inputWrapper {
                &::before {
                  left: 10px;
                  position: absolute;
                  top: 0;
                }
              }
            }

            .inputWrapper {
              .field-span {
                margin-top: 0;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              input {
                text-align: right;
              }
            }
          }
        }

        > div {
          margin-bottom: 10px;
        }
      }
    }
  }

  .payments-section {
    .table_headers {
      font-weight: bold;

      > div {
        border-bottom: 1px solid #ccc;
        display: inline-block;
        padding-bottom: 5px;
        padding-right: 20px;
        vertical-align: top;
        width: 24%;

        &.payment-date {
          width: 14%;
        }

        &.payment-amount {
          width: 14%;
        }
      }
    }

    .external_payment,
    .payments-line-items {
      line-height: 34px;

      .payments-line-item {
        margin: 10px 0;
        position: relative;

        > div {
          box-sizing: border-box;
          display: inline-block;
          padding-right: 20px;
          vertical-align: top;
          width: 24%;

          &.delete-payment {
            box-sizing: content-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: auto;
            z-index: 1;

            &:empty {
              padding-right: 10px;
            }

            button {
              cursor: pointer;
            }
          }

          &.PaymentTypeFactory {
            padding-left: 20px;
            width: 24%;
          }

          &.PaymentNameFactory {
            div,
            span {
              display: inline-block;
              vertical-align: top;
            }

            .credit_card {
              margin-right: 3px;

              img,
              span {
                margin-right: 3px;
              }
            }

            .charged {
              color: #00b821;
              margin-right: 6px;
            }
          }

          &.PaymentDateFactory,
          &.PaymentAmountFactory,
          &.qb_container {
            width: 14%;
          }

          &.PaymentAmountFactory,
          &.qb_container {
            padding-right: 0;
            text-align: right;

            .inputWrapper {
              padding-right: 10px;

              &.editable {
                padding-right: 0;
              }

              &::before {
                left: 10px;
                position: absolute;
                top: 0;
              }

              input {
                text-align: right;
              }
            }
          }

          .form-group {
            display: block;
            margin-bottom: 0;
            position: relative;

            .swoop_datetime.rdt::after {
              top: 0;
            }

            .error_bubble {
              left: auto !important;
              line-height: 20px;
            }
          }

          .field-span {
            margin-top: 0;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }

    .addon_selector {
      margin: 10px 0 20px 20px;
      max-width: 185px;
    }

    .invoice_bottom {
      margin: 10px auto;
      position: relative;
      text-align: right;

      .balanceList {
        line-height: 34px;

        .balance {
          > div {
            display: inline-block;
            font-weight: bold;
            text-align: left;
            vertical-align: top;
            width: 14%;

            .form-group {
              margin-bottom: 0;

              .field-span {
                margin-top: 0;
                padding-right: 10px;
                text-align: right;

                &::before {
                  float: left;
                }
              }
            }
          }
        }
      }
    }
  }
}
