.multiselect {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 5px;

  .selected_container {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px 5px 6px;

    ul {
      display: inline-block;
      margin: 0 25px 0 0;
      padding: 0;
      height: 23px;
      liststyle: none;

      li {
        background: #f2f2f2;
        border: 1px solid #e2e2e2;
        border-radius: 2px;
        list-style: none;
        display: inline-block;
        padding: 3px 7px;
        margin-right: 4px;
      }
    }

    .fa {
      color: #e2e2e2;
      margin: 0 10px;
      font-size: 18px;
      position: absolute;
      right: 0;
      top: 7px;
    }
  }

  .dropdown_container {
    display: block;
    position: absolute;
    top: 33px;
    padding: 10px;
    z-index: 999;
    background-color: white;
    border-radius: 4px;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #e2e2e2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
    white-space: nowrap;

    > span {
      text-transform: uppercase;
      font-size: 11px;
      color: #777;
    }

    > ul {
      margin: 0;
      padding: 0;

      > li {
        cursor: pointer;
        padding: 5px 10px;
        list-style: none;
        margin: 0 -10px;
        height: 30px;
        display: flex;
        align-items: center;
        white-space: nowrap;

        &.focused,
        &:hover {
          background: #f4f5f7;
        }

        input {
          margin-right: 10px;
          cursor: pointer;
        }

        label {
          color: black;
          font-weight: normal;
          margin: 0;
          cursor: pointer;
          width: 90%;
        }
      }
    }

    .search-input-container {
      position: relative;
      margin-bottom: 5px;

      input {
        border-radius: 3px;
        border: 1px solid #ccc;
        padding: 5px 20px 5px 5px;
        width: 100%;
      }

      i {
        position: absolute;
        top: 9px;
        right: 7px;
        color: #aaa;
        outline: 0;

        &.fa-times-circle {
          cursor: pointer;
        }

        &.fa-search {
          pointer-events: none;
        }
      }
    }
  }
}
