.partner-fleet-map-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-width: 250px;
  $expandedWidth: 350px;
  $collapsedWidth: 15px;

  &.side-bar-closed {
    .side-bar {
      transform: translateX($collapsedWidth + $expandedWidth - 25);

      .expander {
        &::before {
          content: "\f053" !important;
        }
      }
    }
  }

  .side-bar {
    background-color: #f0f0f0;
    border-left: 1px solid #d8d8d8;
    display: flex;
    flex-direction: column;
    height: -webkit-calc(100% - 50px); /** Safari 6, Chrome 19-25 **/
    height: -moz-calc(100% - 50px); /** FF 4-15  **/
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
    right: 0;
    transform: translateX(0);
    transition: transform 0.5s;
    width: $expandedWidth;
    z-index: 999;

    .content {
      min-height: 100%;
      overflow-y: auto;
      padding: 10px;
      width: auto;

      .drivers-list {
        display: flex;
        flex-direction: column;
        overflow: visible;

        h2.search-label {
          font-family: "Open Sans", Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          font-size: 13px;
        }

        &.partner-fleet ul {
          margin-top: 10px;
          max-height: calc(100vh - 110px);
        }
      }
    }

    .expander-container {
      position: absolute;
      width: 12px;
      cursor: pointer;
      top: 0;
      left: -2px;
      height: 100%;

      &:hover {
        border-left: 2px solid #73bde3;

        .expander {
          border-color: #73bde3;
          border-width: 2px;

          &::before {
            color: #73bde3;
            left: 9px;
          }
        }
      }

      .expander {
        position: absolute;
        right: 10px;
        width: 30px;
        top: calc(50% - 50px);
        height: 100px;
        background-color: #f0f0f0;
        text-align: center;
        font-size: 18px;
        color: #ccc;
        border: 1px solid #d8d8d8;
        border-right: 0;
        cursor: pointer;

        &::before {
          position: absolute;
          top: 39%;
          left: 7px;
          content: "\f054";
          font-family: FontAwesome;
        }
      }
    }
  }

  // google map
  .GMap {
    height: 100%;
    width: 100%;
    position: absolute;

    .marker-visible {
      overflow: visible !important;
    }

    // google pop up (with our class name, info-window-container, added for control)
    .info-window-container {
      // google pop up inner container
      .gm-style-iw {
        overflow: visible;

        & > [style] {
          padding-right: 18px;
          padding-bottom: 12px;
          overflow: visible !important;
        }

        // gm-style-iw inner container
        .main-section {
          height: 14px;

          .driver-and-truck-section {
            .select-truck-container {
              text-overflow: ellipsis;
              white-space: nowrap;
              display: flex;
              justify-content: center;

              .font-awesome-hover-bubble {
                margin: 0 5px 0 0;

                .bubble {
                  right: -37px;
                  top: -65px;

                  > span {
                    padding: 3px;
                    margin-left: 92px;
                    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
                    border: none;
                  }

                  &::after {
                    bottom: 3px;
                  }

                  &::before {
                    bottom: 1px;
                    border-color: rgba(0, 0, 0, 0.25) transparent;
                  }
                }

                .error-bubble-container {
                  display: none;
                  padding: 7px;

                  .alert-last-gps-update-bubble {
                    color: black;
                    padding: 7px;

                    .title {
                      margin-bottom: 5px;
                      font-weight: bold;
                    }

                    div {
                      text-align: center;
                    }
                  }
                }

                &:hover {
                  .error-bubble-container {
                    display: block !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
