@import '../colors';

.partner_check_list {
  .row_container {
    cursor: pointer;

    &.selected {
      background-color: $selected_row !important;
    }

    &.existing {
      color: $faded_text;
      cursor: not-allowed;
    }

    .fa-check {
      font-size: 25px;
    }
  }
}
