.policy_search {
  display: inline-block;
  padding-top: 18px;
  padding-left: 10px;
  position: relative;

  .info_text {
    display: block;
    margin-top: 8px;
  }

  .btn.search {
    background-color: #f2f2f2 !important;
    width: 100px;
    color: #777;

    &.enabled {
      background-color: #52b75e !important;
      color: white;
    }
  }

  .popup {
    width: 525px;
    z-index: 999;
    background-color: white;
    position: absolute;
    left: -220px;
    top: 53px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.28);
    border-radius: 3px;
    text-align: center;

    .cancel {
      position: absolute;
      display: block;
      padding: 5px;
      text-align: center;
      top: -10px;
      right: 0;
      cursor: pointer;
      font-size: 28px;
      color: #ccc;
    }

    .loading {
      padding: 20px 0;

      & > div {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        margin-left: 8px;
        vertical-align: middle;
      }
    }

    .header {
      border-bottom: 1px solid #ccc;
      width: 100%;
      text-align: left;
      padding: 5px;

      .headerItem {
        display: inline-block;
        color: #ccc;

        &.focused {
          color: black;
          font-weight: bold;

          .header_number {
            background-color: #6bbfe4;
          }
        }

        .header_number {
          display: inline-block;
          background-color: #ccc;
          border-radius: 9px;
          width: 18px;
          height: 18px;
          color: white;
          margin-right: 0;
          text-align: center;
          padding-left: 0;
          margin-right: 5px;
          margin-left: 3px;
        }

        .header_name {
          font-size: 12px;
          margin-right: 15px;
        }
      }
    }

    .result_list {
      margin: 0;
      padding: 0;

      &.with_vins {
        .result {
          span:nth-child(1) {
            width: 18%;
          }

          span:nth-child(2) {
            width: 27%;
          }

          span:nth-child(3) {
            width: 40%;
          }

          span:nth-child(4) {
            width: 15%;
          }
        }
      }

      .result {
        padding: 5px;
        border-bottom: 1px solid #e2e2e2;
        text-align: left;
        cursor: pointer;

        &:hover {
          background-color: #eee;
        }

        span {
          display: inline-block;
          vertical-align: top;
        }

        span:nth-child(1) {
          width: 18%;
        }

        span:nth-child(2) {
          width: 30%;
        }

        span:nth-child(3) {
          width: 52%;
        }
      }
    }

    .error {
      padding: 20px 0 10px;

      .action_buttons {
        margin-top: 20px;

        .btn {
          margin: 5px;
          color: white;
        }
      }

      i {
        font-size: 18px;
        vertical-align: top;
        margin-right: 5px;
        color: #ccc;
      }
    }
  }
}
