.provider_content {
  padding: 5px 15px;

  .name {
    font-size: 14px;
  }

  .phone {
    color: #777;
    font-size: 12px;
    margin-bottom: 3px;
  }

  .attributes {
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;

    i,
    span {
      display: inline-block;
      flex: 0 0 auto;
      line-height: 18px;
      margin: 0 2px;
      vertical-align: top;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .fa-phone {
      color: #a0a0a0;
    }

    .label_highlight {
      background-color: #f0f0f0;
      border-radius: 3px;
      flex: 0 1 auto;
      overflow: hidden;
      padding-top: 0;
      padding-right: 7px;
      padding-bottom: 0;
      padding-left: 7px;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.label_miles {
        flex: 0 0 auto;
      }
    }
  }

  .provider-distance {
    font-size: 12px;
    text-align: left;
  }

  .etas {
    text-align: left;

    span {
      display: block;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
