.recommendedProviderList {
  margin: 0;
  padding: 0;
  overflow-y: scroll;

  li {
    margin: 8px 5px;
    padding: 0;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background-color: #fff;

    &.selected {
      border: 1px solid rgb(226, 226, 226);
      box-shadow: rgb(127, 188, 226) 0 0 3px 3px;
    }
  }

  .show-next-partner-button {
    margin: 8px 5px;
  }
}
