.reviews_index {
  padding: 10px 40px;
  min-height: calc(100vh - 100px);

  .filter_reviews {
    margin-right: 5px;
  }

  .search-container {
    clear: initial;
  }

  .table_container {
    clear: both;
    margin-top: 10px;
  }

  .empty_message {
    text-align: center;
    display: block;
    margin-top: 10px;
  }
}
