.configure_tab {
  .object_section {
    .object_table {
      border: 1px solid #ccc;
      width: 600px;
      margin: 10px 0 20px !important;
      table-layout: fixed;

      thead {
        > tr > th {
          font-weight: normal !important;
        }

        .object_table_header {
          font-weight: normal;
          background-color: #f0f0f0;
          border-bottom: 1px solid #ccc;
          padding: 8px;
        }
      }

      .object_table_body {
        span.empty_state {
          color: #ccc;
          margin: 8px;
        }

        tr {
          border-bottom: 1px solid #ccc;
          background-color: white;

          &:last-child {
            border-bottom: 0;
          }

          & > td {
            width: 33.3%;
            border-right: 1px solid #ccc;
            background-color: white;
            padding: 8px;

            &:last-child:not(.force_bottom) {
              border-right: 0;
            }
          }
        }
      }
    }
  }
}

ul.siteProviderCompanies {
  margin: 10px 0;
  padding: 0;

  li {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    line-height: 2em;
    margin: 0 5px 5px 0;
    padding: 0 10px;
    vertical-align: top;
  }
}
