.storage_container {
  nav {
    margin-bottom: 10px;
  }

  .sideComponents {
    float: right;
  }

  padding-top: 10px !important;

  nav {
    margin-bottom: 10px;
  }

  .bottomComponents {
    margin-bottom: 10px;
    min-height: 34px;
  }

  .search-container {
    clear: inherit;
  }

  .dispatch_sites {
    margin-right: 5px;
  }
}
