@import 'colors.scss';

.component-button {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
  max-width: 100%;
  min-width: 100px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  user-select: none;
  vertical-align: baseline !important;
  white-space: nowrap;

  &.primary {
    background-color: $swoop-blue;
    color: #fff;

    &:hover {
      background-color: $swoop-blue-selected;
    }
  }

  &.primary-o {
    background-color: #fff;
    border: 1px solid $swoop-blue;
    color: $swoop-blue;

    &:hover {
      background-color: $swoop-blue;
      color: white;
    }
  }

  &.cancel,
  &.secondary {
    background-color: #aaa;
    color: #fff;

    &:hover {
      background-color: #b5b5b5;
    }
  }

  &.cancel-o,
  &.secondary-o {
    background-color: #fff;
    border: 1px solid #aaa;
    color: #aaa;

    &:hover {
      background-color: #aaa;
      color: #fff;
    }
  }

  &.green {
    background-color: #42b756;
    color: #fff;

    &:hover {
      background-color: #42b756;
    }
  }

  &.green-o {
    background-color: #fff;
    border: 1px solid #42b756;
    color: #42b756;

    &:hover {
      background-color: #42b756;
      color: #fff;
    }
  }

  &.red {
    background-color: #dc0300;
    color: #fff;

    &:hover {
      background-color: #dc0300;
    }
  }

  &.red-o {
    background-color: #fff;
    border: 1px solid #dc0300;
    color: #dc0300;

    &:hover {
      background-color: #dc0300;
      color: #fff;
    }
  }

  &.full-width {
    width: 100%;
  }

  &.narrow {
    font-size: 13px;
    line-height: 18px;
  }

  &.small {
    min-width: 0;
  }

  &.qnav-button {
    font-size: 14px;
    line-height: 35px;
  }

  &[disabled] {
    background-color: #f2f2f2;
    color: #ccc;
    cursor: default;

    &:hover {
      background-color: #f2f2f2;
      color: #ccc;
    }
  }
}
