.feedback {
  textarea {
    border: 1px solid #565656;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    height: 25vh;
    line-height: 1.25rem;
    padding: 0.625rem;
    width: 100%;
  }
}
