@import 'mobile_global.scss'; /* in assets/stylesheets */

$option-colors: (
  0: #c21907,
  1: #d5311f,
  2: #d73928,
  3: #da4838,
  4: #e65444,
  5: #ff695a,
  6: #ff8c80,
  7: #aaa,
  8: #999,
  9: #34a651,
  10: #208039,
);

.question {
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0 12px;

  &::after {
    clear: both;
    content: '';
    display: block;
  }

  > p {
    margin: 1.25rem 0;
  }

  ul.options {
    display: flex;
    font-size: 0;
    margin: 1.25rem -8px 4px;
    padding: 0;

    @each $i, $color in $option-colors {
      li.nps_option_#{$i} {
        border-color: $color;
        color: $color;

        &.selected {
          background-color: $color;
        }
      }
    }

    li {
      border: 2px solid $button_blue;
      border-radius: 50%;
      box-sizing: border-box;
      color: $button_blue;
      cursor: pointer;
      flex: 1 0 auto;
      font-size: 0.875rem;
      line-height: 1em;
      list-style: none;
      margin: 0 2px;
      overflow: hidden;
      text-align: center;
      -webkit-tap-highlight-color: transparent;

      @media only screen and (min-width: 400px) {
        font-size: 1rem;
      }

      &.selected {
        background-color: $button_blue;
        color: #fff;
      }

      > span {
        display: block;
        padding-top: 100%;
        position: relative;

        > span {
          align-items: center;
          display: flex;
          font-family: Arial;
          height: 100%;
          justify-content: center;
          left: 0;
          line-height: 1em;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
  }

  .options-indicators {
    font-size: 0;
    line-height: 0;
    margin: 3px -6px;
    text-align: left;

    > div {
      box-sizing: border-box;
      display: inline-block;
      height: 10px;
      vertical-align: top;
      width: calc(10% - 4px);

      &.right-indicator {
        float: right;
      }

      > div {
        background-color: #565656;
        height: 100%;
        margin: 0 calc(50% - 1px);
      }
    }
  }

  .options-keys {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    line-height: 1em;
    margin: 12px 0 1.25rem;
    position: relative;
    text-transform: capitalize;

    div {
      flex: 1 0 auto;
      max-width: 33.333333%;
      white-space: nowrap;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  .current-selection {
    font-size: 0.75rem;
    line-height: 1.5rem;

    @each $i, $color in $option-colors {
      .selected-#{$i} {
        color: $color;
      }
    }

    span {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 'Helvetica Neue', Arial, sans-serif;
      font-size: 6rem;
      font-weight: bold;
      line-height: 1em;
      text-rendering: optimizeLegibility;
      text-shadow: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }
  }
}
