@import 'mobile_global.scss'; /* in assets/stylesheets */

html {
  font-size: 20px;
}

.mobile-header span a {
  font-size: 0.8rem;
}

.survey-page,
.additional-questions,
.feedback,
.thankyou {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 0 auto;
  max-width: 640px;
  text-align: center;

  > div {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    &.dispatcher {
      flex: 0 0 auto;
      font-weight: bold;
      margin: 1.25rem 0 0;
    }
  }

  > button {
    background-color: $button_blue;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    height: 3.5rem;
    justify-self: end;
    letter-spacing: 0.05rem;
    line-height: 3.5rem;
    margin: 12px;
    text-transform: uppercase;
  }
}
