.thankyou {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.25rem;
  padding: 0 12px;

  p {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;
  }
}
