@import 'bootstrap';
@import 'colors';
@import 'forms';
@import 'fonts';
@import '~font-awesome/css/font-awesome';

/* TODO: Use a loader for bulk files */
@import 'app/assets/javascripts/components/info_bubble/info_bubble';

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Gotham-Book', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 19px;
  color: $header-text-blue;
  font-weight: normal;
}

/* General Links */
a {
  color: $link-blue;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: $link-blue-selected;
}

body {
  //font-weight: 400;
  overflow-x: auto;
  overflow-y: auto;
}

th {
  font-weight: bold;
}

em {
  font-style: italic;
  font-weight: bold;
}

hr {
  border: 1px solid $header-underline;
  margin: 0 10px 10px 0;
  padding-right: 0;
  width: 100%;
  min-width: 200px;
}

html,
body,
#root {
  height: 100%;
}

body,
#root {
  min-height: 100%;
}

.wrapper {
  background: white;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
  position: relative;
  -webkit-overflow-scrolling: touch;

  header {
    flex: 0 0 auto;
  }

  .content-wrapper {
    flex: 1 0 auto;
    padding-bottom: 100px;
  }

  footer {
    flex: 0 0 auto;
    padding: 15px;
  }
}

label.error {
  color: $label-error;
  letter-spacing: 0;
  text-transform: initial;
  font-size: 14px;
  padding-top: 4px;
  font-weight: 400;
  display: block;
}

::-webkit-input-placeholder {
  text-transform: initial;
  color: #c4c4c4;
}

:-moz-placeholder {
  text-transform: initial;
  color: #c4c4c4;
}

::-moz-placeholder {
  text-transform: initial;
  color: #c4c4c4;
}

:-ms-input-placeholder {
  text-transform: initial;
  color: #c4c4c4 !important;
}

// requred for bootstrap table-responsive
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.table-responsive {
  border: 0;
}

// bootstrap editable

.edit {
  font-weight: 500;
}

.editable-click {
  border: 0;
}

.editableform .form-control {
  width: 240px;
}

/* IOS-style clear button for text inputs */
.editable-clear-x {
  background: image-url('~images/clear.png') center center no-repeat;
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  opacity: 0.6;
  z-index: 100;
  top: 50%;
  right: 6px;
  margin-top: -6px;
}

.gaz {
  display: none;
}

.disable-animations *,
.disable-animations *::after,
.disable-animations *::before {
  transition-property: none !important;
  transform: none !important;
  animation: none !important;
}

.button-error {
  color: red !important;
  border-color: red !important;
}

.button-error:hover {
  background-color: red !important;
  color: white !important;
}
