// Standard colors that will be frequently used

$swoop-blue: #7fbce2;
$swoop-navy: #163647;
$swoop-light-grey: #b4bcc1;
$swoop-medium-grey: #565656;
$swoop-dark-grey: #333;
$swoop-near-black: #020202;
$label-error: #f00;
$border: #aaa;
$swoop-blue-selected: #85c5ed;
$disabled: #dedede;

$form_split: #e2e2e2;
$faded_text: #9b9b9b;
$selected_row: #ecf8ee;
$disabled_btn_background: #e2e2e2;
$error_red: red;
$important_red: red;
$send_green: #4bbf61;
$yellow: #f1cb2d;
$blue: #7fbce2;

.yellow {
  color: $yellow;
}

.blue {
  color: $swoop-blue;
}
