.cell.dispatcher {
  overflow: visible !important;

  .geosuggest {
    height: 23px;

    input {
      vertical-align: top;
      border-top: 0;
      border-bottom: 0;
    }

    .bold {
      font-weight: bold; //TODO: move this elsewhere
    }
  }
}
