@import 'colors';
@import 'fixed-data-table.css';
@import 'main';
$nav-bg: #565656;
$nav-text: #fff;
$sidenav-bg: #e2e2e2; //$swoop-navy;
$sidenav-selected: #f2f2f2; //#24546d;
$sidenav-text: #101010;
$sidenav-text-hover: #5a5a5a;
$content-bg: #fff;
$footer-bg: #fff;
$logout-hover: #b1b1b1;

$header-text-blue: $swoop-blue; //#285e7b;
$header-text-deselected: #aaa;
$tab-border: #ccc;
$table-header-border: #e2e2e2;
$table-row-stripes: #f3f3f3; //#EFF7FB;
$table-row-selected: #f2f2f2; //#ABD7EE;
$table-border: #f2f2f2;
$details-box-border: #e2e2e2;

$edit: $swoop-blue;
$edit-selected: $swoop-blue-selected;
$cancel: #aaa;
$cancel-selected: #7f7f7f;
$save: #42b756;
$save-selected: #35a148;

$sidenav-width: 146px;
$content-transform: 140px;
$footer-transform: $sidenav-width;
$footer-text: #ccc;
$footer-text-hover: #aaa;

$title-green: #22ce00;

ul {
  list-style: none;
}

.react.fixed.application {
  /* workaround for bootstrap modals and table resizing because when padding for body is restored table is resized */
  padding-right: 0 !important;
}

.rc-input-number {
  margin: 0;
  padding: 0;
  line-height: 26px;
  font-size: 12px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.rc-input-number-handler {
  text-align: center;
  line-height: 12px;
  height: 14px;
  overflow: hidden;
  display: block;
}

.rc-input-number-handler-up-inner,
.rc-input-number-handler-down-inner {
  color: #666;
  user-select: none;
  -webkit-user-select: none;
}

.rc-input-number:hover {
  border-color: #23c0fa;
}

.rc-input-number:hover .rc-input-number-handler-up,
.rc-input-number:hover .rc-input-number-handler-wrap {
  border-color: #23c0fa;
}

.rc-input-number-disabled:hover {
  border-color: #d9d9d9;
}

.rc-input-number-disabled:hover .rc-input-number-handler-up,
.rc-input-number-disabled:hover .rc-input-number-handler-wrap {
  border-color: #d9d9d9;
}

.rc-input-number-input-wrap {
  overflow: hidden;
  height: 26px;
}

.rc-input-number-input {
  width: 100%;
  text-align: center;
  outline: 0;
  -moz-appearance: textfield;
  line-height: 26px;
  height: 26px;
  transition: all 0.3s ease;
  color: #666;
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 0;
}

.rc-input-number-handler-wrap {
  float: right;
  border-left: 1px solid #d9d9d9;
  width: 20px;
  height: 26px;
}

.rc-input-number-handler-up {
  border-bottom: 1px solid #d9d9d9;
  padding-top: 1px;
}

.rc-input-number-handler-up-inner::after {
  content: '+';
}

.rc-input-number-handler-down-inner::after {
  content: '-';
}

.rc-input-number-handler-down-disabled,
.rc-input-number-handler-up-disabled {
  opacity: 0.72;
}

.rc-input-number-handler-down-disabled:hover,
.rc-input-number-handler-up-disabled:hover {
  color: #999;
  border-color: #d9d9d9;
}

.rc-input-number-disabled .rc-input-number-input {
  opacity: 0.72;
  cursor: not-allowed;
  background-color: #f3f3f3;
}

.rc-input-number-disabled .rc-input-number-handler {
  opacity: 0.72;
}

.rc-input-number-disabled .rc-input-number-handler:hover {
  color: #999;
  border-color: #d9d9d9;
}

.bottomMargin {
  margin-bottom: 50px !important;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.statement-modal-text {
  text-align: left;
  white-space: normal !important;
}

.geosuggest__suggests.autosuggest_list:not(.geosuggest__suggests--hidden) {
  max-height: 150px;
  overflow-y: auto;
}

.gray_box {
  background: #f2f2f2;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  list-style: none;
  display: inline-block;
  padding: 3px 7px;
  margin-right: 4px;
}

.account_wrapper {
  border-radius: 2px;
  display: inline-block;
  padding: 0 7px;
}

.generalTable {
  clear: both;

  .helper-text {
    line-height: 40px;
    margin: 0 5px;
  }

  .public_fixedDataTableCell_wrap1,
  .public_fixedDataTableCell_wrap2,
  .public_fixedDataTableCell_wrap3 {
    width: 100%;
    display: block;
    text-overflow: ellipsis;

    .public_fixedDataTableCell_cellContent {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 24px;
    }
  }

  .resizableCell {
    .resizeBar {
      height: 100%;
      background-color: black;
      width: 3px;
      position: absolute;
      right: 0;
    }
  }

  .sortHeaderCell {
    position: relative;

    &::after {
      content: "";
      font-family: FontAwesome;
      position: absolute;
      right: 8px;
      top: 50%;
      margin-top: -14px;
      font-size: 18px;
      font-weight: normal;
    }

    &:not(.sorting):hover,
    &.sorting.up:hover,
    &.sorting.down {
      &::after {
        content: "\f01a";
      }
    }

    &.sorting.up,
    &.sorting.down:hover {
      &::after {
        content: "\f01b";
      }
    }

    &.customSorting.down {
      &::after {
        content: "\f01a";
      }
    }

    .fa {
      float: right;
      font-size: 18px;
    }
  }

  .even {
    .public_fixedDataTableCell_main {
      background-color: white;
    }
  }

  .odd {
    .public_fixedDataTableCell_main {
      background-color: #f3f4f6;
    }
  }
}

input {
  text-overflow: ellipsis;
}

nav.navbar {
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  & > div {
    display: inline-block;
  }

  .nav_option {
    span,
    a {
      height: 100%;
      color: white;
      margin-top: -2px;
    }

    a {
      margin-left: 20px;
      text-transform: capitalize;
    }

    span,
    a,
    i {
      vertical-align: middle;
      display: inline-block;
      text-align: center;
      line-height: 50px;
    }

    i {
      font-size: 20px;
      margin: 0 15px;
    }
  }

  .settings_button,
  .help_icon {
    border-left: 1px solid #676767;
    cursor: pointer;

    i {
      margin-top: -5px;
    }

    font-size: 14px;
    font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    &:hover,
    &.active {
      font-family: 'Open Sans', 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: bold;
      color: #777;
    }
  }

  .nav_container {
    width: auto;
    height: 49px;
    overflow: visible;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;

    .nav_option {
      display: none;
    }

    &.shown {
      background-color: #4b4b4b;

      .nav_option {
        display: block;
      }

      & > div {
        background-color: #4b4b4b;

        &:hover {
          background-color: #565656;
        }
      }
    }

    & > div {
      height: 100%;
      width: 100%;

      &:not(:first-child) {
        border-top: 1px solid #676767;
      }

      &:first-child {
        border-left: 1px solid #676767;
      }
    }

    .nav_topper {
      position: relative;

      .nav_toggle {
        margin: 0 10px;
        color: white;
        float: right;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -10px;
      }

      .nav_info {
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        height: 50px;
        min-width: 150px;
        width: auto;
        padding-right: 40px;
        text-overflow: ellipsis;
        margin: 8px;

        div {
          vertical-align: middle;

          span {
            display: block;
            vertical-align: middle;
            text-transform: capitalize;
          }

          .userName {
            font-size: 12px;
            color: white;
          }

          .companyName {
            font-size: 10px;
            color: #ccc;
          }
        }
      }
    }

    div,
    i {
      vertical-align: middle;
    }
  }
}


#content-wrapper {
  position: relative;

  h2 {
    font-size: 19px;
    color: #7fbce2;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  #dashboard-content {
    text-align: center;

    .dc-wrapper {
      display: inline-block;
      text-align: left;

      & > nav {
        margin-top: 50px;
      }
    }
  }

  &.settings_container {
    margin: 0 45px;
    padding-bottom: 0;

    > button {
      margin-bottom: 15px;
      width: auto;
    }

    .modal-content.form.editmodal {
      .buttons {
        width: 400px;
        float: right;
        white-space: nowrap;
        text-align: right;

        .cancel {
          float: none;
          color: white;
          display: inline-block;
          clear: none;
          margin-right: 25px;
        }
      }
    }

    table {
      margin-top: 20px;

      tr {
        &:nth-child(2n+3) {
          background-color: #f3f4f6;
        }

        &:last-child {
          td {
            border-bottom: 1px solid #e2e2e2;
          }
        }

        th {
          font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          border-bottom: 1px solid #e2e2e2;
          font-weight: bold;
        }

        th,
        td {
          padding: 10px;

          &:last-child {
            padding-right: 20px;
          }
        }
      }
    }
  }

  &.account_container {
    padding: 60px 20px;

    h3 {
      text-transform: capitalize;
      font-size: 12px;
      font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: bold;
    }

    select {
      width: auto;
      min-width: 150px;
    }

    .customer_type {
      display: inline;
    }

    .accounts_selector {
      width: 200px;
      text-align: left;
      display: inline-block;
      margin-right: 20px;
    }

    .accounts_error {
      text-align: center;
      margin: 10px auto;
      font-weight: bold;
    }

    ul.invoice_list {
      margin: 0;
      padding: 0;

      li,
      li > ul > li {
        display: block;
        list-style: none;
        margin: 0;
        padding: 10px 0 0;
        border-bottom: 1px solid #f2f2f2;
        white-space: nowrap;

        &.open {
          padding-bottom: 0;
          border-bottom: 0;
        }

        &.header {
          margin-top: 20px;
          padding: 0;

          h4 {
            font-size: 12px;
            font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: bold;
          }
        }

        &.summaryRow {
          cursor: pointer;
          margin-left: -20px;
          padding-left: 20px;

          &:hover {
            background-color: #f2f2f2;
          }

          & > div {
            padding: 0 5px;
          }

          .statement_button {
            border-radius: 5px;
            padding: 5px;
            border: 1px solid #22ce00;
            margin-right: 10px;
            font-weight: bold;

            &.view_statement {
              color: #22ce00;
              background-color: white;

              &::before {
                content: "\f0f6";
                font-weight: normal;
                margin-right: 5px;
                font-family: FontAwesome;
              }
            }

            &.send_statement {
              color: white;
              background-color: #22ce00;

              &::before {
                content: "\f1d9";
                font-weight: normal;
                margin-right: 5px;
                font-family: FontAwesome;
              }
            }
          }
        }

        &.invoice_details > div {
          padding: 5px;
          vertical-align: middle;
          white-space: normal;
        }

        > .number {
          width: 50px;
        }

        > .date {
          width: 130px;
        }
        ////BUTTONS SHOULD BE THE SAME AS THE ONES UNDERNEATH
        $buttonWidth: 600px;

        > .buttons {
          width: $buttonWidth;

          > span {
            color: #aaa;
          }
        }
        ////////
        > .account,
        > .name,
        > .service {
          width: $buttonWidth/6;
        }

        > .address {
          width: $buttonWidth/4;
        }

        @media (max-width: 1155px) {
          > .buttons {
            width: 300px;
          }

          > .address {
            display: none;
          }
        }

        ////////////////////////////////
        div.cost {
          text-align: right;
          position: relative;

          &::before {
            content: '$';
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -10px;
          }
        }

        > .cost {
          width: 100px;
        }

        > .icons {
          width: 110px;
          text-align: right;

          a {
            margin: 0 10px;
            font-size: 20px;
            color: #a8a8a8;

            i {
              &:hover,
              &:active,
              &:focus {
                color: $cancel-selected;
              }
            }
          }
        }

        > h4 {
          display: inline-block;
        }

        > div {
          display: inline-block;
        }

        > ul {
          cursor: default;
          margin-top: 10px;
          -webkit-box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.17);
          -moz-box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.17);
          box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.17);
          margin-left: -20px;
          padding-left: 20px;
          background-color: #f2f2f2;

          > li {
            border-bottom: 1px solid #e2e2e2;
          }
        }
      }
    }
  }
}


.datepicker__container {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote::before,
  blockquote::after,
  q::before,
  q::after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

.GMap {
  width: 600px;
  height: 500px;

  > div {
    width: 100%;
    height: 100%;
    overflow: hidden;

    > div {
      width: 100%;
      height: 100%;
    }
  }
}

.emptyMap {
  margin-top: 240px;
  text-align: center;
  color: red;
}

body {
  background-color: #f2f2f2;
}

.job_list {
  .error {
    color: red;
    font-weight: bold;
  }
}

.job_list .table-responsive {
  text-align: auto;
}

.job_list .table-responsive.center {
  text-align: center;
}

.vehicle_row {
  width: 100%;
  background: #f5f6f7 !important;
  height: 30px;

  td {
    background: #f5f6f7;
    position: relative;

    div {
      position: absolute;
      top: 5px;
      z-index: 10;
      width: 300px;
      font-weight: bold;
      font-family: 'Open Sans';
    }
  }
}

.navbar {
  .account-section {
    td {
      .nav_button {
        color: white;
        font-size: 32px;
        margin-right: 15px;

        &:hover {
          color: #c7c7c7;
        }
      }

      &:last-child {
        .nav_button {
          margin-right: 0;
        }
      }
    }
  }
}

/* ///////////////////////////// */

p.alert {
  margin-top: 80px !important;
  margin-left: $sidenav-width + 20px;
  margin-right: 20px;
}

.main-header {
  position: relative;

  .logo {
    width: auto !important;
  }

  .nav_menu {
    height: 50px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;

    li {
      vertical-align: middle;
      display: inline-block;
      height: 100%;

      &.active a,
      a:hover {
        font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: white;
      }

      a,
      span {
        text-transform: uppercase;
        line-height: 50px;
        display: inline-block;
        padding: 0 15px;
        height: 100%;
        height: 100%;
        vertical-align: middle;
        color: white;
      }

      a::after {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 1px;
        color: transparent;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }

  .navbar {
    display: inline-block;
    float: right;
  }
}

/* Layout */

.content-wrapper section {
  max-width: 1500px;
}

.main-footer {
  background: $footer-bg;
  color: #aaa;
  margin: 0;
  padding: 0;

  a {
    color: #aaa;

    &:hover {
      color: #808080;
    }
  }

  ul {
    font-size: 0;
    margin: 0 76px 0 15px;
    padding: 0;
    text-align: right;

    li {
      display: inline-block;
      font-size: 13px;
      list-style: none;
      margin: 0 15px 0 0;
      padding: 0;

      &.left {
        float: left;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.content-wrapper {
  -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.content-wrapper.reg {
  margin-left: 0;
  overflow-x: hidden;
}

.layout-top-nav .content-wrapper {
  margin-left: 0;
}

/* Fixed layout */
.fixed .main-header {
  background-color: #565656;
}

.fixed .content-wrapper.request {
  padding-top: 69px;
}

.fixed .content-wrapper.dashboard {
  padding-top: 10px;
}

/* Content */
.content {
  margin-right: auto;
  margin-left: auto;
}

/* Page Header */
.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;
}

.page-header > small {
  color: #666;
  display: block;
  margin-top: 5px;
}

/*
 * Component: Sidebar
 * ------------------
 */

.sidenav-tab-title {
  font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-left: 11px;
  font-size: 13px;
  text-transform: capitalize;
}

.sidebar {
  padding-bottom: 10px;
}

.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.user-panel::before,
.user-panel::after {
  content: " ";
  display: table;
}

.user-panel::after {
  clear: both;
}

.user-panel > .image > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}

.user-panel > .info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}

.user-panel > .info > p {
  font-weight: 600;
  margin-bottom: 9px;
}

.user-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
}

.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
  margin-right: 3px;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
}

.sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}

.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
  width: 20px;
}

.sidebar-menu > li .label,
.sidebar-menu > li .badge {
  margin-top: 3px;
  margin-right: 5px;
}

.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}

.sidebar-menu li > a > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: 3px;
}

.sidebar-menu li.active > a > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.sidebar-menu li.active > .treeview-menu {
  display: block;
}

.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}

.sidebar-menu .treeview-menu .treeview-menu {
  padding-left: 20px;
}

.sidebar-menu .treeview-menu > li {
  margin: 0;
}

.sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 35px;
  display: block;
  font-size: 14px;
}

.sidebar-menu .treeview-menu > li > a > .fa,
.sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar-menu .treeview-menu > li > a > .ion {
  width: 20px;
}

.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
  width: auto;
}

.sidebar-menu,
.sidebar-menu > li.header {
  white-space: nowrap !important;
  overflow: hidden;
}

.sidebar-menu:hover {
  overflow: visible;
}

.sidebar-menu > li.header {
  overflow: hidden;
  text-overflow: clip;
}

.sidebar-menu li > a {
  position: relative;
}

.sidebar-menu li > a > .pull-right {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
}

#content-wrapper .tab-content #pendingtabcontents {
  .section-header-container {
    padding-top: 0;

    .section-header {
      margin-top: 0;
    }
  }
}

#content-wrapper .tab-content {
  .section-header-container {
    padding: 0 0 10px;

    .section-header {
      font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: $title-green;
      font-size: 15px;
      margin: 0;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%;
    }
  }
}

/*
 * Component: Dropdown menus
 * -------------------------
 */

/* Dropdowns in general */
.dropdown-menu {
  box-shadow: none;
  border-color: #eee;
}

.dropdown-menu > li > a {
  color: #777;
}

.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .ion {
  margin-right: 10px;
}

.dropdown-menu > li > a:hover {
  background-color: #e1e3e9;
  color: #333;
}

.dropdown-menu > .divider {
  background-color: #eee;
}

.navbar-nav .dropdown-menu {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* Add fade animation to dropdown menus by appending
 the class .animated-dropdown-menu to the .dropdown-menu ul (or ol) */
.open:not(.dropup) > .animated-dropdown-menu {
  backface-visibility: visible !important;
  -webkit-animation: flipInX 0.7s both;
  -o-animation: flipInX 0.7s both;
  animation: flipInX 0.7s both;
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
  }
}

/* Fix dropdown menu in navbars */
.navbar-custom-menu > .navbar-nav > li {
  position: relative;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}

@media (max-width: 991px) {
  .navbar-custom-menu > .navbar-nav {
    float: right;
  }

  .navbar-custom-menu > .navbar-nav > li {
    position: static;
  }

  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 5%;
    left: auto;
    border: 1px solid #ddd;
    background: #fff;
  }

  #InputVehicleAddress {
    margin-bottom: 15px;
  }
}

/*
 * Component: Quick dispatch form
 * ---------------
 */
.form-control-quick-dispatch {
  background-color: #1e455a !important;
  border: 1px solid #355c71 !important;
  color: #8b9faa !important;
  height: 29px !important;
  padding-top: 8px !important;
}

/*
 * Component: Tabs
 * ----------------
 */
.tab-content {
  &:last-child {
    margin-bottom: 30px;
  }

  .content {
    min-height: auto;
  }
}

.search-tables {
  border-radius: 30px !important;
  background-color: rgba(153, 153, 153, 0.1) !important;
  margin-top: 10px !important;
  border: none !important;
  padding-top: 6px !important;
  font-size: 13px !important;
}

.qnav-tabs {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: middle;

  @media (min-width: 586px) and (max-width: 720px) {
    margin-top: 50px;
  }

  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    width: 114px;
    height: 30px;
    text-align: center;
    border-bottom: 3px solid transparent;

    > a {
      color: $header-text-deselected;
      font-size: 13px;
      display: block;
      height: 100%;
      line-height: 27px;
      cursor: pointer;
      font-weight: 400;
      padding: 0;
      text-align: center;
      background-color: transparent;
      padding-top: 3px;
    }

    &.active {
      border-bottom: 3px solid #7fbce2;

      > a {
        font-weight: 600;
      }
    }
  }
}

.pdw-font,
.qnav-tabs > li.active > a,
.qnav-tabs > li.active > a:focus,
.qnav-tabs > li.active > a:hover {
  font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $header-text-blue;
  font-size: 13px;
  font-weight: 600;
  padding: 0;
  padding-bottom: 2px;
}

/*
 * Component: qNav
 * --------------
 */
.qnav > li > a:hover,
.qnav > li > a:active,
.qnav > li > a:focus {
  color: $header-text-blue !important;
}

/* PAGINATION */
.pagination > li > a {
  background: #fafafa;
  color: #666;
  border-radius: 0 !important;
}

/*
 * Component: Table
 * ----------------
 */

.fa-chevron-down,
.fa-chevron-up {
  color: $swoop-blue;
}

.box-shadow-top {
  border-top: 2px solid $table-header-border;
}

.box-shadow-top:hover {
  background-color: $table-row-selected;
}

.box-shadow-bottom {
  border-bottom: 2px solid $table-header-border;
}

.multiline {
  white-space: pre-wrap;
}

table tbody td[colspan] {
  padding: 0;
}

.table-striped > tbody > tr:nth-of-type(2n) {
  background-color: $table-row-stripes;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #fff;
}

.table-striped > tbody > tr:nth-of-type(2n+1):hover {
  background-color: $table-row-selected;
}

.table-hover > tbody > tr:hover {
  background-color: $table-row-selected;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border: 1px solid transparent;
}

.table > tbody > tr > td {
  border-bottom: 1px solid $table-border;
}

.table > thead > tr > th {
  border-bottom: 2px solid $table-header-border;
  border-top: 0;
}

.table.no-border,
.table.no-border td,
.table.no-border th {
  border: 0;
}

.table > tbody > tr > td > p {
  margin-bottom: 0;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table tr td .progress {
  margin-top: 5px;
}

.table-bordered {
  border: 1px solid transparent !important;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid transparent !important;
  border-bottom: 1px solid $table-border !important;
}

.table-bordered > tbody > tr > td {
  border-bottom: 1px solid $table-border;
}

.table > thead > tr > th {
  border-bottom: 2px solid $table-header-border !important;
}

/* .text-center in tables */
table.text-center,
table.text-center td,
table.text-center th {
  text-align: center;
}

.table.align th {
  text-align: left;
}

.table.align td {
  text-align: right;
}

/*
 * Component: Label
 * ----------------
 */
.label-default {
  background-color: #d2d6de;
  color: #444;
}

/*
 * Job Details
 * -----------
 */

@media screen and (max-width: 767px) {
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: normal !important;
  }
}

.modal-content.form.editmodal {
  text-align: left;
  max-width: 622px;

  .modal-header {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .form_container {
    padding: 0 20px;

    .toggle_control,
    .checkbox_control {
      width: 100%;
      margin: 1%;

      input,
      label,
      div {
        display: inline;
        margin-right: 1%;
      }
    }

    .checkbox_control {
      direction: rtl;
    }

    .form-group {
      width: 48%;
      display: inline-block;

      &.col {
        width: 100%;
      }

      &.clear {
        width: 100%;
        height: 0;
        padding: 0;
        margin: 0;
        display: block;
        visibility: hidden;
      }

      .geosuggest {
        margin-top: 0;
      }

      margin-right: 4%;
      margin-bottom: 5px;
      vertical-align: top;

      .geosuggest .GMap,
      .geosuggest:focus .GMap,
      .geosuggest:active .GMap,
      .geosuggest:hover .GMap {
        right: -365px;
        left: auto;
      }

      &.right {
        margin-right: 0;

        .geosuggest .GMap,
        .geosuggest:focus .GMap,
        .geosuggest:active .GMap,
        .geosuggest:hover .GMap {
          left: -365px;
        }

        .geosuggest-input {
          margin-top: 0;
        }
      }

      .inputWrapper {
        position: relative;

        &::before {
          font-family: FontAwesome;
          position: absolute;
          right: 5px;
          top: 0;
          font-size: 25px;
        }

        &.error::before {
          content: "\f12a";
          color: red;
        }

        &.complete::before {
          content: "\f00c";
          color: green;
        }

        &.loading::before {
          content: "\f110";
          -webkit-animation: spin 2s infinite linear;
          -moz-animation: spin 2s infinite linear;
          -ms-animation: spin 2s infinite linear;
          -o-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
          color: #b4b4b4;
        }
      }
    }

    label {
      color: #000;
      font-size: 12px;

      &.error {
        color: red;
      }
    }
  }
}

.modal-content.form.jobeditmodal,
.modal-content.form.editmodal {
  position: relative;
  padding-bottom: 0;
  text-align: left;

  .modal-body {
    padding-right: 0;
    padding-left: 0;
  }

  hr {
    width: auto;
    margin-right: 30px;
  }

  h2 {
    width: 100%;
    border-bottom: 1px solid #ccc;
    color: #7fbce2;
    margin-top: -35px;
    font-size: 20px;
    padding-left: 40px;
    padding-bottom: 12px;
    z-index: 1;
    font-weight: bold;
    font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .form-control {
    border: 1px solid #ccc;

    &.non-editable {
      border: 0;
    }
  }

  textarea#InputNotes {
    height: 100px;
    resize: none;
  }

  .column_container {
    .column_group {
      max-width: 480px;
      display: inline-block;
      vertical-align: top;
    }
  }

  .table-history {
    width: 100%;

    thead {
      th {
        padding: 5px 0;
      }

      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }

    tbody {
      tr {
        td {
          padding-top: 10px;
        }
      }
    }
  }

  .form-title {
    padding-bottom: 5px;
    font-size: 16px;
    color: $title-green;
  }

  .geosuggest {
    margin: 0;
    height: 34px;
    min-width: 184px;
    margin-top: 5px;
    margin-bottom: 0;

    input {
      margin: 0;
      padding: 5px;
    }

    padding-right: 10px;
  }

  .box-form {
    max-width: 450px;
    display: inline-block;
    vertical-align: top;

    .form-group-col {
      width: 399px;
      padding-right: 30px;
      padding-bottom: 15px;

      textarea {
        margin-bottom: 10px;
      }

      .geosuggest {
        margin: 0;
      }
    }

    .checkbox-group {
      label {
        display: inline-block;
        width: auto;
        padding-left: 10px;
        margin-top: 0;
      }

      .form-checkbox {
        display: inline-block;
      }
    }

    .checkable {
      label {
        display: inline;
        margin-left: 10px;
        margin-bottom: 10px;
      }
    }

    .form-group {
      width: 194px;
      padding-right: 20px;
      vertical-align: top;

      label {
        margin-top: 0;
      }

      &.autosuggest {
        margin-bottom: 2px;
      }

      &.no-label {
        margin-top: 22px;
      }

      &.no-label.autosuggest {
        margin-bottom: 10px;
      }

      &.notopmargin {
        margin-top: 0;

        .geosuggest {
          margin-top: 0;
        }
      }

      &.price-group {
        position: relative;

        &::before {
          content: "$";
          position: absolute;
          top: 32px;
          left: 5px;
          color: #ccc;
        }

        input {
          padding-left: 15px;
        }
      }
    }
  }
}

.markerLabels {
  color: #000;
}

.details.row {
  padding: 5px 15px 20px 5px;
  margin-left: 0;
  margin-right: 0;
}

.details-row {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.job-map {
  max-width: 600px;
  min-width: 200px;
  width: 100%;
  height: 500px;
}

.table .details-table {
  padding-left: 0;
  margin-right: 15px;
  height: auto;
}

.swoopTable .row_container .row .cell.status {
  padding: 0;
}

.details-status {
  white-space: normal;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

.gm-style-iw {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.status-select.form-control {
  min-width: 110px;
}

td.jobTime {
  min-width: 90px !important;
  max-width: 100px !important;
}

td.phonerecord {
  min-width: 140px;
}

.fa-pencil {
  color: $edit;
  margin-right: 10px;
}

.fa-times {
  color: $cancel;
}

.fa-check {
  color: $save;
  margin-right: 10px;
}

/* google maps */

.location-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#source-input {
  margin-left: 12px;
}

#dest-input {
  margin-right: 12px;
}

.location-input:focus {
  border-color: #4d90fe;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0 11px;
}

#type-selector label {
  font-size: 13px;
  font-weight: 300;
}

#src_dest_map {
  height: auto;
  margin: 0;
  padding: 0;
}

#InputVehicleAddress,
#InputVehicleDropoffAddress {
  text-overflow: ellipsis;
}

/* MODALS FOR REACT */

/* bootbox confirm dialog */
.modal {
  .close {
    position: relative;
    z-index: 999;
  }
}

.modal-content {
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.modal-body {
  padding: 0 15px 15px;
}

.bootbox-close-button {
  margin: -24px -13px 0 0 !important;
}

.close {
  font-size: 28px;
}

.modal-footer {
  padding: 10px 15px 11px;

  @media (max-width: 360px) {
    padding-right: 25px;
  }

  border: none;

  .btn {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.modal-content.map {
  max-width: 760px;
}

#map {
  width: 100%;
  max-width: 700px;
  height: 500px;
}

.modal-footer.map {
  padding-right: 30px;
}

/* FORM MODALS */

.modal-dialog {
  width: 95%;
  max-width: 1000px;
  z-index: 1050;
  margin-top: 55px;
}

.modal-content.form,
.form {
  max-width: 100%;
  padding-bottom: 30px;
  background-color: #fff;
}

.modal-content.form .modal-body {
  padding: 0 50px 10px 5px;
}

.modal-content.form .modal-header {
  border: none;
}

.modal-content.form .box-form {
  width: 100%;
  max-width: 100%;

  @media (max-width: 767px) {
    padding-left: 20px;
    margin-right: -20px;
  }
}

.modal-content.form .box-form .box-body .row {
  margin-right: -45px;
}
