$body-font-size: 13px;

@font-face {
  font-family: 'Open Sans';
  src: url("~fonts/opensans/opensans-bold-webfont.eot");
  src:
    url("~fonts/opensans/opensans-bold-webfont.eot?#iefix") format('embedded-opentype'),
    url("~fonts/opensans/opensans-bold-webfont.woff2") format('woff2'),
    url("~fonts/opensans/opensans-bold-webfont.woff") format('woff'),
    url("~fonts/opensans/opensans-bold-webfont.ttf")  format('truetype'),
    url("~fonts/opensans/opensans-bold-webfont.svg#svgFontName") format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~fonts/opensans/opensans-semibold-webfont.eot');
  src:
    url('~fonts/opensans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('~fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
    url('~fonts/opensans/opensans-semibold-webfont.woff') format('woff'),
    url('~fonts/opensans/opensans-semibold-webfont.ttf') format('truetype'),
    url('~fonts/opensans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("~fonts/opensans/opensans-light-webfont.eot"); /* IE9 Compat Modes */
  src:
    url("~fonts/opensans/opensans-light-webfont.eot?#iefix") format('embedded-opentype'),
    url("~fonts/opensans/opensans-light-webfont.woff2") format('woff2'),
    url("~fonts/opensans/opensans-light-webfont.woff") format('woff'),
    url("~fonts/opensans/opensans-light-webfont.ttf")  format('truetype'),
    url("~fonts/opensans/opensans-light-webfont.svg#svgFontName") format('svg'); /* IE6-IE8; Super Modern Browsers; Pretty Modern Browsers; Safari, Android, iOS; Legacy iOS */

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("~fonts/opensans/opensans-bolditalic-webfont.eot");
  src:
    url("~fonts/opensans/opensans-bolditalic-webfont.eot?#iefix") format('embedded-opentype'),
    url("~fonts/opensans/opensans-bolditalic-webfont.woff2") format('woff2'),
    url("~fonts/opensans/opensans-bolditalic-webfont.woff") format('woff'),
    url("~fonts/opensans/opensans-bolditalic-webfont.ttf")  format('truetype'),
    url("~fonts/opensans/opensans-bolditalic-webfont.svg#svgFontName") format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("~fonts/opensans/opensans-regular-webfont.eot");
  src:
    url("~fonts/opensans/opensans-regular-webfont.eot?#iefix") format('embedded-opentype'),
    url("~fonts/opensans/opensans-regular-webfont.woff2") format('woff2'),
    url("~fonts/opensans/opensans-regular-webfont.woff") format('woff'),
    url("~fonts/opensans/opensans-regular-webfont.ttf")  format('truetype'),
    url("~fonts/opensans/opensans-regular-webfont.svg#svgFontName") format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $body-font-size;
}
