@import 'colors.scss';
@import '_mixins.scss';

$form-input-bg: #fff; //#f3f4f5;
$form-input-border: #ccc;
$form-input-border-disabled: #f2f2f2;
$form-input-text-disabled: #e2e2e2;
$error: #f00;

$header-text-blue: $swoop-blue; //#285e7b;
$header-underline: #f2f2f2;
$link-blue: #3c8dbc;
$link-blue-selected: #72afd2;

$form-title-font-size: 19px;
$input-font-size: 13px;

/*
 * Component: Form
 * ---------------
 */

.details-header {
  font-weight: bold;
}

input[type="checkbox"]:focus {
  outline: 0 solid transparent;
  outline-offset: 0;
}

input[type="email"] {
  text-transform: none;
}

#InputNotes,
.details-description {
  text-transform: initial;
}

textarea#InputNotes {
  text-transform: initial !important;
}

textarea::first-letter {
  text-transform: capitalize;
}

.editable p {
  border: 2px solid $form-input-border !important;
  border-radius: 4px;
  border-collapse: collapse;
  padding: 10px;
  margin: -10px 0 -20px;
  min-height: 40px;
}

.editable.entry {
  border: 2px solid $form-input-border !important;
  border-radius: 4px;
  border-collapse: collapse;
  padding: 10px;
  margin: 0;
  min-height: 40px;
}

.editable[contenteditable]:focus {
  outline: 0 solid transparent;
}

.box-form {
  position: relative;
  border-radius: none;
  border: none;
  background: none;
  padding: 3px 0 0 40px;
  width: 90%;
  max-width: 900px;
  box-shadow: none;
}

.box-form h1 {
  font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $form-title-font-size;
  color: $swoop-blue;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.box-form label {
  margin-bottom: 4px;
}

.form-group label {
  margin-bottom: 4px;
}

.form-group {
  display: inline-block;
  width: 100%;
}

.form-group-col {
  min-width: 180px;
}

.no-label {
  margin-top: 35px;
}

.form-control {
  box-shadow: none;
  border: 1px solid $form-input-border; // #d2d6de;
  padding-top: 8px;
  background-color: $form-input-bg;
  text-transform: initial;
  font-size: $input-font-size;
  //-webkit-appearance: none;
  -webkit-background-color: $form-input-bg;
}

select.form-control {
  padding: 0;
}

.form-control-left {
  border-radius: 2px 0 0 2px !important;
  box-shadow: none;
  border-color: #d2d6de;
}

.form-control-right {
  border-radius: 0 2px 2px 0 !important;
  box-shadow: none;
  border-color: #d2d6de;
  margin-left: -1px;
}

.form-control:focus {
  border-color: $swoop-blue;
  box-shadow: none;
}

.form-control[disabled] {
  background-color: $form-input-bg;
  border-color: $form-input-border-disabled;
  color: $form-input-text-disabled;
}

.form-control:invalid {
  //border-color: $error;
}

.form-control::-moz-placeholder {
  color: #bbb;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #bbb;
}

.form-control::-webkit-input-placeholder {
  color: #bbb;
}

.form-control:not(select) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-group.has-success label {
  color: #00a65a;
}

.form-group.has-success .form-control {
  border-color: #00a65a !important;
  box-shadow: none;
}

.form-group.has-warning label {
  color: #f39c12;
}

.form-group.has-warning .form-control {
  border-color: #f39c12 !important;
  box-shadow: none;
}

.form-group.has-error {
  color: $error;

  label {
    color: $error;
  }

  .form-control {
    border-color: $error !important;
    box-shadow: none;
  }

  .help-block {
    color: $error;
  }
}

/* Input group */
.input-group .input-group-addon {
  border-radius: 0;
  border-color: #d2d6de;
  background-color: #fff;
}

.icheck > label {
  padding-left: 0;
}

/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius: 3px;
  background: #fff;
  border-top: 2px solid #d2d6de;
  margin-bottom: 15px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding-top: 8px;
}

.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none;
}

.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}

.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}

.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}

.box .border-right {
  border-right: 1px solid #f4f4f4;
}

.box .border-left {
  border-left: 1px solid #f4f4f4;
}

.box.box-solid {
  border-top: 0;
}

.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

.box.box-solid.box-default {
  border: 1px solid #d2d6de;
}

.box.box-solid.box-default > .box-header {
  color: #444;
  background: #d2d6de;
  background-color: #d2d6de;
}

.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444;
}

.box.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}

.box.box-solid.box-primary > .box-header {
  color: #fff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}

.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #fff;
}

.box.box-solid.box-info {
  border: 1px solid #00c0ef;
}

.box.box-solid.box-info > .box-header {
  color: #fff;
  background: #00c0ef;
  background-color: #00c0ef;
}

.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #fff;
}

.box.box-solid.box-danger {
  border: 1px solid #dd4b39;
}

.box.box-solid.box-danger > .box-header {
  color: #fff;
  background: #dd4b39;
  background-color: #dd4b39;
}

.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #fff;
}

.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}

.box.box-solid.box-warning > .box-header {
  color: #fff;
  background: #f39c12;
  background-color: #f39c12;
}

.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #fff;
}

.box.box-solid.box-success {
  border: 1px solid #00a65a;
}

.box.box-solid.box-success > .box-header {
  color: #fff;
  background: #00a65a;
  background-color: #00a65a;
}

.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #fff;
}

.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}

.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}

.box .box-group > .box {
  margin-bottom: 5px;
}

.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}

.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}

.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}

.box-header::before,
.box-body::before,
.box-footer::before,
.box-header::after,
.box-body::after,
.box-footer::after {
  content: " ";
  display: table;
}

.box-header::after,
.box-body::after,
.box-footer::after {
  clear: both;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.collapsed-box .box-header.with-border {
  border-bottom: none;
}

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}

.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}

.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.box-body.table-map {
  padding-top: 1px;
}

.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.box-body > .table {
  margin-bottom: 0;
}

.box-body .fc {
  margin-top: 5px;
}

.box-body .full-width-chart {
  margin: -19px;
}

.box-body.no-padding .full-width-chart {
  margin: -9px;
}

.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}

.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #fff;
}

.chart-legend {
  margin: 10px 0;
}

@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
}

/*
 * Component: Button
 * -----------------
 */
button:focus {
  outline: none;
}

.btn {
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  //border: 1px solid transparent;
}

.btn:active {
  box-shadow: none;
  //-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  //-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  // box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn:focus {
  outline: none !important;
}

#results-body {
  color: $error;
}

/******************************************************************
  * autofill VIN
 **/

@include keyframes(vinAutofillFadeInOut) {
  0% {
    background-color: white;
  }

  30% {
    background-color: rgba(green, 0.3);
  }

  100% {
    background-color: white;
  }
}

@include keyframes(vinAutofillFadeInOutDisaled) {
  0% {
    background-color: #eee;
  }

  30% {
    background-color: rgba(green, 0.3);
  }

  100% {
    background-color: #eee;
  }
}

@include keyframes(transparentFlash) {
  0% {
    background-color: initial;
  }

  30% {
    background-color: transparent;
  }

  100% {
    background-color: initial;
  }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.field-populated-by-another-field-highlight {
  -webkit-animation: vinAutofillFadeInOut 3.1s;
  -moz-animation: vinAutofillFadeInOut 3.1s;
  -o-animation: vinAutofillFadeInOut 3.1s;
  animation: vinAutofillFadeInOut 3.1s;

  &.disabled {
    -webkit-animation: vinAutofillFadeInOutDisaled 3.1s;
    -moz-animation: vinAutofillFadeInOutDisaled 3.1s;
    -o-animation: vinAutofillFadeInOutDisaled 3.1s;
    animation: vinAutofillFadeInOutDisaled 3.1s;
  }

  input {
    -webkit-animation: transparentFlash 3.1s;
    -moz-animation: transparentFlash 3.1s;
    -o-animation: transparentFlash 3.1s;
    animation: transparentFlash 3.1s;
  }
}

/**
 * tooltip for autofill VIN fail
 * todo - browser specific prefixes for box shadow
**/
.vin-field-icon {
  position: absolute;
  top: 47%;
  right: 10px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  margin: 0 0 0 10px;
  text-decoration: none;
}

.vin-field-icon-spinner {
  &::after {
    @extend .vin-field-icon;

    color: grey;
    content: '\f110';
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
  }

  &:hover .field-icon-tooltip {
    visibility: visible;
  }
}

.vin-field-icon-failure {
  &::after {
    @extend .vin-field-icon;

    color: grey;
    content: '\f071';  // hex code for fa-exclamation-triangle
  }

  &:hover .field-icon-tooltip {
    visibility: visible;
  }
}

.vin-field-icon-success {
  &::after {
    @extend .vin-field-icon;

    color: green;
    content: '\f00c';  // hex code for fa-check
  }
}

.field-icon-tooltip {
  display: none;
}
//.inputWrapper .field-icon-tooltip {
//  display:none;
//}
.vin-field-icon-failure .field-icon-tooltip {
  display: inherit;
  visibility: hidden;
  width: 160px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 2px 2px #ccc;
  -moz-box-shadow: 2px 2px 2px 2px #ccc;
  box-shadow: 2px 2px 2px 2px #ccc;
  color: #555;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 74%;
  right: -10px;
  margin-left: -60px;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 19px;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
}
