/**
 * The geosuggest module
 */
$form-input-bg: #fff; //#f3f4f5;
$form-input-border: #ccc;
$form-input-border-disabled: #f2f2f2;
$form-input-text-disabled: #e2e2e2;
$error: #f00;

$header-text-blue: $swoop-blue; //#285e7b;
$header-underline: #f2f2f2;
$link-blue: #3c8dbc;
$link-blue-selected: #72afd2;

$form-title-font-size: 19px;
$input-font-size: 13px;

:focus {
  outline: 0;
}

.geosuggest,
.geosuggest:focus,
.geosuggest:active,
.geosuggest:hover {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 100%;
  margin: 1em auto;
  text-align: left;
  border-radius: 4px !important;
  box-shadow: none;
  border: 1px solid $form-input-border; // #d2d6de;
  background-color: $form-input-bg;
  text-transform: capitalize;
  font-size: $input-font-size;
  -webkit-background-color: $form-input-bg;
  outline: 0;

  .GMap {
    width: 365px;
    height: 250px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 295px;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(194, 194, 194, 1);
    -moz-box-shadow: 5px 5px 5px 0 rgba(194, 194, 194, 1);
    box-shadow: 5px 5px 5px 0 rgba(194, 194, 194, 1);
  }

  .geosuggest_status:not(.hide_status) {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 5px;

    &::before {
      font-family: FontAwesome;
      content: "\f041";
      font-size: 23px;
      color: #8ac3e6;
    }
  }

  &.complete {
    .geosuggest_status::before {
      color: #23ca40;
    }
  }

  &.failed {
    .geosuggest_status::before {
      color: #fc1700;
    }
  }

  &.loading {
    .geosuggest_status {
      -webkit-animation: fa-spin 2s infinite linear;
      -moz-animation: fa-spin 2s infinite linear;
      -ms-animation: fa-spin 2s infinite linear;
      -o-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;

      &::before {
        content: "\f110";
        color: #b4b4b4;
      }
    }
  }

  &.complete.yellow {
    .geosuggest_status::before {
      color: #f1cb2d;
    }
  }
}

.geosuggest__input,
.geosuggest__input:focus,
.geosuggest__input:active,
.geosuggest__input:hover {
  width: 100%;
  border: 2px solid transparent;
  //box-shadow: 0 0 1px #3d464d;
  padding: 0.5em 1em;
  font-weight: normal;
  border-radius: 6px !important;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
}

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: 0;
  background: #fff;
  border: 1px solid $form-input-border;
  border-radius: 0 0 3px 3px;
  font-weight: normal;
  //border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  //box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}

.geosuggest__suggests li {
  padding: 8px 10px;
  font-weight: normal;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest-item {
  font-size: 20px;
  font-size: 1.2rem;
  padding: 0.5em 0.65em !important;
  font-weight: normal;
  cursor: pointer;
}

.geosuggest-item:hover,
.geosuggest-item:focus {
  background: #f5f5f5;
}

.geosuggest-item--active {
  background: #267dc0;
  color: #fff;
}

.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: #ccc;
}
