@import 'enterprise';
@import 'geosuggest';

table .icon-column {
  width: 28px;
}

#InputFirstName,
#InputLastName,
#InputPhone,
#InputService,
#InputCompany {
  min-width: 184px;
}

#InputLicense,
.details-license {
  text-transform: uppercase;
}

.details-vehicle {
  text-transform: capitalize;
}

.new-request-row {
  max-width: 1135px;
  width: 100%;

  @media (max-width: 580px) {
    padding-left: 25px;
    padding-right: 0;
  }

  min-height: 60px;
}

@media (max-width: 767px) {
  .box-body.table-map {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .table .table {
    background-color: transparent;
  }
}

.box-body.table-map,
.box-body.table-details {
  @media (max-width: 767px) {
    float: right;
    display: block;
    max-width: 600px;
    width: 600px;
  }

  @media (max-width: 670px) {
    float: right;
    display: block;
    max-width: 500px;
    width: 500px;
  }

  @media (max-width: 600px) {
    max-width: 450px;
    width: 450px;
  }

  @media (max-width: 500px) {
    max-width: 350px;
    width: 350px;
  }

  @media (max-width: 400px) {
    max-width: 300px;
    width: 300px;
  }

  @media (max-width: 340px) {
    max-width: 265px;
    width: 265px;
  }
}

/* make table details full width */

@-moz-keyframes fa-spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes fa-spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes fa-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

td.details-notes {
  white-space: pre-wrap;
}

/**
 * The geosuggest module
 */

:focus {
  outline: 0;
}

.geosuggest,
.geosuggest:focus,
.geosuggest:active,
.geosuggest:hover {
  .geosuggest_status {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 5px;
    pointer-events: none;

    &::before {
      font-family: FontAwesome;
      content: "\f041";
      font-size: 23px;
      color: #8ac3e6;
    }
  }
}

/**
 * A geosuggest item
 */
.geosuggest-item {
  &.title {
    padding: 6px 6px 0 6px !important;
    font-weight: lighter;
    color: #969696;
    font-size: 10px;

    &:hover {
      background-color: transparent;
    }
  }
}
