@import 'mixins';
$form_reveal_color: #e2e2e2;
$table_border_vcolor: #ccc;
$table_border_hcolor: #ccc;
$pencil_disabled: #dedede;

// safari specific styles
input[autocomplete^="swoop"]::-webkit-contacts-auto-fill-button,
input[autocomplete^="swoop"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

//IE Specific styles

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  textarea::first-letter {
    text-transform: none;
    font-weight: normal;
  }

  .IESHIFTHACK {
    margin-left: -8px;
  }
}

@keyframes paid_animation {
  0% {
    width: 100%;
    background-color: #4bbf61;
    color: transparent;
  }

  50% {
    background-color: transparent;
    color: black;
    width: 62px;
  }

  90% {
    background-color: transparent;
    color: black;
  }
}

@keyframes check_animation {
  0% {
    color: transparent;
    margin-right: 21px;
    width: 0;
  }

  50% {
    color: #41b962;
    margin-right: 21px;
    width: 0;
  }

  69% {
    width: 17px;
    margin-right: 4px;
    transform: scale(1);
  }

  75% {
    transform: scale(3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes plane_animation {
  0% {
    transform: scale(0.2) translate(-260px, -160px) rotate(45deg);
    width: 85px;
    height: 85px;
    opacity: 0;
  }

  10% {
    transform: scale(0.2) translate(-260px, -160px) rotate(45deg);
    width: 85px;
    height: 85px;
    opacity: 1;
  }

  100% {
    transform: scale(1) translate(500px, 0) rotate(45deg);
    width: 85px;
    height: 85px;
  }
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.invoice_state.sent.tab_new.feature_plane_true {
  vertical-align: top;
  margin-left: 17px;
  position: relative;

  &::before {
    vertical-align: middle;
    content: '';
    width: 17px;
    height: 17px;
    margin-right: 2px;
    display: inline-block;
    background-size: cover;
    background-image: url('~images/paper-plane.svg');
    animation-name: plane_animation;
    animation-fill-mode: forwards;
    transform: translate(-20px, -32px);
    animation-duration: 4s;
    animation-iteration-count: 1;
    z-index: 9999;
    position: absolute;
    transition-timing-function: ease-in;
  }
}

.imageTable {
  margin-left: -8px;

  &.partner {
    margin-left: -33px;
  }

  a {
    text-decoration: underline;
  }

  td,
  th {
    &:first-child {
      padding-right: 0;
    }

    padding: 0 8px 5px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;

    .fa-times-circle {
      color: #e2e2e2;
      cursor: pointer;
      font-size: 20px;

      &:hover {
        color: #ccc;
      }
    }
  }
}

.invoice_state.paid {
  &.tab_sent {
    animation-name: paid_animation;
    animation-duration: 2s;
    animation-iteration-count: 1;

    &::before {
      animation-name: check_animation;
      animation-duration: 2s;
      animation-iteration-count: 1;
      transition-timing-function: linear;
    }
  }

  text-align: center;
  padding-left: 5px;
  display: block;
  border-radius: 4px;
  width: 62px;
  background-color: transparent;
  color: black;
  vertical-align: middle;

  &::before {
    content: "\f00c";
    vertical-align: middle;
    display: inline-block;
    font-family: FontAwesome;
    color: #41b962;
    font-size: 18px;
    margin-right: 4px;
    width: 17px;
    overflow: hidden;
  }
}

input[type="text"]:disabled,
select:disabled,
.form-control:disabled {
  background-color: #eee;
  color: #777;
  border: 1px solid #ccc;
  cursor: not-allowed;

  &.geosuggest__input {
    border-radius: 0 !important;
    border: 0;
  }
}

/* IE x Button on inputs */
input[type=text]::-ms-clear {
  display: none;
}

select.form-control {
  cursor: pointer;
  transition: none;
}

.job_map_container {
  .click_instructions {
    display: none;
  }

  &:hover {
    .click_instructions {
      display: block;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.history-section .inputWrapper .field-span {
  margin-top: 0;
}

.currency {
  &-usd::before {
    content: "$";
  }

  &-eur::before {
    content: "€";
  }
}

.inputWrapper {
  .field-span {
    margin-top: 7px;
  }

  .money {
    position: relative;
    display: inline-block;

    &::before {
      content: "$";
      pointer-events: none;
      top: 50%;
      color: #aaa;
      margin-top: -8px;
      vertical-align: middle;
      left: 7px;
      font-size: 13px;
      position: absolute;
    }

    input {
      text-align: right;
    }
  }
}

select:invalid { color: #ccc; }

.geosuggest__input:disabled {
  background-color: #eee;
  color: #333;
}

.error_bubble {
  cursor: pointer;

  .bubble {
    display: none;
  }

  &:hover {
    .bubble {
      display: block;
    }
  }
}

.info_window {
  &.force_show {
    .bubble {
      display: block;
    }
  }

  &.force_hide {
    .bubble {
      display: none !important;
    }
  }

  .bubble {
    left: 50%;
    margin-left: -115px;
    text-align: left;

    span {
      color: #000;
      padding: 20px 18px;
    }

    &::after {
      left: 50%;
    }

    &::before {
      left: 50%;
    }
  }
}

.below {
  .info_window {
    .bubble {
      top: 30px;
      bottom: auto;

      &::after {
        bottom: auto;
        border-width: 0 15px 15px 15px;
        top: -14px;
      }

      &::before {
        bottom: auto;
        border-width: 0 17px 17px 17px;
        top: -17px;
      }
    }
  }
}

.scheduled-time {
  span {
    display: block;
  }
}

.bubble {
  position: absolute;
  font-size: 13;
  font-weight: normal;
  z-index: 3;
  width: 230px;
  right: -36px;
  bottom: 30px;
  text-align: right;

  span {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    max-width: 100%;
    display: inline-block;
    font-family: "Open Sans";
  }

  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    bottom: -14px;
    right: 30px;
  }

  &::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 17px 17px 0;
    border-color: rgba(0, 0, 0, 0.25) transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -17px;
    bottom: -17px;
    right: 28px;
  }
}

.modal-footer {
  .bubble {
    bottom: 50px;
    position: absolute;
    right: 10px;
  }
}

.swoopTable .row_container .row .cell.resizableCell.header.status {
  padding: 8px;
}

/* Mobile specific */
.mobile {
  .nav.nav-tabs {
    > li > a {
      font-size: 16px !important;
      min-width: 0;
    }
  }

  .job_list {
    .section-header-container {
      display: none;
    }

    .cancel_button,
    .edit_button {
      width: 100%;
      height: 40px;
    }

    .cancel_button {
      border-color: #dc0300;
      color: #dc0300;

      &:hover {
        background-color: #dc0300;
        color: white;
      }
    }

    .edit_button {
      border-color: #337ab7;
      color: #337ab7;

      &:hover {
        background-color: #337ab7;
        color: white;
      }
    }

    .stackedTable {
      border-right: 15px solid #aaa;
      border-left: 15px solid #aaa;

      .table_header {
        display: none;
      }

      .headerColCell {
        display: none !important;
      }

      .valueColCell {
        &:hover {
          background-color: white;
        }

        width: 100% !important;

        &:empty {
          display: none !important;
        }
      }

      .row_container {
        &.firstInRow .row {
          border-top: 15px solid #aaa;
        }

        &.lastInRow .row {
          border-bottom: 0 solid #aaa;
        }

        .status {
          height: 60px !important;

          button {
            width: 49.5%;
            padding-left: 0;
            padding-right: 0;
          }

          select {
            text-align: center;
            font-size: 20px;
          }

          div,
          button {
            font-size: 20px;
            height: 100%;
          }
        }

        .expand_action {
          height: 60px !important;

          div {
            height: 100%;
          }
        }
      }

      .expander {
        height: 50px !important;
      }

      .mobile_expander {
        width: 100%;
        height: 100%;
        font-size: 20px;
      }
    }
  }
}

/* HELPERS */

.full_width {
  width: 100%;
}

/* Animations */
@keyframes blinker {
  to { opacity: 0; }
}

@keyframes transparentTimer {
  0% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: inherit;
  }
}

#reporting_container {
  .invoice_filter {
    margin: 0;
  }
}

.modal_is_open {
  .blinker {
    .background_flasher {
      animation: none !important;
    }
  }

  .blink_me {
    animation: none !important;
  }
}

/* PAGES */
.dashboard_container,
.invoice_container,
.reporting_container,
.storage_container,
.swoop_container {
  margin: 0 40px;
  min-height: 100%;
  min-height: -webkit-calc(100% - 90px); /** Safari 6, Chrome 19-25 **/
  min-height: -moz-calc(100% - 90px); /** FF 4-15  **/
  min-height: calc(100% - 90px);

  .qnav {
    margin-right: 15px;
  }

  .blinker {
    position: relative;

    .background_flasher {
      animation: blinker 1s linear infinite alternate;
      transform: translateZ(0);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: #dcdcdc;
    }

    .whitebg {
      background-color: white;
    }
  }

  .blink_me {
    animation: transparentTimer 3s linear 1;
  }

  .blink_me_always {
    background-color: transparent !important;
  }
}

.invoice_container {
  .empty_message {
    margin: 15px auto;
    display: block;
    text-align: center;
  }

  .fa-exclamation-triangle {
    margin: 0 auto;
    display: block;
    color: #ffc300;
    cursor: pointer;

    &:hover {
      color: #efb300;
    }
  }

  .invoice_amount_container {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
    line-height: 13px;
    margin-top: 7px;
    cursor: inherit;

    &:not(.disabled) {
      cursor: pointer;
      color: #2778a9;

      &:hover {
        border-bottom: 1px solid #2778a9;
      }
    }

    .money {
      text-align: right;
      display: inline-block;
      text-align: right;

      &::before {
        position: absolute;
        left: 8px;
      }
    }

    .no-amount {
      display: flex;

      .money-spinner-container {
        width: 50%;
      }

      &::before {
        position: absolute;
        left: 8px;
      }
    }
  }

  .download_all {
    float: left !important;
    height: 34px;
  }
}

#reporting_container {
  min-height: calc(100% - 120px);

  .report_header {
    cursor: pointer;
    background-image: linear-gradient(#fff, #efefef);

    h3 {
      color: #777;
      margin: 0;
      display: inline-block;
      font-family: "Open Sans";
      font-size: 21;
      padding: 5px;

      &.open {
        color: #000;
      }
    }

    i {
      float: right;
      color: #565656;
      padding: 8px;
      font-size: 16px;
    }

    &:hover {
      background: #f2f2f2;
    }
  }

  .invoice_filter {
    margin-bottom: 15px;

    .filters {
      border-radius: 0;
      border: 0;

      .selector {
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-right: 10px;
        margin-bottom: 15px;
        margin-left: 0;
        height: 34px;
      }
    }
  }
}

/* SubPages */
#content-wrapper {
  z-index: initial !important;

  @media only screen and (max-width: 580px) {
    margin: 0;
  }
}

/* Tabs */
.nav-tabs {
  text-transform: uppercase;
}

/* TABLES */

.SearchTable {
  .searchbar {
    width: 200px;
    float: right;
    margin: 3px 0 3px 15px;
  }
}

.paginationTable {
  .page-controls {
    float: right;

    div {
      margin: 5px 0 5px 5px;
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 2px;
      background-color: #eee;
      background-image: -webkit-linear-gradient(#fff, #eee);
      background-image: linear-gradient(#fff, #eee);
      cursor: pointer;

      &:hover:not(:active) {
        background-color: #ddd;
        background-image: -webkit-linear-gradient(#eee, #ddd);
        background-image: linear-gradient(#eee, #ddd);
      }
    }
  }
}

.swoopTable,
.swoop_table {
  &.resizing {
    cursor: ew-resize;
  }

  .row_container {
    width: 100%;

    .row {
      display: inline-block;
      white-space: nowrap;
      margin-right: 0;
      margin-left: 0;
      width: 100%;

      &:hover {
        background-color: #eee;
      }

      .cell {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 24px;
        padding: 8px;
        vertical-align: middle;
        display: inline-block;
        vertical-align: top;
        border: 1px solid $table_border_hcolor;
        border-left: 0;
        border-top: 0;
        border-right-color: transparent;
        position: relative;

        &:last-child {
          border-right-color: $table_border_vcolor;
        }

        &.bold:not(.header) {
          font-weight: bold;
        }

        &.header {
          background-color: #f6f7f8;
          border-right-color: $table_border_vcolor;
          background-image: -webkit-linear-gradient(#fff, #efefef);
          background-image: linear-gradient(#fff, #efefef);
          border-top: 1px solid $table_border_hcolor;
        }

        &.center {
          text-align: center;
        }

        &.right {
          text-align: right;
        }

        &.uppercase {
          text-transform: uppercase;
        }

        &:first-child {
          border-left: 1px solid #ccc;
        }

        &.resizing {
          .resize_handle {
            background-color: $table_border_vcolor;
          }
        }

        button {
          height: 100%;
          vertical-align: middle;
          line-height: 18px;
        }

        i.fa {
          height: 100%;
          font-size: 20px;
          line-height: 20px;
          width: auto;
          margin-right: 10px;
          text-align: center;
          cursor: pointer;
          margin-top: 2px;

          &.floatleft {
            float: left;
          }

          &.fa-times,
          &.fa-pencil {
            color: #aaa;

            &.fa-disabled {
              color: $pencil_disabled;
              cursor: auto;
            }
          }

          &.fa-file-text-o {
            color: #888;
          }

          &.hide {
            visibility: none;
          }

          &.fa-chevron-down,
          &.fa-chevron-up,
          &.fa-ellipsis-h {
            width: auto;
            margin: 0 auto;
            display: inline-block;
            position: relative;
            border-radius: 4px;
            font-size: 18px;
            line-height: 18px;
            border: 2px solid $swoop-blue;
            color: $swoop-blue;
          }

          &.fa-ellipsis-h {
            border-radius: 11px;
            line-height: 20px;
            margin-right: 10px;
            width: 22px;
            height: 22px;
            color: #aaa;
            border-color: #aaa;
            text-align: center;

            &.active {
              background-color: #f2f2f2;
            }
          }
        }

        .resize_handle {
          float: right;
          height: 100%;
          width: 3px;
          position: absolute;
          right: -1px;
          top: 0;
          background-color: transparent;

          &:not(.disabled) {
            cursor: ew-resize;
          }
        }
      }
    }
  }
}

.swoop_container thead > tr {
  white-space: nowrap;

  @include linear-gradient(#fff, #efefef);
}

.sortHeaderCell {
  position: relative;

  &::after {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -10px;
    font-size: 18px;
    font-weight: normal;
  }

  &.sorting.down,
  &.sorting.down.reversed:hover,
  &.sorting.up.reversed {
    &::after {
      content: "\f0d8";
    }
  }

  &.sorting.up,
  &.sorting.down.reversed {
    &::after {
      content: "\f0d7";
    }
  }
}

.swoopTable {
  .public_fixedDataTableCell_wrap1,
  .public_fixedDataTableCell_wrap2,
  .public_fixedDataTableCell_wrap3 {
    width: 100%;
    display: block;
    text-overflow: ellipsis;

    .public_fixedDataTableCell_cellContent {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 24px;
    }
  }

  .row_container {
    &.firstInRow .row {
      border-top: 5px solid #888;
    }

    &.even {
      background-color: white;
    }

    &.odd {
      background-color: #f3f4f6;
    }
  }
}

.jobsTable {
  .row {
    cursor: pointer;
  }

  .row_container {
    &.odd {
      background-color: white;
    }

    &.expanded {
      .row .cell {
        border-bottom: 0 !important;
      }

      .row_footer {
        border-bottom: 1px solid $table_border_hcolor;
      }
    }

    .row {
      .cell {
        select {
          width: 100%;
          height: 100%;
        }

        button.action {
          width: 100%;
        }

      }
    }
  }

  .row_header {
    cursor: default;
  }

  .row_footer {
    cursor: default;
    background-color: #f3f3f3;
  }
}

/* COMPONENTS */
.release_col {
  background-color: #e2e2e2;

  h1 {
    display: none;
  }
}

.tire_list {
  .numberPicker:not(.header) {
    padding: 6px !important;

    input {
      display: inline-block;
      width: 50px;
      height: 24px;
    }
  }

  .car_names {
    div {
      margin: 15px 0 10px;
      background-color: #f3f4f6;
      text-align: center;
      line-height: 40px;
      float: left;

      &:first-child {
        margin-left: 200px;
        border-right: 10px solid white;
      }

      &:last-child {
        border-left: 10px solid white;
      }
    }
  }
}

.optionsList {
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 999;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 4px;

  ul {
    margin: 0;
    padding: 0;
    text-align: left;

    li {
      list-style-type: none;
      display: block;
      margin: 0;
      border-bottom: 1px solid #c5c5c5;
      cursor: pointer;
      white-space: nowrap;
      padding: 6px 8px;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: #ccc;
      }
    }
  }
}

.dropdown_button {
  li:hover {
    background-color: #f2f2f2;
  }
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.23);
}

.countdown {
  .warning {
    color: #e6b724;
    font-weight: 700;
  }

  .green {
    color: #42b756 !important;
  }
}

.geosuggest:not(.address),
.downarrow {
  position: relative;

  &::after {
    content: "\f0d7";
    position: absolute;
    color: #7f7f7f;
    top: 50%;
    right: 5px;
    margin-top: -11px;
    font-size: 18px;
    pointer-events: none;
    font-family: FontAwesome;
    font-weight: normal;
  }
}

.invoice_filter,
.job_filter {
  line-height: 19px;
  margin: 30px 0;

  &.invoice_filter {
    margin: 0;
    display: inline-block;
    float: left;

    .filters {
      .selector.extended {
        width: 270px;

        .backendSuggest {
          text-transform: none;

          .geosuggest__suggests {
            width: 190px;
          }
        }
      }
    }

    .input-group-addon {
      background-color: transparent;
    }

    input {
      border-radius: 3px !important;
    }
  }

  label.error {
    display: inline-block;
    width: auto;
    margin-left: 10px;
  }

  .filters {
    width: auto;
    height: 34px;
    display: inline-block;

    .selector {
      border-radius: 4px;
      border: 1px solid #ccc;
      width: auto;
      height: 34px;
      vertical-align: middle;
      text-align: left;
      display: inline-block;
      white-space: nowrap;
      margin-right: 5px;

      > span {
        font-family: "Open Sans";
        font-weight: bold;
        margin: 0 10px;
      }

      .geosuggest,
      .geosuggest:focus,
      .geosuggest:active,
      .geosuggest:hover {
        width: auto;
        display: inline-block;
        margin: 0;
        border: 0;

        input {
          border: none;
        }
      }

      &.dates {
        width: auto;

        > div {
          width: 100%;
          max-width: 250px;
          display: inline-block;
        }

        .date_title {
          vertical-align: top;
          margin-top: 7px;
          display: inline-block;
        }

        .between_dates {
          vertical-align: middle;
          display: inline-block;

          .input-group.date {
            direction: rtl;
          }

          input {
            height: 32px;
            border: none;
            text-align: left;
            padding: 0;
          }

          .input-group-addon {
            border: none;
            cursor: pointer;
            color: #aaa;
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }

    > button {
      height: 100%;
      font-size: 28px;
      padding: 0 10px;
      outline: none;
      background-color: #f9f9f9;
      color: #e2e2e2;
      outline: none;
      border: 0;
      border-left: 1px solid #ccc;
      vertical-align: middle;

      &.valid {
        background-color: #42b756;
        color: white !important;

        &:hover {
          background-color: #379948;
        }
      }
    }
  }
}

.dt_selector,
.between_dates {
  > div {
    width: 50%;
    display: inline-block;
    position: relative;
    text-align: center;

    .dropdown-menu {
      top: 30px !important;
      right: 0 !important;
    }

    input {
      background-color: white !important;
      cursor: pointer;
    }

    tr {
      background-color: white !important;
    }
  }

  table,
  thead,
  tbody,
  tfoot,
  tr,
  th,
  td {
    display: block;
    width: auto;
    height: auto;
    border: 0 !important;
    margin: 0;
    padding: 0 !important;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: center;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
  }

  th,
  td {
    display: inline-block;
  }

  th {
    padding: 5px !important;

    &.next,
    &.prev {
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .datepicker-days {
    td {
      width: 30px;
      padding: 0 !important;
    }
  }

  .timepicker {
    tr:first-child,
    tr:last-child {
      padding-right: 40px !important;

      td {
        text-align: left;
      }
    }

    td {
      width: 50px;
    }
  }
}

.invoice_container {
  .download_all {
    margin-left: 10px;
  }

  padding-top: 30px;
}

.users_container {
  @extend .settings_search;
}

.companies_container {
  @extend .settings_search;
}

.partners_container {
  @extend .settings_search;
}

.accounts_container {
  @extend .settings_search;
}

.search-container {
  clear: both;
  margin: 0;
  text-align: right;

  > div {
    float: right;
    margin: 0 0 10px;

    .result-size {
      display: inline-block;
      line-height: 30px;
      margin: 2px 10px;
      vertical-align: top;
    }

    .search-results {
      background: rgba(127, 188, 226, 0.34);
      border-radius: 20px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
      display: inline-block;
      line-height: 30px;
      margin: 2px 10px 2px 0;
      padding: 0 30px 0 10px;
      position: relative;
      vertical-align: top;

      .fa-times {
        cursor: pointer;
        line-height: 30px;
        position: absolute;
        right: 10px;
        top: 0;
      }
    }

    .page-controls {
      display: inline-block;
      float: none;
      margin: 0 5px 0 0;
      padding: 2px 0;
      vertical-align: top;

      div {
        background-color: #eee;
        background-image: -webkit-linear-gradient(#fff, #eee);
        background-image: linear-gradient(#fff, #eee);
        border: 1px solid #ccc;
        border-radius: 2px;
        display: inline-block;
        margin: 0 5px 0 0;
        padding: 5px 10px;

        &.disabled {
          color: #d3d3d3;
          cursor: default;
          pointer-events: none;
        }

        &:hover:not(.disabled) {
          background-color: #ddd;
          background-image: -webkit-linear-gradient(#eee, #ddd);
          background-image: linear-gradient(#eee, #ddd);
          cursor: pointer;
        }
      }
    }

    .search {
      display: inline-block;
      margin: 0;
      overflow: hidden;
      position: relative;
      vertical-align: top;
      width: 160px;

      input[type="search"] {
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        box-sizing: border-box;
        display: inline-block;
        height: 34px;
        line-height: 32px;
        margin: 0;
        outline: none;
        padding: 0 44px 0 10px;
        width: 100%;

        &:focus {
          border: 1px solid #ccc;

          + button {
            border-left-color: #ccc;
          }
        }

        &::-webkit-input-placeholder { /* Edge */
          color: #ccc;
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #ccc;
        }

        &::placeholder {
          color: #ccc;
        }
      }

      &.search-active {
        input {
          &:focus {
            border: 1px solid #1eca22;

            + button {
              border-left-color: #1eca22;
            }
          }
        }
      }

      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 1px solid #e2e2e2;
        box-sizing: content-box;
        font-size: 13px;
        height: 32px;
        line-height: 32px;
        min-width: 0;
        padding: 0;
        position: absolute;
        right: 1px;
        text-align: center;
        top: 1px;
        width: 32px;
      }
    }
  }
}

.settings_search {
  .empty_message {
    margin: 15px auto;
    display: block;
    text-align: center;
  }
}

.configure_tab {
  display: block;
  margin-top: 15px;

  .my_settings_container {
    width: 250px;

    label,
    span {
      display: inline-block;
      width: auto;
    }

    span {
      font-size: 11px;
      padding-top: 4px;
    }

    select {
      display: block;
      margin-top: 5px;
      width: 250px;
    }

    .dashboard_tab_option {
      &:hover {
        .remove {
          display: block;
        }
      }

      .remove {
        display: none;
      }
    }
  }
}

/* DETAILS */

.info-window-container-without-close-x {
  // aligns gmap marker's infowindow text in the center
  .gm-style-iw {
    text-align: center;
  }
  // hides the X 'close' symbol from marker's infowindow
  .gm-style-iw + div {
    display: none;
  }
}

.job_details {
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-wrap: nowrap;

  & > div {
    flex: 1 1 auto;
  }

  .GMap {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    margin-right: 5px;
    height: initial;
    position: relative;

    & > div {
      position: absolute !important;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .emptyMap {
    width: 600px;
    height: 240px;
    text-align: center;
    display: inline-block;
    color: red;
    vertical-align: top;
    margin-top: 0;
  }

  .table-details {
    width: 600px;
    margin: 10px;
    padding: 10px;
    margin-left: 5px;
    min-height: 480px;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    padding-right: 65px;

    .details_row {
      width: 100%;
      margin-bottom: 10px;
      display: block;
      white-space: nowrap;
      $detailsWidth: 140px;
      $detailsMargin: 5px;
      $detailsFullWidth: 2 * $detailsMargin + $detailsWidth;

      .details-header {
        width: $detailsWidth;
        margin-right: $detailsMargin;
        margin-left: $detailsMargin;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: top;
        font-weight: bold;
        display: inline-block;
      }

      .details-dont-accept-job {
        width: 220px;
        margin-left: $detailsMargin;
        margin-bottom: 15px;
        font-weight: bold;
        display: inline-block;
        color: red;
      }

      .details-status {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        width: 100%;
        width: -webkit-calc(100% - #{$detailsFullWidth}); /** Safari 6, Chrome 19-25 **/
        width: -moz-calc(100% - #{$detailsFullWidth}); /** FF 4-15  **/
        width: calc(100% - #{$detailsFullWidth});
        text-overflow: ellipsis;

        select {
          width: auto;
        }

        &.multiline {
          white-space: pre-wrap;
        }

        .divider {
          margin: 0 7px;
        }

        .link,
        .image_link,
        .map_link {
          text-decoration: underline;
        }

        .map_link {
          margin-left: 2px;
        }

        .images {
          position: relative;
          width: 150px;

          li {
            margin-bottom: 5px;

            .fa {
              margin-left: 5px;
              color: #e2e2e2;
              font-size: 20px;
              cursor: pointer;
              position: relative;
              float: right;
              top: -1px;
            }
          }
        }
      }
    }

    .company {
      a {
        cursor: pointer;
        text-decoration: underline;
      }

      .fa {
        cursor: pointer;
        padding-left: 5px;
      }
    }

    .table-history {
      width: 100%;
      display: inline-block;

      thead {
        border-bottom: 1px solid #e2e2e2;
      }

      tbody {
        border-top: 5px solid transparent;
      }

      td {
        padding: 0 6px 0 0;
      }
    }
  }

  @media only screen and (max-width: 999px) {
    white-space: normal;
    flex-wrap: wrap;

    .GMap {
      height: -webkit-calc(100vw - 180px); /** Safari 6, Chrome 19-25 **/
      height: -moz-calc(100vw - 180px); /** FF 4-15  **/
      height: calc(100vw - 180px);
      margin-right: 10px;
    }

    .table-details {
      width: 100%;
      margin-left: 10px;
      position: relative;
      display: block;
      min-height: inherit;
    }
  }

  @media only screen and (max-width: 580px) {
    .table-details {
      select {
        width: 100% !important;
      }
    }
  }
}

.equal-cols {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  > div[class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

/* MODALS */

.modal.modal-new {
  margin: 0;
  padding: 0;

  & > .modal-dialog {
    @media only screen and (max-width: 995px) {
      height: auto;
    }

    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    & > .modal-content {
      margin: 10px 0;
      max-width: inherit;
      box-sizing: border-box;
      border-radius: 5px;
      overflow: hidden;
      $header_height: 40px;

      & > .modal-body {
        padding: 0;
      }

      & > .modal-header,
      & > .modal-footer {
        background-color: #565656;
        height: $header_height;
        padding: 0;
        margin: 0;
        position: relative;

        &.modal-header {
          text-align: center;

          & > h3 {
            line-height: $header_height;
            color: white;
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 20px;
            font-family: "Open Sans", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          }
        }

        &.modal-footer {
          height: 50px;
          padding-top: 3px;

          .btn {
            margin: 5px 10px 5px 0 !important;
            width: 100px;
            position: relative;
            float: right;
            padding: 0;
          }

          .confirm-button {
            .error-bubble-container .bubble {
              line-height: initial;
              right: calc(50% - 57px);
              text-align: center;
              width: auto;

              &::after {
                right: calc(50% - 15px);
              }

              &::before {
                right: calc(50% - 17px);
              }

              > span {
                color: red;
                width: 115px;
                white-space: initial;
              }
            }
          }
        }
      }
    }
  }

  &.full-height {
    .modal-dialog {
      width: calc(100% - 20px);
      height: calc(100%  - 22px);

      .modal-content {
        width: 100%;
        height: 100%;

        .modal-body {
          height: calc(100% - 90px);
        }
      }
    }
  }
}

.modal {
  h3 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    color: #000;
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    padding: 0;
    padding-bottom: 10px;
    margin-top: 5px;
    font-family: "Open Sans", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: capitalize;
  }

  .modal-header {
    .modal-close-button {
      font-size: 18px;
      padding: 11px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.type_picker_modal,
.service_picker_modal,
.equipment_picker_modal,
.account_picker_modal {
  text-align: left;

  .select_container {
    display: inline-block;
    width: 200px;
  }

  .header_info {
    margin-bottom: 10px;
  }

  .type_items {
    &.copy {
      border-top: 1px solid #e2e2e2;
      margin-top: 20px;
      padding-top: 20px;
    }

    text-align: left;

    input {
      vertical-align: top;
    }

    label {
      cursor: pointer;
      margin-left: 10px;
      white-space: normal;
      width: 90%;
    }
  }

  .btn {
    width: 100px;
  }
}

.invoices_change_modal {
  .modal-header {
    padding-bottom: 0;
  }

  .modal-body {
    padding: 0 20px;
  }

  text-align: left;
}

.editmodal.modal-content.form.editInvoice {
  max-width: 500px;
}

.simple_modal {
  text-align: left;
}

.release_modal {
  div {
    margin-bottom: 20px;
  }
}

.account_email_modal {
  text-align: left;

  span {
    margin-bottom: 10px;
    display: block;
  }
}

.account_picker_modal.modal-content {
  text-align: left;
  max-width: 500px;

  .geosuggest,
  .geosuggest:hover {
    width: auto;
    display: inline-block;

    input {
      width: auto;
      min-width: 250px;
    }
  }
}

.accept_modal,
.reject_modal {
  text-align: left;

  h3 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }

  .addSpacing {
    margin: 15px 0;
    display: block;
  }

  .input_container {
    margin-top: 20px;
    vertical-align: top;
  }

  .scheduled_string {
    margin-top: 20px;

    .bold {
      font-weight: bold;
      font-family: "Open Sans";
      font-weight: bold;
    }
  }
}

.reject_modal {
  .reason_container {
    margin-top: 10px;

    select {
      width: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    input {
      margin-left: 10px;
    }

    textarea {
      width: 100%;
    }
  }
}

.error_modal {
  text-align: left;
}

.modal-content.invoices_change_modal {
  max-width: 800px;

  .modal-body {
    padding-top: 20px;
  }

  .row_container {
    &:last-child {
      .row .cell {
        border-bottom: 1px solid #777;
      }
    }

    &.table_header {
      .row .cell {
        border-top: 1px solid #777;
        border-bottom: 1px solid #777;
        text-align: center;
      }
    }

    .row {
      cursor: pointer;

      &:hover {
        background-color: inherit !important;
      }

      .cell {
        border-left: 1px solid #777;

        &:last-child {
          border-right: 1px solid #777;
        }

        .gray {
          color: #777;
        }

        &.header {
          font-weight: bold;
          font-family: "Open Sans";
          font-weight: bold;
        }
      }
    }
  }

  .textright:not(.header) {
    text-align: right;
  }

  .money.header::before {
    content: none;
  }

  .money:not(.header) {
    position: relative;

    &::before {
      position: absolute;
      left: 5px;
    }
  }

  .totals {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    clear: both;

    > div {
      line-height: 35px;
      padding-right: 1px;

      &:last-child {
        > span {
          border-bottom: 1px solid #777;
        }
      }

      h4 {
        font-size: 14px;
        font-family: "Open Sans";
        font-weight: bold;
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-right: 8px;
      }

      > span {
        border-left: 1px solid #777;
        border-right: 1px solid #777;
        margin-right: -1px;
        display: inline-block;
        width: 120px;
        padding: 0 8px;
      }
    }
  }
}

.modal-content.accept_modal {
  max-width: 600px;
}

.call_partner_modal {
  text-align: left;

  .modal-body {
    text-align: center;

    i {
      display: block;
      font-size: 86px;
      color: #aaa;

      &.fa-exclamation-triangle {
        color: #ffe02e;
      }
    }

    span {
      margin-bottom: 10px;
      display: block;
      width: 350px;
      font-size: 14px;
      margin: 5px auto 15px;
    }

    .call {
      font-size: 12px;
      color: #777;
      margin-top: 20px;
      text-transform: uppercase;
    }

    .phone {
      font-size: 32px;
      margin-bottom: 10px;
    }
  }
}

.modal-accept-best-eta-container {
  background-color: #f2f2f2;
  margin-top: 20px;
  border-radius: 5px;
  padding: 6px;

  .internal-container {
    padding: 10px;
  }

  .target-eta {
    font-weight: 700;
  }

  .target-eta-based-on {
    margin-top: 5px;
  }
}

.accept-modal-job-information {
  display: inline;
  font-size: 12px;
}

.accept-modal-dont-run-job {
  display: inline;
  font-size: 12px;
  margin-left: 25px;
  color: red;
}

.phoneIcon > label.control-label,
.phone > h1 {
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 1px;

  &::after {
    content: "\f095";
    font-family: FontAwesome;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 3px 5px;
    color: black;
    vertical-align: middle;
    margin-left: 5px;
  }
}

div.select_toggle_option {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.form-group.eta_time {
  position: relative;
  padding-right: 20px;

  &::after {
    position: absolute;
    right: 25px;
    top: 30px;
    color: #ccc;
    content: 'mins';
    pointer-events: none;
  }
}

.JobDateTimeField {
  .input-group {
    & > input {
      padding: 2px;
    }

    & > span {
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

.timer-eta {
  padding: 8px 8px 8px 0;
  display: inline-block;
}

.timer-icon {
  font-size: 17px;
  vertical-align: top;
}

.timer-counter {
  display: inline-block;
  width: 30px;
}

.accept-job-timer {
  width: 100px;
}

.accept-job-timer-expired {
  padding-right: 30px;
}

.padding-right-5px {
  padding-right: 5px;
}

.choose-partner-timer {
  padding-right: 20px;
  width: 220px;
}

.choose-partner-timer-message {
  display: inline-block;
  padding-right: 7px;
  color: #dc0300;
}

.modal-content.form.editmodal,
.customer_type_picker {
  text-align: left;
  max-width: 622px;

  /*  SITE SETTINGS FORM */
  .site_address {
    margin-bottom: 30px !important;
  }

  .work_hours {
    .hint {
      color: #777;
      display: block;
    }

    .weekend {
      margin-top: 10px;

      span:last-child {
        color: #777;
        padding-left: 10px;
      }
    }

    .weekdays {
      padding-right: 12px;
    }
  }

  .nickname,
  .subtitle label {
    color: #777 !important;
    display: block !important;
    font-size: 11px !important;
  }

  .provider_companies {
    .account_name {
      background: #f2f2f2;
      border: 1px solid #e2e2e2;
      border-radius: 2px;
      display: inline-block;
      padding: 2px 10px;
      margin: 2px 7px 2px 0;
    }
  }

  .site_name {
    .company_name {
      margin-top: 10px;
      margin-right: 5px;
      display: inline-block;
    }
  }

  .delete_site {
    button {
      border: 1px solid #dc0300;
      color: #dc0300;

      &:hover {
        background-color: #dc0300;
        color: white;
      }
    }
  }

  &.editCompany {
    .column_group {
      position: relative;

      .remove_site {
        float: right;
        position: absolute;
        right: 20px;
        top: 0;
        width: 25%;

        button {
          border: 1px solid #dc0300;
          color: #dc0300;

          &:hover {
            background-color: #dc0300;
            color: white;
          }
        }
      }
    }
  }

  &.editJob {
    max-width: 998px;

    #Containerdrop_locationsite_id {
      margin-bottom: 0;
    }

    .send_text {
      padding: 5px;

      /* Rectangle 76: */
      background: $form_reveal_color;
      border-radius: 4px;

      span {
        color: black;
        font-size: 12px;
      }

      i {
        margin-right: 8px;
      }

      .radio_buttons {
        div {
          width: 50%;
          display: inline-block;
        }
      }

      .send_options {
        border-top: 1px solid #ccc;
        padding-top: 5px;
        margin-top: 5px;
      }

      input,
      label {
        display: inline-block;
        width: auto;
      }

      label {
        margin-left: 8px;
      }
    }

    .form_container {
      .release_toggle,
      .replace_info {
        margin: 0 !important;
        width: 96% !important;
      }
    }

    .column_group {
      width: 49%;
      display: inline-block;
      vertical-align: top;

      .form-group.flag_spacer {
        width: 43%;
      }

      .form-group.priority_flag {
        width: 5%;

        span {
          padding-top: 10px;
          font-size: 20px;
          cursor: pointer;

          &.red {
            color: #fc0f1a;
          }
        }
      }

      .form-group.second_tow_toggle {
        width: 100%;
        margin: 0 !important;
      }

      .form-group.second_tow_address {
        margin-bottom: 0 !important;
        width: 100%;
      }

      &.customer_col,
      &.vehicle_col {
        float: left;
        margin-right: 0.5%;
      }

      &.details_col {
        float: right;
        margin-left: 0.5%;

        .form-group,
        .toggle_control {
          margin-bottom: 15px;
        }
      }

      &.pickup_col {
        float: left;
        margin-right: 0.5%;
      }

      &.dropoff_col {
        float: right;
        margin-left: 0.5%;
      }

      &.clear_col {
        width: 100%;
        height: 0;
        padding: 0;
        clear: both;
        visibility: hidden;
      }

      .geosuggest,
      .geosuggest:focus,
      .geosuggest:active,
      .geosuggest:hover {
        &.address {
          &:not(.nomap) {
            margin-bottom: 250px;
          }

          .GMap {
            left: 0 !important;
            z-index: 1;
            width: 100%;
            top: 33px;
            left: auto;
            display: block;
          }
        }
      }

      @media only screen and (max-width: 830px) {
        width: 100%;
      }

      .form-group {
        &.toggleable {
          background-color: $form_reveal_color;
        }

        &.copy_customer {
          margin: 0 !important;
          width: 96%;
        }

        &.eta_time {
          padding-top: 5px;
          border-radius: 5px;

          input {
            width: 80px;
            display: inline-block;
          }

          label {
            display: inline-block;
            width: auto;
            margin-left: 15px;
          }
        }
      }

      @media only screen and (min-width: 500px) {
        .form-group {
          /* Need to do this because columns are so dynamic */
          padding-left: 1%;
          padding-right: 1%;
          padding-bottom: 5px;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 0;

          &.nolabel {
            margin-top: 22px;
          }
        }
      }
    }
  }

  .form_container {
    padding: 0 20px;

    .toggle_control,
    .checkbox_control {
      width: 100%;
      margin: 1% !important;

      input,
      label,
      div {
        display: inline;
        margin-right: 1%;
      }
    }

    .tab_control {
      display: inline-block;
      border-radius: 3px 3px 0 0;
      padding: 5px 10px;
      color: #666;

      &.active {
        background-color: $form_reveal_color;
      }

      &.filled {
        color: black;
      }
    }

    .label_only {
      clear: both;
      width: 100% !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      display: block !important;
      margin-top: 10px;
    }

    .checkbox_control {
      direction: rtl;
    }

    .form-group {
      width: 48%;
      display: inline-block;

      @media only screen and (max-width: 500px) {
        width: 100% !important;
      }

      &.col {
        width: 100%;
      }

      &.tabable {
        padding-top: 5px;
        background-color: $form_reveal_color;
      }

      &.hidable {
        background-color: $form_reveal_color;
      }

      &.clear {
        width: 100%;
        height: 0;
        padding: 0;
        margin: 0;
        display: block;
        visibility: hidden;
      }

      .geosuggest {
        margin-top: 0;
      }

      margin-right: 4%;
      margin-bottom: 5px;
      vertical-align: top;

      .geosuggest .GMap,
      .geosuggest:focus .GMap,
      .geosuggest:active .GMap,
      .geosuggest:hover .GMap {
        right: -365px;
        left: auto;
      }

      &.right {
        margin-right: 0;

        .geosuggest .GMap,
        .geosuggest:focus .GMap,
        .geosuggest:active .GMap,
        .geosuggest:hover .GMap {
          left: -365px;
        }

        .geosuggest-input {
          margin-top: 0;
        }
      }

      .inputWrapper {
        position: relative;

        &::before {
          font-family: FontAwesome;
          position: absolute;
          right: 5px;
          top: 0;
          font-size: 25px;
        }

        &.error::before {
          content: "\f12a";
          color: red;
        }

        &.complete::before {
          content: "\f00c";
          color: green;
        }

        &.loading::before {
          content: "\f110";
          -webkit-animation: spin 2s infinite linear;
          -moz-animation: spin 2s infinite linear;
          -ms-animation: spin 2s infinite linear;
          -o-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
          color: #b4b4b4;
        }
      }
    }

    label {
      color: #000;
      font-size: 12px;

      &.error {
        color: red;
      }
    }

    .main.error {
      float: right;
      display: inline-block;
      text-align: right;
      margin-top: 15px;
    }
  }
}

/* Modals */

.modal-header {
  border-bottom: 0;
}

.modal-body {
  padding-top: 0;
}

.modal-footer .btn {
  height: 34px;
  float: right;
}

.pdw-partner-test {
  color: #020202;
}

.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  width: 200px;

  .popup-bubble {
    /* Position the bubble centred-above its parent. */
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);

    /* Style the bubble. */
    background: transparent;
    border-radius: 3px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-weight: bold;
    line-height: 2em;
    margin: 0;
    overflow-y: auto;
    padding: 0 0.5em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  }

  .popup-bubble-anchor {
    bottom: 8px;
    bottom: 0; /* override; hiding anchor */
    left: 0;
    position: absolute;
    width: 100%;

    &::after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid white;
      content: "";
      display: none; /* override; hiding anchor */
      height: 0;
      left: 0;
      position: absolute;
      top: 0;
      transform: translate(-50%, 0);
      width: 0;
    }
  }
}
