@import 'colors';
@import '~font-awesome/css/font-awesome';

$nav-bg: #212019;
$content-bg: #f9f9f9;
$button_blue: #0079ff;
$swoop_blue: #7fbce2;
$browser-context: (20); // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// .fa {
//   font-family: FontAwesome;
// }
