@import "enterprise";

$edit: $cancel;
$edit-selected: $swoop-blue;
$new-request-button-font-size: 14px;
$info-icon: #ccc;
$technician-dropdown-border: #aaa;
$placeholder-text: #aaa;

.content-wrapper.request {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Helpers */

.newtab {
  target-name: new;
  target-new: tab;
}

.no-margin {
  margin: 0;
}

.nowrap {
  white-space: nowrap;
}

.pointercursor {
  cursor: pointer;
}

.vert {
  vertical-align: middle;
  margin: 0;
}

.inline-block {
  display: inline-block;
}

.inline-block.space {
  padding-right: 5px;
}

/* ANIMATION */

.techdropdown_animation-enter {
  opacity: 1;
}

.techdropdown_animation-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1.5s ease-in;
  -webkit-transition: opacity 1.5s ease-in;
  -moz-transition: opacity 1.5s ease-in;
}

.techdropdown_animation-leave {
  opacity: 1;
}

.techdropdown_animation-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 0.5;
  transition: opacity 5.5s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}

.example-appear {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}

.new-row-animation-enter {
  opacity: 0.01;
}

.new-row-animation-enter.new-row-animation-enter-active {
  opacity: 1;
  transition: opacity 5.5s ease-in;
}

.new-row-animation-leave {
  opacity: 1;
}

.new-row-animation-leave.new-row-animation-leave-active {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}

.new-row-animation-appear {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}

.new-row-animation-appear.example-appear-active {
  opacity: 1;
}

/* FORM */

.box-form.partner.scroll {
  overflow-x: scroll;
}

.form-group-new {
  float: left;
  max-width: 500px;
  top: 0;
  min-width: 139px;
  display: inline-block;
  margin-left: 20px;

  @media (max-width: 997px) {
    margin-left: 15px;
    width: 100%;
  }
}

.InputPhone-section {
  @media (max-width: 997px) {
    width: 100%;
  }
}

.InputDescription-section {
  min-width: 200px;

  @media (max-width: 997px) {
    width: 100%;
  }
}

.InputService-section {
  margin-top: 0;

  @media (max-width: 997px) {
    margin-top: 10px;
    width: 100%;
  }
}

.option_header {
  padding: 5px 5px 5px 15px;
}

.option_row {
  padding: 0;
  line-height: 20px;
}

#submitButton {
  margin-top: 35px;
  max-width: 160px;
}

#new-request-form {
  margin-bottom: 20px;
  margin-left: -23px;
}

.box-form h1 {
  padding-left: 0;
  margin-left: 0;
}

#InputPhone {
  min-width: 140px !important;
  max-width: 330px;
}

label {
  width: 100%;
}

#InputNotes::first-letter {
  text-transform: capitalize;
}

#InputNotes {
  text-transform: initial;
}

#InputNotes,
.details-notes {
  text-transform: initial;
}

/* REQUEST */

.newrequest {
  margin-left: 0;
}

.submit-section {
  display: inline-block;
  vertical-align: bottom;
  padding-top: 21px;
  width: 140px;
  float: left;

  @media (max-width: 932px) {
    padding-top: 0;
  }
}

.request-section-2 {
  padding: 0;
  max-width: 600px;

  @media (min-width: 1000px) and (max-width: 1136px) {
    width: 100%;
  }
}

.request-section-2 label {
  padding-left: 15px;
}

.request-section-1 {
  @media (min-width: 1000px) and (max-width: 1136px) {
    width: 600px;
  }
}

/* BUTTONS / DROPDOWNS */

.dd:hover {
  background-color: #85c5ed;
  border-color: #85c5ed;
}

.dd-technician {
  color: $technician-dropdown-border;
  background-color: transparent;
  font-size: 13px;
  border: 2px solid #ccc;
  height: 34px;
  padding: 7px 2px 4px 12px;
  text-align: left;

  .fa-map-marker {
    color: $swoop-blue;
    margin-right: 7px;
    font-size: 17px;

    &:hover,
    &:active,
    &:focus {
      color: $technician-dropdown-border;
    }
  }

  .fa-chevron-down {
    color: $swoop-blue;
    margin-left: 20px;
    font-size: 14px;

    &:hover,
    &:active,
    &:focus {
      color: $technician-dropdown-border;
    }
  }

  .caret {
    &:hover,
    &:active,
    &:focus {
      color: $technician-dropdown-border;
    }
  }

  @media (max-width: 1000px) {
    margin-left: 0;
  }
}

.dd-technician.left {
  border-radius: 4px 0 0 4px !important;
  border-right: none;
}

.dd-technician.right {
  border-radius: 0 4px 4px 0 !important;
  border-left: none;
}

.dd-technician.new {
  font-size: $new-request-button-font-size;
  height: 35.5px;
  padding: 7px 5px 4px 5px;
  background-color: $swoop-blue;
  color: #fff !important;
  border: 2px solid $swoop-blue;
  text-align: center;

  .fa-map-marker {
    color: #fff;
    margin-right: 7px;
    font-size: 17px;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }

  .fa-chevron-down {
    color: #fff;
    font-size: 14px;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }

  @media (max-width: 1000px) {
    margin-left: 0;
  }
}

.dd-technician.new:hover,
.dd-technician.new:focus,
.dd-technician.new:active {
  background-color: $swoop-blue-selected;
  border-color: $swoop-blue-selected;
}

.dropdown-menu {
  margin-left: 0;
  width: 100%;
  min-width: 300px;
  border: 2px solid #ccc;
  line-height: 20px;
  padding: 15px;
  hidden: shown;
  -webkit-box-shadow: -0 2px 4px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: -0 2px 4px rgba(0, 0, 0, 0.17);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
}

.dropdown-menu.new {
  border: 2px solid $swoop-blue;
}

.dropdown-menu > li > a {
  &:hover,
  &:active,
  &:focus {
    background-color: #f2f2f2;
  }
}

.dropdown-table {
  margin-right: 20px;
}

/* ICONS */

.fa.service {
  padding-right: 7px;
  color: #333;
}

.fa-map-marker.service {
  padding-right: 2px;
  color: #333;
}

.selection {
  color: #333;
}

.fa-info {
  color: $info-icon;
  font-size: 14px;
  cursor: pointer;
}

.fa-circle-thin {
  color: $info-icon;
  padding-top: 5px;
  font-size: 28px;
  cursor: pointer;
}

.fa-map-marker {
  font-size: 17px;
  line-height: 12px;
}

.fa-map-marker.new {
  padding-left: 1px;
}

.fa-pencil {
  color: $edit;
  margin-right: 0;
}

.fa-times.editing {
  color: #fff;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.fa-check.editing {
  color: #fff;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.fa-check {
  color: $save;
  margin-right: 0;
}

.fa-circle {
  font-size: 14px;
  padding: 6px 10px 6px 15px;
}

.fa-circle.true {
  color: #65c343;
}

.fa-circle.false {
  color: #ea3f34;
}

.reviewed .fa-star,
.reviewed .fa-star.fa-star-o {
  color: #d8ab02;
  font-size: 20px;
  text-align: left;
  padding-right: 3px;
  padding-left: 3px;
}

/* TABLE */

*[data-placeholder]:not(:focus):not([data-div-placeholder-content])::before {
  content: attr(data-placeholder);
  float: left;
  margin-left: 2px;
  color: #b3b3b3;
}

.editing-icon.fa {
  visibility: hidden;
}

.details-address .entry {
  max-width: 150px;
  //color: $swoop-blue;
}

.box-form.partner {
  max-width: 1800px;
  width: 100%;
  padding-right: 40px;
}

.table-section {
  margin-top: -10px;
}

.box-form.partner.table-section #job-form {
  margin-right: -40px !important;
}

.box-form.partner.table-section {
  padding-right: 80px;
  // @media (max-width: 1300px) {
  // 	padding-right: 60px !important;
  // }
  @media (max-width: 1100px) {
    width: 99%;
    overflow-x: scroll;
    //padding-right: 25px !important;
  }

  @media (max-width: 1000px) {
    width: 96%;
    overflow-x: scroll;
  }

  @media (max-width: 500px) {
    width: 93%;
    overflow-x: scroll;
    //padding-right: 20px !important;
  }
}

@media (max-width: 991px) {
  .fa-star,
  .fa-star-o {
    padding-right: 1px !important;
    padding-left: !important;
    font-size: 18px !important;
  }
}

@media (max-width: 752px) {
  .partner.table-section {
    margin-top: 10px;
  }
}

.partner.table-section > .box-body {
  padding-right: 0;
  margin-right: -20px;
}

.table > tbody > tr > td.reviewed {
  padding-right: 0;
  margin-right: -20px;
}

.reviewed {
  min-width: 125px;
  margin-left: -3px;
}

table .icon-column {
  width: 50px !important;
  padding: 0 !important;
}

table .icon-column-status {
  width: 5px !important;
  max-width: 5px !important;
  padding: 0 !important;
}

table #phone-column {
  min-width: 180px;

  @media (max-width: 1250px) {
    min-width: 120px;
  }
}

table #description-column {
  max-width: 320px;
  width: 320px;
}

table #location-column {
  min-width: 200px;

  @media (max-width: 1250px) {
    min-width: 160px;
  }
}

@import "jobs";
