/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* grid-framework-12col
======================================== */

*[class*="grid_"] {
  margin-left: 0 auto;
  width: auto;
}

/* Always apply clearfix to container */
*[class*="grid_"]::before,
*[class*="grid_"]::after {
  content: "";
  display: table;
}

*[class*="grid_"]::after {
  clear: both;
}

.row {
  clear: both;
  margin: 0 auto;
  max-width: 100%;
}

*[class*="col_"] {
  box-sizing: border-box;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

*[class*="col_"] {
  float: left;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last) */

.grid_12 *[class*="col_"] {
  padding-right: 12px;
  padding-left: 12px;
}

*[class*="grid_"] .alpha {
  padding-left: 0;
}

*[class*="grid_"] .omega {
  padding-right: 0;
}

.grid_12 .grid_12 {
  padding-right: 0;
  padding-left: 0;
}

/* Grid >> 12 Columns */

.grid_12 .col_1 {
  width: 8.333333%;
}

.grid_12 .col_2 {
  width: 16.666667%;
}

.grid_12 .col_3 {
  width: 25%;
}

.grid_12 .col_4 {
  width: 33.333333%;
}

.grid_12 .col_5 {
  width: 41.666667%;
}

.grid_12 .col_6 {
  width: 50%;
}

.grid_12 .col_7 {
  width: 58.333333%;
}

.grid_12 .col_8 {
  width: 66.666667%;
}

.grid_12 .col_9 {
  width: 75%;
}

.grid_12 .col_10 {
  width: 83.333333%;
}

.grid_12 .col_11 {
  width: 91.666667%;
}

.grid_12 .col_12 {
  width: 100%;
}

/* PDF Styling */

html {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

p:empty {
  display: none;
}

.sender {
  text-align: right;
}

.sender p {
  font-size: 0.875rem;
  margin: 0;
}

.sender--logo {
  float: left;
}

.sender p.sender--name {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.sender p.sender--address {
  font-size: 0.875rem;
}

.label {
  color: #616161;
  font-size: 0.75rem;
  margin-top: 12px;
  margin-bottom: 0.125rem;
  text-transform: uppercase;
}

.billing_summary {
  clear: both;
  font-size: 0;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: relative;
  text-align: right;
  width: 100%;
}

.billing_summary > div {
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.875rem;
  vertical-align: top;
  width: 25%;
}

.billing_summary > div p {
  margin: 0;
}

.billing_summary > div.recipient {
  text-align: left;
  width: 50%;
}

.billing_summary > div.invoice_number,
.billing_summary > div.balance_due {
  border: 1px solid #bdbdbd;
  font-size: 0.75rem;
  line-height: 1.5rem;
  padding: 0.875rem 14px 0.75rem;
  text-transform: uppercase;
}

.billing_summary > div.invoice_number {
  border-right: none;
  text-align: left;
}

.billing_summary > div.balance_due {
  background-color: #ddd;
}

.billing_summary > div.invoice_number p:first-child,
.billing_summary > div.balance_due p:first-child {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.75rem;
  text-transform: none;
}

.billing_summary > div.invoice_number p:last-child,
.billing_summary > div.balance_due p:last-child {
  color: #424242;
}

.paid_stamp {
  opacity: 0.7;
  position: absolute;
  right: 52px;
  top: 16px;
  -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(-12deg); /* IE 9 */
  transform: rotate(-12deg);
}

.job_info {
  border: 1px solid #bdbdbd;
  clear: both;
  font-size: 0.875rem;
  padding-bottom: 12px;
}

.job_info p {
  margin: 0;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

.job_info dt {
  color: #616161;
  font-size: 0.75rem;
  margin-top: 12px;
  margin-bottom: 0.125rem;
  text-transform: uppercase;
}

.job_info dd.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.job_info span.status {
  display: inline-block;
  width: 128px;
}

.job_info p {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.job_info p:last-child {
  margin-bottom: 0;
}

#invoice_notes {
  border: 1px solid #bdbdbd;
  font-size: 0.875rem;
  margin: 0.625rem 0;
  padding: 12px 0;
}

#invoice_notes dt {
  color: #616161;
  font-size: 0.75rem;
  margin-bottom: 0.125rem;
  text-transform: uppercase;
}

#invoice_notes dd {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

#invoice_notes p {
  margin: 0 0 1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  empty-cells: show;
  font-size: 0.875rem;
  line-height: 1.25;
  margin: 0.625rem 0;
  text-align: left;
  vertical-align: baseline;
  width: 100%;
}

table,
thead,
tfoot {
  border: 1px solid #bdbdbd;
  padding: 0;
}

thead {
  background-color: #ddd;
  vertical-align: bottom;
}

td,
th {
  margin: 0;
  padding: 0.375rem 12px;
}

thead th {
  border-bottom: 1px solid #bdbdbd;
  font-size: 0.75rem;
  text-transform: uppercase;
}

table.table-striped tbody tr:nth-child(odd) {
  background-color: #fff;
}

table.table-striped tbody tr:nth-child(even) {
  background-color: #ddd;
}

tbody > tr {
  border-bottom: 1px solid #bdbdbd;
}

#invoice_items td,
#invoice_items th {
  text-align: right;
  width: 16.666667%;
}

#invoice_items td.itemCol,
#invoice_items th.itemCol {
  text-align: left;
  width: 66.666667%;
}

.waiver-and-totals {
  padding-bottom: 135px;
}

.fine-print {
  font-size: 0.75rem;
}

.fine-print p {
  margin: 0 0 1rem;
}

.totals {
  border: 1px solid #bdbdbd;
  float: right;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: right;
}

.totals-bold {
  font-weight: bold;
}

.totals .col_custom1 {
  width: 60%;
}

.totals .col_custom2 {
  width: 40%;
}

.invoice-history {
  font-size: 1rem;
  white-space: nowrap;
}

.page-break {
  page-break-before: always;
}

.nobreak::before { clear: both; }
.nobreak { page-break-inside: avoid; }

.page-break {
  position: relative;
}

#signatures {
  font-size: 0;
  margin: 0 -6px;
  padding-top: 1.5rem;
  position: absolute;
  top: -135px;
  width: 100%;
}

#signatures * {
  font-size: 0.875rem;
}

#signatures.grid_12 *[class*="col_"] {
  padding-right: 6px;
  padding-left: 6px;
}

#signatures > div {
  display: inline-block;
  vertical-align: top;
}

#signatures > div > div {
  height: 50px;
  position: relative;
}

#signatures > div > div > * {
  bottom: 2px;
  left: 0;
  position: absolute;
}

#signatures img {
  height: auto;
  max-width: 100%;
}

#signatures p {
  border-top: 1px solid #bdbdbd;
  line-height: 2rem;
}

#signature .signature-img,
#signature .signature-date {
  position: relative;
}

#signature .signature-img img,
#signature .signature-date span {
  bottom: 0;
  font-size: 0.75rem;
  left: 0;
  position: absolute;
}

.job-photos th {
  width: 33.333333%;
}

.job-photos td {
  max-height: 128px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.job-photos a {
  display: inline-block;
}

.waiver_text {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  font-size: 0.875rem;
  margin: 1.5rem 0;
}

.waiver_text dt {
  color: #616161;
  font-size: 0.75rem;
  margin-top: 12px;
  margin-bottom: 0.125rem;
  text-transform: uppercase;
}

.waiver_text p {
  margin: 0 0 1rem;
}
