// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body,
#map-canvas {
  height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
}
