.modalPopup.refund_popup {
  width: 350px;
  left: 100%;
  top: -100px;

  .arrow {
    top: 100px;
  }

  .modal-header {
    position: relative;
    width: 100%;

    h3 {
      border-bottom: none;
      color: black;
      display: block;
      font-weight: normal;
      margin-top: 0;
      padding-bottom: 0;
    }

    span {
      margin-top: -3px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .modal-body {
    width: 100%;

    > div {
      width: 100%;
    }

    .success,
    .error {
      display: block;
      color: #42b756;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .error {
      color: red;
    }

    span {
      float: initial;
    }

    .form-group {
      position: relative;

      &.half_width {
        display: inline-block;
        vertical-align: top;
        width: 50%;
      }

      label {
        font-size: 12px;
        margin-bottom: 0 !important;
      }

      .credit_card,
      span {
        display: block;
        font-size: 13px;

        > * {
          display: inline-block;
          vertical-align: middle;
        }
      }

      label,
      .credit_card,
      span {
        line-height: 1.5 !important;
      }

      &#Containeramount {
        .field-span {
          &::before {
            content: "$";
            float: left;
          }
        }
      }
    }
  }

  .modal-bottom {
    float: initial;
    padding: 0;
    width: 100%;
  }
}
