.map-configuration {
  margin: -9px -9px 10px -9px;
  background-color: #fff;
  position: relative;

  .map-configuration-title {
    cursor: pointer;
    width: 100%;
    text-align: center;
    white-space: nowrap;

    i {
      color: #cdcdcd;
    }

    span {
      display: inline-block;
      margin: 7px;
      padding: 0;
    }
  }

  .map-configuration-content {
    position: absolute;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    padding: 15px 20px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;

    .map-configuration-item {
      margin-top: 5px;

      label {
        font-weight: normal;
        width: auto;
        cursor: pointer;
      }

      input {
        margin-top: -2px;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
  }
}
