.multi_select_control {
  position: relative;
  cursor: pointer;

  &::after {
    content: "\F0D7";
    position: absolute;
    color: #7f7f7f;
    top: 50%;
    right: 5px;
    margin-top: -11px;
    font-size: 18px;
    pointer-events: none;
    font-family: FontAwesome;
    font-weight: normal;
  }

  .form-control {
    padding: 6px 18px 6px 6px;
  }

  .selected_values_container {
    ul {
      padding: 0;
      margin: 0;
      overflow-x: hidden;
      white-space: nowrap;
      cursor: pointer;

      li {
        display: inline-block;
        border: 1px solid #e2e2e2;
        padding: 0 3px;
        border-radius: 3px;
        margin-right: 5px;
        background-color: #f2f2f2;
      }
    }
  }

  .dropdown-container {
    position: absolute;
    width: auto;
    min-width: 200px;
    background: white;
    border: 1px solid lightgrey;
    z-index: 10;
    height: 200px;
    overflow-y: auto;
    padding: 5px;
    border-radius: 4px;
    top: 35px;
    box-shadow: rgba(0, 0, 0, 0.23) 0 2px 4px 0;

    ul {
      padding: 0;
      margin: 0;

      li {
        padding: 4px;
        white-space: nowrap;

        label {
          font-weight: normal;

          input {
            margin-right: 10px;
          }
        }

        &.title {
          text-transform: uppercase;
        }
      }
    }
  }
}
