.coverage-section-container {
  &.covered {
    .coverage-section-container-inner {
      border: 2px solid #00b40f !important;
    }

    .fa {
      color: #00b40f;
    }
  }

  &.partiallycovered,
  &.notcovered {
    .coverage-section-container-inner {
      border: 2px solid #ffa500 !important;
    }

    .fa {
      color: #ffa500;
    }
  }

  &.incomplete-error {
    .coverage-section-container-inner {
      border: 2px solid #f00 !important;
    }
  }

  .coverage-section-container-inner {
    h3 {
      color: rgb(67, 67, 67) !important;
    }

    .coverage-section-body {
      padding: 10px;

      .error-message-container {
        display: flex;
        align-items: center;

        .message {
          margin-left: 10px;
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        button {
          min-width: 95px;
        }

        .fa {
          color: #aaa;
        }
      }

      .coverage-result {
        .program {
          text-transform: capitalize;
        }
      }

      .fa {
        font-size: 20px;
        margin-right: 5px;
      }

      .row-section {
        display: flex;

        &.coverage-issue {
          margin-top: 15px;
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-right: 5px;
        }
      }

      .title {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .column {
        width: 50%;
      }

      .icon-and-message {
        display: flex;
        align-items: center;
      }

      .notes-section {
        display: flex;
        flex-direction: column;
        margin-top: 15px;

        .notes {
          white-space: pre-wrap;
        }
      }

      .loadingContainer {
        width: 100%;
      }
    }
  }
}
