.customer-section .policy-search-section {
  display: flex;
  flex-direction: column;
  background: blue;
  position: relative;

  .search-information {
    padding-top: 7px;
  }

  .button-container,
  .search-information {
    display: flex;
    position: absolute;
    left: 242px;
    top: -43px;
  }

  .search-content {
    background: white;
    position: absolute;
    left: 10px;
    top: -8px;
    z-index: 4;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 15px 0;
  }
}
