.retry-policy-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: 110px;

  button.component-fabutton.fa-times {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
  }

  .no-results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    .fa-exclamation-triangle {
      color: #aaa;
      font-size: 20px;
    }

    .message {
      margin-left: 10px;
    }
  }

  .button-section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;

    button {
      height: 32px;
      min-width: 140px;
      margin: 0 10px;
    }
  }
}
