.vehicle-policy-lookup {
  button.component-fabutton.fa-times {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
  }

  .loadingContainer {
    width: 450px;
    height: 64px;
  }

  .lookup-body {
    display: flex;
    flex-direction: column;

    .title {
      border-bottom: 1px solid #ccc;
      font-weight: bold;
      padding: 10px;
    }

    ul {
      max-height: 300px;
      overflow: scroll;
      list-style: none;
      padding: 0;
      margin: 0;

      li.vehicle-list-item {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;

        &:hover {
          background: #ccc;
        }

        span {
          margin-right: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.policy-number {
            width: 60px;
          }

          &.vin {
            width: 150px;
          }

          &.car {
            width: 170px;
          }

          &.name {
            width: 120px;
          }

          &.zip {
            width: 40px;
          }
        }
      }
    }
  }
}
