.network_status {
  .content_container {
    margin-left: 230px;
    margin-top: -25px;
    margin-bottom: 40px;

    .description {
      color: "#565656";
      padding-right: 5px;
    }

    .generalTable {
      width: 400px;
      margin-top: 15px;

      .cell {
        overflow: visible;
      }

      .geosuggest {
        margin: 0;
        height: 27px;
        padding-top: 0 !important; //Ugly, used to get over inline style, need to fix
      }

      .geosuggest-item {
        padding: 0 !important; //Ugly, used to get over inline style, need to fix
      }
    }
  }
}
