.payment-permissions-container {
  position: relative;

  h4 {
    position: absolute;
    top: 20px;
  }

  .fields {
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 230px;

    .multiselect-box {
      margin-top: 10px;
      position: relative;

      .multiselect-label {
        position: absolute;
        top: 7px;
        font-weight: bold;
      }

      .multiselect {
        margin-left: 110px;
      }
    }
  }
}
