.quickbooks_section {
  .my_settings_container {
    margin-left: 230px;
    margin-top: -25px;
    margin-bottom: 20px;
    width: 500px;

    .token {
      font-size: 13px;

      span {
        font-size: 13px;
        margin-left: 5px;
      }
    }
  }
}
