<div class='header'>
  <div class='title-section'>
    <% if company.logo_url? %>
      <%= url_for_external_image_resized(url: company.logo_url, class: 'logo', height: 50) %>
    <% end %>
    <h2 class='report-title'>Commissions Report</h2>
    <h4 class='company-name'><%= company.try(:name) %></h4>
  </div>
  <div class='info-section'>
    <div class='filters'>
      <div class='heading'>Filters</div>
      <div class='content'>
        <table>
          <tr>
            <td class='row-title'>Driver</td>  <td class='row-data'><%= driver %></td>
          </tr>
          <tr><td class='row-title'>Account</td> <td class='row-data'><%= account %></td></tr>
          <tr><td class='row-title'>Date</td>
              <td class='row-data'>
                <%= date_range_string_for_filter(filters['start_date'], filters['end_date'], user) %>
              </td>
          </tr>
        </table>
      </div>
    </div>

    <div class='totals'>
      <div class='heading'>Totals</div>
      <div class='content'>
         <table>
          <tr><td class='row-title'>Total Commission</td><td class='row-data'><%= number_to_currency(totals[:commission]) %></td></tr>
          <tr><td class='row-title'>Total Invoice</td><td class='row-data'><%= number_to_currency(totals[:invoice]) %></td></tr>
          <tr><td class='row-title'>Total Tax</td><td class='row-data'><%= number_to_currency(totals[:tax]) %></td></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class='results'>
  <table>
    <thead class='heading'>
      <th>Account</th>
      <th>ID</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Primary Service</th>
      <th>Invoice Amt</th>
      <th>Commission<%= company.commission&.default_pct.present? ? " (#{company.commission.default_pct.to_s}%)" : '' %></th>
      <th>Tax Amount</th>
    </thead>
    <tbody>
      <% results.each do |result| %>
        <tr>
          <td><%= result['Account'] %></td>
          <td><%= result['ID'] %></td>
          <td><%= result['Date'] %></td>
          <td><%= result['Driver'] %></td>
          <td><%= result['Primary Service'] %></td>
          <td><%= number_to_currency(result['Net Amount']) %></td>
          <td><%= number_to_currency(result['Commission']) %></td>
          <td><%= number_to_currency(result['Tax']) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
