<div class='header'>
  <div class='title-section'>
    <h2 class='report-title'>Driver Report</h2>
    <h4 class='company-name'><%= company.try(:name) %></h4>
  </div>
  <div class='info-section'>
    <div class='filters'>
      <div class='heading'>Filters</div>
      <div class='content'>
        <table>
          <tr>
            <td class='row-title'>Driver</td>  <td class='row-data'><%= driver %></td>
          </tr>

          <tr><td class='row-title'>Truck</td>   <td class='row-data'><%= truck %></td></tr>
          <tr><td class='row-title'>Account</td> <td class='row-data'><%= account %></td></tr>
          <tr><td class='row-title'>Date</td>
              <td class='row-data'>
                <%= date_range_string_for_filter(filters['start_date'], filters['end_date'], user) %>
              </td>
          </tr>
        </table>
      </div>
    </div>

    <div class='totals'>
      <div class='heading'>Totals</div>
      <div class='content'>
         <table>
          <tr><td class='row-title'>Total Jobs</td><td class='row-data'><%= results.count %></td></tr>
          <tr><td class='row-title'>Total Time</td><td class='row-data'><%= seconds_to_human(totals[:time]) %></td></tr>
          <tr><td class='row-title'>Drive Time</td><td class='row-data'><%= seconds_to_human(totals[:drive]) %></td></tr>
          <tr><td class='row-title'>Amount</td><td><%= number_to_currency(totals[:amount])%></td></tr>
        </table>

      </div>
    </div>
  </div>
</div>

<div class='results'>
  <table>
    <thead class='heading'>
      <th>Swoop ID</th>
      <th>Dispatch Date</th>
      <th>Status</th>
      <th>Driver</th>
      <th>Truck</th>
      <th>Account</th>
      <th>Dispatched</th>
      <th>En Route</th>
      <th>On Site</th>
      <th>Completed</th>
      <th>Total Time</th>
      <th>Drive Time</th>
      <th>Payment Type</th>
      <th class='amount'>Invoice Total</th>
    </thead>
    <tbody>
      <% cnt = 0 %>
      <% results.each do |result| %>
        <% cnt += 1 %>
        <tr>
          <td><%= result['Swoop ID'] %></td>
          <td><%= result['Dispatched Date'] %></td>
          <td><%= result['Status'] %></td>
          <td><%= result['Driver'] %></td>
          <td><%= result['Truck'] %></td>
          <td><%= result['Account'] %></td>
          <td><%= result['Dispatched'] %></td>
          <td><%= result['En Route'] %></td>
          <td><%= result['On Site'] %></td>
          <td><%= result['Completed'] %></td>
          <td><%= seconds_to_duration(duration_to_seconds(result['Total Time'])) %></td>
          <td><%= seconds_to_duration(duration_to_seconds(result['Drive Time'])) %></td>
          <td><%= result['Payment Type'] %></td>
          <td style='text-align:right'><%= number_to_currency(result['Invoice Total'].to_f) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
