<div class='header'>
  <div class='title-section'>
    <% if company.logo_url? %>
      <%= url_for_external_image_resized(url: company.logo_url, class: 'logo', height: 50) %>
    <% end %>
    <h2 class='report-title'>Statement</h2>
    <h4 class='company-name'><%= company.try(:name) %></h4>
    <h4 class='company-details'><%= company.hq.try(:location).address %></h4>
    <h4 class='company-details'><%= format_phone(company.hq.phone) %></h4>
    <h4 class='company-details'><%= company.accounting_email %></h4>
  </div>
  <div class='info-section'>
    <div class='filters'>
      <div class='heading'>Filters</div>
      <div class='content'>
        <table>
          <tr><td class='row-title'>Date</td>
              <td class='row-data'>
                <%= date_range_string_for_filter(filters[:start_date], filters[:end_date], user) %>
              </td>
          </tr>
          <tr>
            <td class='row-title'>Account</td>
            <td class='row-data'><%= filters[:account] %></td>
          </tr>
          <tr>
            <td class='row-title'>Invoice Status</td>
            <td class='row-data'><%= filters[:invoice_status] %></td>
          </tr>
          <tr>
            <td class='row-title'>Payment Method</td>
            <td class='row-data'><%= filters[:payment_method] %></td>
          </tr>
        </table>
      </div>
    </div>

    <div class='totals'>
      <div class='heading'>Totals</div>
      <div class='content'>
         <table>
          <tr><td class='row-title'>Invoice Total</td><td class='row-data'><%= number_to_currency(totals[:invoice]) %></td></tr>
          <tr><td class='row-title'>Payment</td><td class='row-data'><%= number_to_currency(totals[:payment]) %></td></tr>
          <tr><td class='row-title'>Balance Due</td><td class='row-data'><%= number_to_currency(totals[:balance_due]) %></td></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class='results'>
  <table>
    <thead class='heading'>
      <th>Swoop ID</th>
      <th>Service Date</th>
      <th>Time</th>
      <th>Account</th>
      <th>PO</th>
      <th>Service</th>
      <th>Vehicle</th>
      <th>VIN</th>
      <th>Status</th>
      <th>Invoice Status</th>
      <th>Invoice Total</th>
      <th>Payment Method</th>
      <th>Payment</th>
      <th>Balance Due</th>
    </thead>
    <tbody>
      <% results.each do |result| %>
        <tr>
          <td><%= result['Swoop ID'] %></td>
          <td><%= result['Service Date'] %></td>
          <td><%= result['Time'] %></td>
          <td><%= result['Account'] %></td>
          <td><%= result['PO'] %></td>
          <td><%= result['Service'] %></td>
          <td><%= result['Vehicle'] %></td>
          <td><%= result['VIN'] %></td>
          <td><%= result['Status'] %></td>
          <td><%= result['Invoice Status'] %></td>
          <td><%= result['Invoice Total'] %></td>
          <td><%= result['Payment Method'] %></td>
          <td><%= result['Payment'] %></td>
          <td><%= result['Balance Due'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
