<%
  results = sql_results.to_a || []
  filters ||= {}
  collate ||= false # Ensure ist set so we dont blow an error
  # Prep - Do this here so we dont have to keep doing it.

  account = account_name_for_filter(filters['account'])
  driver  = user_name_for_filter(filters['driver'])

  total_commission_amount = results.reduce(0.00) { |memo, result| memo+ (result['Commission'].to_f if result['Commission'].present? || 0.00) }
  total_invoice_amount    = results.reduce(0.00) { |memo, result| memo+ (result['Net Amount'].to_f if result['Net Amount'].present? || 0.00) }
  total_tax_amount        = results.reduce(0.00) { |memo, result| memo+ (result['Tax'].to_f if result['Tax'].present? || 0.00) }
%>

<html>
  <head>
    <style type='text/css'>
      body {
        font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding:10px;
        font-size:1.1em;
        box-sizing: border-box;
      }

      .header { width:100%; }
      .page-break { display:block; clear:both; page-break-after:always; }


      .title-section {
        width:35%;
        float:left;
      }

      .title-section .report-title {
        margin:0;
        margin-bottom:5px;
        padding-bottom:0px;
      }

      .title-section .company-name {
        margin-top:0px;
        font-weight:300;
        color:#ABABAB;
      }

      .content table { width: 100%; }

      .info-section {
        width: 40%;
        float: right;
        border:1px solid #DFDFDF;
        padding:0;
        font-weight:normal;
        margin-bottom: 10px;
      }


      .info-section table {
        text-align: left;
       }

      .heading {
        background-color: #EFEFEF;
        border-bottom:1px solid #DFDFDF;
        color: #777;
        padding-left:0px;
        font-weight:lighter;
      }

     tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
        font-size:0.87em;
      }

      .content {height: 70px; padding-top:5px; }
      .filters table { margin-right:-1px;  }

      .filters { width:50%; float:left; margin:0; }
      .filters .heading { padding:5px 0 5px 5px; border-right:1px solid #DFDFDF; font-size:0.55em !important; }
      .filters .content { padding-left:3px; padding-bottom: 10px; border-right:1px solid #DFDFDF;  }

      .totals  { width:50%; float:left; margin:0; height: 70px; margin-bottom:25px !important; }
      .totals .heading { padding:5px 0 5px 5px; font-size:0.55em !important; }
      .totals .content { padding-left:3px; }

      .row-title { padding-right:5px; }
      .row-title:after { content: ':'; }
      .row-data { font-weight:200; text-align:left; width:50%; }

      .filters .row-data { width:80%; }

      .totals .row-title { width:60%; }

      .amount  { text-align:right !important; }

      .results {  }
      .results table {
        border-spacing:initial;
        /*border:1px solid #DFDFDF;*/
        width:100%;
        padding-top:5px;
        padding-bottom:5px;
        text-align:left;
      }

      .results table th {
        font-weight:lighter;
        padding:5px 5px 5px 5px;
        border-top:1px solid #DFDFDF;
        border-bottom:1px solid #DFDFDF;
        color:#777;
        padding-left:5px;
      }

      .results table td {
        border-bottom: 1px solid #DFDFDF;
        padding:3px 5px 3px 5px;
       }

    </style>


  </head>
   <%= render partial: 'reports/commissions_inner',
      locals: {
        results: results,
        filters: filters,
        company: company,
        driver: driver,
        account: account,
        user: user,
        totals: {
          commission: total_commission_amount,
          invoice: total_invoice_amount,
          tax: total_tax_amount
        }
      } %>
  </body>
</html>
