<%
  results = sql_results.to_a || []
  filters ||= {}
  collate ||= false # Ensure ist set so we dont blow an error
  # Prep - Do this here so we dont have to keep doing it.

  driver  = user_name_for_filter(filters['driver'])
  truck   = truck_name_for_filter(filters['vehicle'])
  account = account_name_for_filter(filters['account'])


  drive_time_total = 0
  total_time       = 0
  total_amount     = 0

  build_colated_results(results, 'Driver') do |colator, result|
    drive_time     = duration_to_seconds(result['Drive Time']).to_f
    t_time         = duration_to_seconds(result['Total Time']).to_f

    filters['start_date'] ||= result['Dispatched Date']

    total_amount     += result['Invoice Total'].to_f if result['Invoice Total'].present?
    drive_time_total += drive_time
    total_time       += t_time


    colator[:totals][:drive]  ||= 0
    colator[:totals][:amount] ||= 0
    colator[:totals][:time]   ||= 0

    colator[:totals][:amount]  += result['Invoice Total'].to_f if result['Invoice Total'].present? || 0.00
    colator[:totals][:drive]   += drive_time
    colator[:totals][:time]    += t_time

    colator[:driver]          ||= result['Driver']
  end
%>

<html>
  <head>
    <style type='text/css'>
      body {
        font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding:10px;
        font-size:1.1em;
        box-sizing: border-box;
      }

      .header { width:100%; }
      .page-break { display:block; clear:both; page-break-after:always; }


      .title-section {
        width:35%;
        float:left;
      }

      .title-section .report-title {
        margin:0;
        margin-bottom:5px;
        padding-bottom:0px;
      }

      .title-section .company-name {
        margin-top:0px;
        font-weight:300;
        color:#ABABAB;
      }

      .content table { width: 100%; }

      .info-section {
        width: 40%;
        float: right;
        border:1px solid #DFDFDF;
        padding:0;
        font-weight:normal;
        margin-bottom: 10px;
      }


      .info-section table {
        text-align: left;
       }

      .heading {
        background-color: #EFEFEF;
        border-bottom:1px solid #DFDFDF;
        color: #777;
        padding-left:0px;
        font-weight:lighter;
      }

     tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
        font-size:0.87em;
      }

      .content {height: 70px; padding-top:5px; }
      .filters table { margin-right:-1px;  }

      .filters { width:50%; float:left; margin:0; }
      .filters .heading { padding:5px 0 5px 5px; border-right:1px solid #DFDFDF; font-size:0.55em !important; }
      .filters .content { padding-left:3px; padding-bottom: 10px; border-right:1px solid #DFDFDF;  }

      .totals  { width:50%; float:left; margin:0; height: 70px; margin-bottom:25px !important; }
      .totals .heading { padding:5px 0 5px 5px; font-size:0.55em !important; }
      .totals .content { padding-left:3px; }

      .row-title { padding-right:5px; }
      .row-title:after { content: ':'; }
      .row-data { font-weight:200; text-align:left; width:50%; }

      .filters .row-data { width:80%; }

      .amount  { text-align:right !important; }

      .results {  }
      .results table {
        border-spacing:initial;
        /*border:1px solid #DFDFDF;*/
        width:100%;
        padding-top:5px;
        padding-bottom:5px;
        text-align:left;
      }

      .results table th {
        font-weight:lighter;
        padding:5px 5px 5px 5px;
        border-top:1px solid #DFDFDF;
        border-bottom:1px solid #DFDFDF;
        color:#777;
        padding-left:5px;
      }

      .results table td {
        border-bottom: 1px solid #DFDFDF;
        padding:3px 5px 3px 5px;
       }

    </style>


  </head>
   <%= render partial: 'reports/driver_report_inner',
      locals: {
        results: results,
        filters: filters,
        company: company,
        driver: driver,
        account: account,
        truck: truck,
        user: user,
        totals: {
          drive: drive_time_total,
          time: total_time,
          amount: total_amount
        }
      } %>

    <% if collate && filters['driver'].blank? %>
      <% colated_results.each do |driver, colator| %>
        <div class='page-break'></div>
        <%= render partial: 'reports/driver_report_inner',
          locals: {
               user: user,
            results: colator[:results],
            filters: filters,
            company: company,
            driver:  colator[:driver].present? ? colator[:driver] : 'Unspecified',
            account: account,
            truck:   truck,
            totals:  colator[:totals]
          } %>
      <% end %>
    <% end %>
  </body>
</html>
