<%
  # results
  results = sql_results.to_a || []

  # filters
  start_date_filter = filters['start_date']
  end_date_filter = filters['end_date']
  account_filter = account_name_for_filter(filters['account'])
  invoice_status_filter = invoice_status_for_filter(filters)
  payment_method_filter = payment_method_for_filter(filters['invoice_payment_method'])

  # totals
  total_invoice = results.map { |result| result['Invoice Total'].to_f }.reduce(:+)
  total_payment = results.map { |result| result['Payment'].to_f }.reduce(:+)
  total_balance_due = results.map { |result| result['Balance Due'].to_f }.reduce(:+)
%>

<html>
  <head>
    <style type='text/css'>
      body {
        font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding:10px;
        font-size:1.1em;
        box-sizing: border-box;
      }

      .header { width:100%; }
      .page-break { display:block; clear:both; page-break-after:always; }


      .title-section {
        width:35%;
        float:left;
      }
      .title-section .logo {
        margin: 0px;
        padding: 0;
      }
      .title-section .report-title {
        margin: 0;
        padding: 0px;
        margin-bottom:0px;
      }

      .title-section .company-name {
        margin: 0 0 0 0;
        padding: 0px;
        font-weight:300;
        color:#ABABAB;
      }

      .title-section .company-details {
        margin: 0 0 0 0;
        padding: 0px;
        font-weight:300;
        font-size:70%;
        color:#ABABAB;
      }

      .title-section .company-details:last-child {
        margin-bottom: 5px;
      }

      .content table { width: 100%; }

      .info-section {
        width: 55%;
        float: right;
        border:1px solid #DFDFDF;
        padding:0;
        font-weight:normal;
        margin-bottom: 10px;
      }


      .info-section table {
        text-align: left;
       }

      .heading {
        background-color: #EFEFEF;
        border-bottom:1px solid #DFDFDF;
        color: #777;
        padding-left:0px;
        font-weight:lighter;
      }

     tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
        font-size:0.87em;
      }

      .content {height: 90px; padding-top:5px; }
      .filters table { margin-right:-1px;  }

      .filters { width:50%; float:left; margin:0; }
      .filters .heading { padding:5px 0 5px 5px; border-right:1px solid #DFDFDF; font-size:0.55em !important; }
      .filters .content { padding-left:3px; padding-bottom: 10px; border-right:1px solid #DFDFDF;  }
      .filters .content .row-data { width: 60%; }
      .totals  { width:50%; float:left; margin:0; height: 70px; margin-bottom:25px !important; }
      .totals .heading { padding:5px 0 5px 5px; font-size:0.55em !important; }
      .totals .content { padding-left:3px; }


      .row-title { padding-right:5px; }
      .row-title:after { content: ':'; }
      .row-data { font-weight:200; text-align:left; width:50%; }

      .filters .row-data { width:68%; }

      .amount  { text-align:right !important; }

      .results {  }
      .results table {
        border-spacing:initial;
        /*border:1px solid #DFDFDF;*/
        width:100%;
        padding-top:5px;
        padding-bottom:5px;
        text-align:left;
      }

      .results table th {
        font-weight:lighter;
        padding:5px 5px 5px 5px;
        border-top:1px solid #DFDFDF;
        border-bottom:1px solid #DFDFDF;
        color:#777;
        padding-left:5px;
      }

      .results table td {
        border-bottom: 1px solid #DFDFDF;
        padding:3px 5px 3px 5px;
       }

    </style>


  </head>
  <body>
    <%= render partial: 'reports/statement_inner',
      locals: {
        results: results,
        company: company,
        user: user,
        filters: {
          start_date: start_date_filter,
          end_date: end_date_filter,
          account: account_filter,
          invoice_status: invoice_status_filter,
          payment_method: payment_method_filter
        },
        totals: {
          invoice: total_invoice,
          payment: total_payment,
          balance_due: total_balance_due
        }
      } %>
  </body>
</html>
