<% 
  results = sql_results.to_a || []
  filters ||= {}
  collated ||= false # Ensure ist set so we dont blow an error



  # Prep - Do this here so we dont have to keep doing it.
  # truck   = truck_name_for_filter(filters['truck'])

  $stderr.puts "FILTERS: #{filters.inspect}"
  account  = account_name_for_filter(filters['account'])
  site     = site_name_for_filter(filters['site'])
  stype    = storage_type_name_for_filter(filters['type'])

%>

<html>
  <head>
    <style type='text/css'>
      body { 
        font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding:10px;
        font-size:1.1em;
        box-sizing: border-box;
      }

      .header { width:100%; }
      .page-break { display:block; clear:both; page-break-after:always; }


      .title-section {
        width:35%;
        float:left;
        outline:red;
      }

      .title-section .report-title { 
        margin:0;
        margin-bottom:5px;
        padding-bottom:0px;
      }
      
      .title-section .company-name { 
        margin-top:0px;
        font-weight:300;
        color:#ABABAB;
      }

      .content table { width: 100%; }

      .info-section {
        width: 40%;
        float: right;
        /*border:1px solid #DFDFDF;*/
        padding:0;
        font-weight:normal;
        margin-bottom: 25px;
      }

      .heading {
        background-color: #EFEFEF;
        border-bottom:1px solid #DFDFDF;
        color: #777;
        padding-left:0px;
        font-weight:lighter;
        padding:5px;
      }

      table, tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
        font-size:0.87em; 
      }


      .content { padding-left:5px; padding-top:5px; }
      .content table { padding-bottom:5px; }

      .filters { width:50%; float:left; margin:0; }
      .filters .heading { border:1px solid #DFDFDF; font-size:0.75em !important; }
      .filters .content { border:1px solid #DFDFDF; border-top: 0;  padding-left:5px; border-right:1px solid #DFDFDF;  }

      .totals  { width:50%; float:left; margin:0; height: 70px; margin-bottom:25px !important; }
      .totals .heading {  
        border:1px solid #DFDFDF; 
        border-right:0px; 
        padding-left:5px;   
        font-size:0.75em !important; }
      .totals .content { 
        border-bottom: 1px solid #DFDFDF;
        border-left: 1px solid #DFDFDF;
        padding-left:5px; 
        font-size:0.75em !important; 
      }

      .row-title { padding-right:15px; }
      .row-title:after { content: ':'; }
      .row-data { font-weight:200; }

      .results {  }
      .results table { 
        border-spacing:initial;
        /*border:1px solid #DFDFDF;*/
        width:100%;
        padding-top:5px;
        padding-bottom:5px;
        text-align:left;
      }

      .results table th {
        font-weight:lighter;
        padding:5px 0 5px 5px;
        border-top:1px solid #DFDFDF;
        border-bottom:1px solid #DFDFDF;
        color:#777;
      }

      .results table td { 
        border-bottom: 1px solid #DFDFDF;
        padding-top:5px;
        padding-bottom:5px;
        padding-left:5px;
       }

    </style>
  </head>
  <body>
      <div class='header'>
      <div class='title-section'>
        <h2 class='report-title'><%= report.name %></h2>
        <h4 class='company-name'><%= company.try(:name) %></h4>
      </div>
      <div class='info-section'>

        <div class='totals'>
          <div class='heading'>Totals</div>
          <div class='content'>
             <table>
              <tr><td class='row-title'>Total Jobs</td><td class='row-data'><%= results.count %></td></tr>
            </table>
          </div>
        </div>

        <div class='filters'>
          <div class='heading'>Filters</div>
          <div class='content'>
            <table>
              <tr><td class='row-title'>Site</td>   <td class='row-data'><%= site %></td></tr>
              <tr><td class='row-title'>Account</td> <td class='row-data'><%= account %></td></tr>
              <tr><td class='row-title'>Type</td> <td class='row-data'><%= stype %></td></tr>         
            </table>
          </div>
        </div>

      </div>
    </div>

    <div class='results'>
      <table>
        <thead class='heading'>
          <th>ID</th>
          <th>Stored Date</th>
          <th>Days</th>
          <th>Site</th>
          <th>Type</th>
          <th>Account</th>
          <th>Year</th>
          <th>Make</th>
          <th>Model</th>
          <th>Color</th>
          <th>License</th>
          <th>Vin</th>
        </thead>
        <tbody>
          <% cnt = 0 %>
          <% results.each do |result| %>
            <% cnt += 1 %>
            <tr>
              <td><%= result['Swoop ID'] %></td>
              <td><%= result['Date'] %></td>
              <td><%= result['Days'] %></td>
              <td><%= result['Site'] %></td>
              <td><%= result['Type'] %></td>
              <td><%= result['Account'] %></td>
              <td><%= result['Year'] %></td>
              <td><%= result['Make'] %></td>
              <td><%= result['Model'] %></td>
              <td><%= result['Color'] %></td>
              <td><%= result['License'] %></td>
              <td><%= result['VIN'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


  </body>
</html>