.company_exists {
  .box-body {
    height: auto;
  }

  .company_exists {
    .details {
      margin: 15px 0;

      span {
        font-weight: bold;
        display: block;
      }
    }

    .forgot_password {
      margin-top: 15px;

      a {
        text-decoration: underline;
      }
    }
  }
}
