.create_account {
  .box-body {
    height: auto;
  }

  .inputWrapper {
    position: relative;
  }

  .info {
    margin-bottom: 15px;

    &.info_personal {
      margin-top: 15px;
    }
  }

  #Containercompanylocation {
    .geosuggest {
      margin: 0;
    }
  }

  #Containeruserterms {
    input {
      vertical-align: top;
    }

    label {
      width: auto;
      margin-left: 10px;

      .error {
        color: red;
        vertical-align: top;
      }
    }
  }

  @media (min-width: 501px) {
    #Containercompanyname,
    #Containercompanyphone,
    #Containeruserfirst_name,
    #Containeruserlast_name {
      width: 48%;

      &#Containercompanyphone,
      &#Containeruserlast_name {
        float: right;
      }
    }
  }
}
