.google-maps-overlay-marker-ui {
  .close-overlay {
    font-size: 14px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 20px;
  }
}
