// TODO
// Sign up, Log In, Reset Password

@import '../colors';

$registration_bg: #f2f2f2;
$box-border: #e2e2e2;
$nav-bg: #565656;
$error: #f00;
$notice: #00951d;

.margintop {
  margin-top: 10px;
}

/* FORM */

.label-reg {
  color: #333;
  font-size: 13px;
  padding-bottom: 3px;
}

.label-reg.remember {
  display: inline;
}

.field_with_errors > input {
  margin-top: -20px;
}

.field_with_errors > .resetpassword {
  margin-top: 0;
}

#error_explanation + p {
  margin-top: 30px;
}

.user-login-links {
  float: right;
  color: #777;
  margin-top: 32px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }

  &.signup {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.user-mock-group {
  margin: 7px 0 0;
}

.actions .signupin-link {
  float: right;
  color: $swoop-blue;
  margin-top: 28px;
  font-size: 16px !important;
}

/* NAV BAR */

#navbar-fixed {
  top: 0;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.main-header.reg {
  width: 100%;
  max-height: 100px;
  z-index: 1030;
  font-size: 14px;
}

.main-header.reg .logo {
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: left;
  width: 100%;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
}

.main-header.reg .logo .logo-lg {
  display: block;
}

/* CONTENT */

.content-wrapper {
  &.reg {
    background-color: $registration_bg;
  }
}

.box-form.reg h1 {
  font-family: 'Gotham-Book', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-left: 0;
}

.reg > hr {
  margin-left: 0;
  padding-right: 0;
  margin-bottom: 25px;
}

.box-form.reg {
  width: 100%;
  max-width: 560px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  @media (max-width: 767px) {
    margin-top: 70px;
  }

  h1 {
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 8px;
  }
}

.box-body.reg {
  border: 1px solid $box-border;
  border-radius: 8px;
  border-collapse: separate;
  background-color: #fff;
  padding: 35px 88px;
  height: 390px;

  .password {
    margin-top: 16px;
  }

  @media (max-width: 767px) {
    width: 80%;
    margin-left: 10%;
    padding: 5px 25px 20px;
  }
}

.bottom-logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  margin-top: 40px;

  .logos {
    margin: 20px 0 30px;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    img {
      margin: 10px 20px;
      height: 40px;
      width: auto;

      &.road-runner-logo {
        padding-top: 5px;
        height: 30px;
      }
    }
  }
}

.user-border-contact-info {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}

/* ERRORS */

.deviseErrorMessages {
  margin-bottom: -10px;
}

.deviseErrorMessages p {
  color: $error;
  width: 100%;
  text-align: center;
}

.notice-message {
  color: $notice;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.alert-message {
  color: $error;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.password_request-field {
  margin: 10px 0 29px;
}

.password_request-no-match {
  margin: 35px 0 89px;
}

.password_request-alert-message {
  @extend .alert-message;

  text-align: left;
}

.password_request-notice-message {
  @extend .notice-message;

  text-align: left;
  margin: 35px 0 119px;
}

.change-password-username {
  margin-top: 8px;
}

.change-password-invalid {
  margin-top: 10px;
  margin-bottom: 20px;
}

.change-password-invalid-uuid {
  margin: 30px 0 143px 0;
}

.change-password-loading {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.fa-pencil {
  color: #aaa;
  height: 100%;
  font-size: 20px;
  line-height: 20px;
  width: auto;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: 2px;

  &.with-margin-left {
    margin-left: 10px;
  }
}

.OauthAuthorize-description {
  margin-bottom: 20px;
}
