<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>New Job Details</title>

    <style type="text/css">
     body{
         width:100% !important;
         -webkit-text-size-adjust:none;
         margin:0;
         padding:0;
     }
     img{
         border:none;
         outline:none;
         text-decoration:none;
         text-transform:capitalize;
     }


     h1{
         color:#565656;
         display:block;
         font-family:'Helvetica Neue', Helvetica, Arial sans-serif;
         font-size:34px;
         font-weight:bold;
         line-height:100%;
         margin-bottom:10px;
         text-align:left;
     }

     h2{
         color:#565656;
         display:block;
         font-family:'Helvetica Neue', Helvetica, Arial sans-serif;
         font-size:30px;
         font-weight:bold;
         line-height:100%;
         margin-bottom:10px;
         text-align:left;
     }

     h3{
         color:#565656;
         display:block;
         font-family:'Helvetica Neue', Helvetica, Arial sans-serif;
         font-size:26px;
         font-weight:bold;
         line-height:100%;
         margin-bottom:10px;
         text-align:left;
     }

     h4{
         color:#565656;
         display:block;
         font-family:'Helvetica Neue', Helvetica, Arial sans-serif;
         font-size:22px;
         font-weight:bold;
         line-height:100%;
         margin-bottom:10px;
         text-align:left;
     }

     td{
         color:#565656;
         font-family:'Helvetica Neue', Helvetica, Arial sans-serif;
         font-size:14px;
         line-height:150%;
         text-align:left;
     }

     body div a:link, body div a:visited{
         color:#7FBCE2;
         font-weight:normal;
         text-decoration:underline;
     }

     /* COLORS

        dark gray:      #565656;
        medium gray:    #a3a3a3;
        light gray:     #f2f2f2;
        Swoop blue:     #7FBCE2;

      */


    </style>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="width: 100% !important; background-color: #f6f6f6;">
    <center>
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="padding: 25px 20px !important; height: 100% !important; width: 100% !important; margin: 0; padding: 0;">
        <tr>
          <td align="center" valign="top">
            <center>
              <table border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #ddd; margin: 0 auto !important; ">
                <tr>
                  <td align="center" valign="top">
                    <!-- Begin Template Header -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                      <tr>
                        <td style="background: #565656; padding-top: 22px; padding-bottom: 22px; <%= @ageroSwoopLogo ? 'text-align: center;' : '' %>" width="600">

                          <!-- Begin Swoop Logo Header -->
                          <a href="<%=ENV["SITE_URL"]%>">
                            <% if @logo %>
                              <img src=<%= asset_url(@logo) %> alt="Swoop Logo" height="35"/>
                            <% elsif @ageroSwoopLogo %>
                              <img src="<%=ENV["SITE_URL"]%>/assets/Agero_Plus_Swoop_Logo_White.png" alt="Agero Swoop Logo" height="40"/>
                            <% else %>
                              <img src="https://ci3.googleusercontent.com/proxy/6qMPWnPYAwOU1unk1Dr6eqsvXq8yksE7D9K6RZi4j7gmsSbNUhxcVf9q2IpDEWDMjna0FpNq_zcIJ7ebdNzQicaHA4eR-r41mcjqvw8j8VHeeR_2ZDT3xp0=s0-d-e1-ft#https://app.joinswoop.com/assets/Swoop_Logo-white-transparent-j.png" alt="Swoop Logo" width="154" height="16"/>
                            <% end %>
                          </a>

                          <!-- End Swoop Logo Header -->

                        </td>
                      </tr>
                    </table>
                    <!-- End Template Header -->
                  </td>
                </tr>
                <tr>
                  <td align="center" valign="top" style="background-color: #fff;">

		    <%= yield %>

                  </td>
                </tr>
                <tr>
                  <td align="center" valign="top">

                  </td>
                </tr>
              </table>
            </center>
            <!-- Begin Footer Container -->
            <center>
              <table border="0" cellpadding="20" cellspacing="0" width="600" style="margin: 0 auto !important;">
                <tr>
                  <td valign="top" >
                    <!-- Begin Footer -->
                    <%= yield :footer %>
                    <table border="0" cellpadding="10" cellspacing="0" width="90%" style="text-align: center; margin: 0 auto !important;">
                      <tr>
                        <td valign="top" width="370" style="text-align: center;">
                          <div style="text-align: center;">
                            <div style="padding: 25px 0 10px; border-top: 1px solid #ddd;">Powered by <a href="http://joinswoop.com">Swoop</a></div>
                            <em>&copy; <%=Date.today.year%> SwoopMe, Inc.</em>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <!-- End Footer -->
                  </td>
                </tr>
              </table>
            </center>
            <!-- End Footer Container -->
            <br>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
