<!DOCTYPE html>
<html>
<head>
  <% Array(@css).each do |css| %>
    <link as="style" href="<%= css %>" rel="preload" />
  <% end %>
  <% Array(@js).each do |js| %>
    <link as="script" href="<%= js %>" rel="preload" />
  <% end %>
  <title>Swoop</title>
  <%= Gon::Base.render_data %>
  <meta content='width=device-width, initial-scale=1, user-scalable=no' name='viewport'>
  <% Array(@css).each do |css| %>
    <link rel="stylesheet" media="all" href="<%= css %>" />
  <% end %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
  <script type="text/javascript">
     window.VERSION = '<%= raw @version %>';
  </script>

   <% if ENV.key? "SEGMENT_PRIVATE_KEY" %>
    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(n,o);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
      analytics.load("<%= ENV["SEGMENT_PRIVATE_KEY"]%>");
      }}();
    </script>
  <% end %>
  <script>
    window.hsConversationsSettings = {
      loadImmediately: false,
    };
  </script>
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2932510.js"></script>
  <!--[if lt IE 9]>
  <script>
    (function(){
      var ef = function(){};
      window.console = window.console || {log:ef,warn:ef,error:ef,dir:ef};
    }());
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-sham.js"></script>
  <![endif]-->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?client=<%= ENV['GOOGLE_PREMIUM_CLIENT_ID'] %>&v=3.37&libraries=drawing,geometry,places">
  </script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://global.localizecdn.com/localize.js"></script>
  <script>!function(a){if(!a.Localize){a.Localize={};for(var e=["translate","untranslate","phrase","initialize","translatePage","setLanguage","getLanguage","detectLanguage","getAvailableLanguages","untranslatePage","bootstrap","prefetch","on","off"],t=0;t<e.length;t++)a.Localize[e[t]]=function(){}}}(window);</script>

  <script>
    Localize.initialize({
      key: '<%= ENV['LOCALIZE_KEY'] %>',
      rememberLanguage: true
    });
  </script>
</head>
<body class="fixed <%= Rails.env.test? ? 'disable-animations' : '' %> <%= controller_name %> <%= action_name %>">
  <div id="root"></div>
  <div id="portal"></div>
  <% Array(@js).each do |js| %>
    <script src="<%= js %>"></script>
  <% end %>
  <%= yield %>
</body>
</html>
